#header {
    background: #000;
    overflow: hidden;
    width:100%;
}


/* family section iOS hack: full name doesn't fit under this size */
@media only screen and (max-width: 425px) {
    body.familie #header h1 {
        width: 115px;
        line-height: 105%; /* make sure we don't see the 2nd line */
    }
}


#content {
    padding: 0;
}

/* layout*/
button,
.button {
    background-color:#333;
}

.gridUnit img {
    background:none;
    border: 0 none;
}


/* typography */
h1 ,h2 {
    font-family:publicoHeadlineWeb, georgia, serif;
    font-weight:bold;
}

.span3 h1,
.span3 h2,
.span2 h1,
.span2 h2,
.span1 h1,
.span1 h2 {
    font-family: ClanWeb, "Arial Black", Arial, Helvetica, sans-serif;
    font-weight:bold;
}

@media only screen and (max-width : 480px) {
    .innerArticle50 .span5 h1,
    .innerArticle50 .span5 h2,
    .innerArticle50 .span4 h1,
    .innerArticle50 .span4 h2,
    .halfSpan5 h1,
    .halfSpan5 h2,
    .halfSpan4 h1,
    .halfSpan4 h2 {
        font-family: ClanWeb, "Arial Black", Arial, Helvetica, sans-serif;
        font-weight:bold;
    }
}

.header h2 {
    background: #000;
    color:#fff;
    font-family:ClanWeb, arial, helvetica, sans-serif;
        font-size:20px;
        font-weight:bold;
        letter-spacing:-.5px;
        line-height: 20px;
    height:20px;
    margin-bottom:0;
    padding: 4px 0 0 27px;
}

.header h2:before {
    background: url(/skins/publications/ap/gfx/sprite_2.png) 0 -50px no-repeat;
    content: " ";
    float:left;
    margin: -2px 0 0 -24px;
    width:20px;
        height:20px;
}


.logoMenu .mobileMenu{
    float:left;
}

.mobileWeather{
    float:right;
}

.mobileWeather .stormWeather-today{
    display: block;
    padding-top: 0;
}

.mobileWeather .stormWeather-symbol{
    display: block;
    margin-top: 9px;
    margin-right:4px;
    float:right;
}

.mobileWeather .stormWeather-symbol img{
    display:block;
    float:right;
    margin-left:5px;
        margin-top:-5px;
}

.mainMenu li {
    border-left: 1px solid #00467D;
    border-right: 1px solid #005DA6;
    height: 2.4em;
    padding-top: 0.5em;
}

.mainMenu a {
    color:#fff;
    font-size:1.2em;
}

/* ads */
.adMarker {
    color:#666;
    display:block;
    font-size:10px;
    margin-left:5px;
}

a {
    color: #014687;
}

section[aria-hidden=true],
div[aria-hidden=true],
article[aria-hidden=true]{
    display:none;
}

.sectionLogo {
	margin: 12px 0 12px 13px;
	float:left;
}

h1.sectionTitle {
    float:left;
    font-family:ClanWeb, Arial, sans-serif;
        font-size:30px;
        font-weight:normal;
        line-height:30px;
    height:30px;
    margin:12px 5px 10px 10px;
}

.sectionTitle a {
    color:#fff;
}


.factboxes img {
    float: right;
    max-width:50%;
        height:auto;
    margin-bottom: 0;
    margin-left: 8px;

}

/* tema */
.artTheme {
    padding: 3px;
}
.artTheme,
.rowTheme {
    text-shadow:0 1px 0 #fff;
    zoom:1;
}

h1.sectionTitle {
    font-size:30px;
    margin:0;
    padding:15px 10px 10px;
}

#page .rowTheme.hasThemeHeadline {
    margin-top:32px;
    position: relative;
}

#page .rowTheme .themeHeadline h1 {
    margin:0;
    font-size: 15px;
}

.comments a {
    text-decoration:none;
    background: url(/skins/global/gfx/icons/sprite_15.png) 0 -76px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 10px;
}

.negativ .comments a {
    color:#fff;
    text-transform:uppercase;
}


.pager {
    list-style:none;
    overflow:hidden;
    padding:5px;
    width:100%;
}
.pager li {
    display:-moz-inline-stack;
    display:inline-block;
    margin-bottom: 20px;
    margin-right:5px;
}
.ie .pager li {
    display:inline;
    position:relative;
}

.pager .button.active {
    background-color:#ccc;
    border:1px solid #666;
    color:#333;
}

.searchresult .searchImg {
    float: left;
    margin: 5px 5px 5px 0;
    width: 80px;
}

.resultList {
    margin-top:0;
    padding-left:30px;
    padding-top:5px;
}

.resultList li {
    border-bottom:1px dotted #ccc;
    color:#666;
    font-size:16px;
        font-weight:bold;
    margin-bottom: 10px;
}

.resultList-inner {
    color:#121212;
    font-size:14px;
        font-weight:normal;
    position:relative;
}

.resultList-inner p {
    font-size:12px;
}

.resultList-number {
    color:#666;
    font-size:16px;
        font-weight:bold;
    position:absolute;
        top:-2px;
        left:-30px;
}

.resultList.withImg .resultList-inner {
    padding-left:80px;
}

.resultList.withImg img {
    position:absolute;
    top:5px;
    left:0;
    width:auto;
}


/* TODO: FLYTTES TIL EGNE FILER */
/*ap/logo/default.css*/
.widget.logo a {
    display:block;
    float:left;
    padding: 5px 5px 3px;
}


.widget.logo img {
    display:block;
    width:100%;
    max-width:186px;
}

@media only screen and (max-width : 320px) {
    .widget.logo img {
        max-width:150px;
    }

    .widget.logo a {
        display:block;
        padding: 2px 5px 0;
    }

    #header .nowForecastForHeader{
        margin-top:0;
    }
}

/*ap/weather/main.css*/
.weather .nowForecastForHeader {
    font-family:ClanWeb, arial, sans-serif;
}


.xml_section {
	float:left;
}

.xml_image {
	width:30%;
	float:left;
	clear:both;
	margin-bottom:5px;
}

.xml_article {
	width:67%;
	float:right;
	margin-bottom:5px;
}

.xml_article h2 {
	margin-bottom:3px;
    color: #000;
}

.xml_article p {
	font-size: 0.83em;
}



.publishInfo {
    border-bottom: 2px solid #7c7b7b;
        border-top: 2px solid #7c7b7b;
    margin-bottom:15px;
    padding: 5px 4px;
}

.publishInfo .byline {
    background: #fff;
    border-left: 0 none;
    font-size:14px;
        font-weight:bold;
    padding:0;
}

.publishInfo .byline .prefix {
    display:none;
}

.publishInfo .byline .fn {
    text-transform:capitalize;
}

.publishInfo .bylineTag {
    border-right: 1px solid #E4E3DC;
    float: left;
    font-family: publicoHeadlineWeb, Cambria, Times, 'Times New Roman', serif;
        font-size: 1.5em;
        font-weight: bold;
    margin-right: 5px;
    padding-right: 5px;
    position: relative;
        z-index: 2;
}

.ie .publishInfo .bylineTag {
    font-family: publicoHeadlineWeb, Cambria, Times, 'Times New Roman', serif;
}

.publishInfo.meninger {
    overflow: hidden;
    width:100%;
}

.publishInfo.meninger .byline {
    padding-top:7px;
}

dl {
    padding: 7px;
	font-size: 0.83em;
  }
dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: right;
	padding-right:3px;
}
.netmeeting dt {
    float: left;
    clear: left;
    width: 100%;
    text-align: left;
}
dd {
    margin: 0;
    padding: 0 0 0.5em;
}

.netmeeting dd {
    padding: 0 0 20px 20px ;
}


/* Les ogsaa */
.relatedArticles .header {
    margin: 0;
}
/*
.relatedArticles {
    border-bottom: 3px solid #000;
    margin-bottom: 10px;
}



.relatedArticles h3 a {
    color: #000;
}

.relatedArticles .header h2 {
    font-size: 0.85em;
}

.relatedArticles>div {
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #e0e0e0;
}

.relatedArticles .inline-image img {
    float: left;
    margin: 0 7px 2px 5px;
}

.relatedArticles .inline-image a {
    width: 40%;
}

.relatedArticles h3 {
    line-height: 1.15em;
    margin-bottom: 4px;
    font-size: 0.95em;
}

.relatedArticles p {
    margin: 0 5px;
    line-height: 1.15em;
    font-size: 0.9em;
}
*/

.dateline{
    border-bottom: 0 none;
}