#header .sectionMenu {
    margin: 30px 0 0 -40px;
}

.sectionMenu ul,
.sectionMenu li {
    height: 15px;
    line-height: 20px;
}

.sectionMenu .hasChildren > a {
    padding-bottom: 7px !important;
}

.sectionMenu a,
.sectionMenu a:visited {
    background-color: transparent;
    color: #fff;
        font-family: "Myriad Web Pro", Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        text-shadow: none;
    height: 15px;
    line-height: 20px;
    padding: 5px 2px 5px 5px;
}
.sectionMenu a:hover {
    color: #c2c2c2;
        text-decoration: none;
}

/* sectionTitle */
#header .sectionTitle {
    border-left: 2px solid #6c8cc7;
    float: left;
    margin: -4px 0 0 -40px;
    padding: 0 10px;
}

#header .sectionTitle,
#header .sectionTitle a {
    color: #6c8cc7;
        font-family: "Myriad Web Pro", Arial, sans-serif;
        font-size: 34px;
}
.sport #header .sectionTitle a {
    color: #eb8c1c;
}
.sport #header .sectionTitle {
    border-color: #eb8c1c;
}
.nytte #header .sectionTitle a {
    color: #2dbdb6;
}
.nytte #header .sectionTitle {
    border-color: #2dbdb6;
}
.kultur #header .sectionTitle a {
    color: #b37ab5;
}
.kultur #header .sectionTitle {
    border-color: #b37ab5;
}
.folk #header .sectionTitle a {
    color: #9dc435;
}
.folk #header .sectionTitle {
    border-color: #9dc435;
}

/* aenergy */
.energi #header .sectionMenu {
    margin-left: -100px;
}

.energi .sectionMenu a {
    padding-right: 12px !important;
}

.sectionMenu .link:hover,
.sectionMenu .link.activeSection,
.sectionMenu a:hover,
.sectionMenu .activeSection a {
    color: #fff;
    text-decoration: underline;
}