<ul class="categories">
    {{each(i, value) topItems}}
        {{if value.children.length != 0}}
            <li class="expanderCollapser collapsed">
        {{else}}
            <li class="leaf">
        {{/if}}
            <label>
                <input name="categoryId" type="checkbox" value="${value.categoryId}" {{html value.checked}}/>
                <a class="ellipsis" href="${searchUrl}?freetextsearch=&amp;categoryId=${value.categoryId}" title="Se alle i {{html value.categoryName}}">
                    {{html value.categoryName}} <span class="f-small">(${value.countedAds})</span>
                </a>
                {{if value.children.length != 0}}
                <ul>
                    {{each(j, child) value.children}}
                    <li class="leaf">
                        <label>
                        <input name="categoryId" type="checkbox" value="${child.categoryId}" {{html child.checked}}/>
                        <a class="ellipsis" href="${searchUrl}?freetextsearch=&amp;categoryId=${child.categoryId}" title="Se alle i {{html child.categoryName}}">
                            {{html child.categoryName}} <span class="f-small">(${child.countedAds})</span>
                        </a>
                        </label>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </label>
        </li>
    {{/each}}
</ul>
