<ul class="articleList">
    {{each(i,prpBean) items}}
    <li>
        <a href='${adUrl}?propertyAdId=${prpBean.propertyAdId}'>
            {{each(k, companyLogoBean) prpBean.company.companyLogos}}
            {{if companyLogoBean.companyLogoType.companyLogoTypeValue == 'DEFAULT_LOGO'}}
                <img src='${companyLogoBean.companyLogoPath}' alt='${prpBean.company.name}' width='180px'/>
            {{/if}}
            {{/each}}

            {{each(j, prpImage) prpBean.propertyImages}}
            {{if prpImage.imageType.propertyImageTypeValue == 'THUMBNAIL'}}
            <img src='http://${lisaLevel}.aftenposten.no/utils/img.php?src=${prpImage.imagePath}&amp;width=180&amp;height=101&amp;resize=crop' alt='${prpBean.address.addressLine1} ${prpBean.address.postNumber.city}'/>
            {{/if}}
            {{/each}}

            <h3>
                {{html prpBean.address.addressLine1}} {{html prpBean.address.postNumber.city}}
            </h3>
            {{if prpBean.salesPrice !== undefined}}
            <p class="teaserText">
                ${prpBean.salesPrice},-
            </p>
            {{/if}}
        </a>
    </li>
    {{/each}}
</ul>