.feed.rssHeadline .withDate a{
    padding-left:40px;
}

.feed.rssHeadline .withDate time{
    color:#666;
    font-size:10px;
        line-height:16px;
    float:left;
    margin-left: -37px;
}