.widget.livestudio.input {
    float: left;
    margin: 10px 0;
}

.widget.livestudio.input fieldset {
    border: 0 none;
    margin: 10px 0;
    padding: 0;
}

.widget.livestudio.input legend {
    color: #000;
    font-size: 13px;
    line-height: 2em;
    padding: 0;
}

.widget.livestudio.input ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eee;
    float: left;
    padding: 0 10px;
    width: 100%;
}

.ie .widget.livestudio.input ul {
    padding: 0 3%;
    width: 94%;
}

.widget.livestudio.input li {
    float: left;
    margin: 0 0 3px;
    position: relative;
    width: 32%;
}

.ie .widget.livestudio.input li {
    margin-right: 4px;
}

.widget.livestudio.input li span {
    clear: both;
    color: red;
    display: block;
    font-size: 10px;
    height: 10px;
    line-height: 10px;
    max-width: 280px;
    padding: 0 0 0 10px;
}

.widget.livestudio.input li span.postNotification {
    bottom: 67px;
    color: #999;
    height: 10px;
    left: auto;
    line-height: 10px;
    margin: 2px 0;
    max-width: 75%;
    right: 10px;
}

.ie7 .widget.livestudio.input li span.postNotification {
    display: block;
    width: 150px;
}

.widget.livestudio.input li:first-child {
    width: 100%;
}

.widget.livestudio.input li:last-child {
    float: right;
}

.widget.livestudio.input label {
    float: left;
    line-height: 20px;
    padding: 0;
    text-indent: 10px;
    width: 100%;
}

.widget.livestudio.input input {
    border-radius: 5px;
    margin: 0 0 2px;
    max-width: 130px;
}

.ie .widget.livestudio.input input {
    float: left;
    max-width: 120px;
}

.widget.livestudio.input textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    width: 100%;
}

.ie .widget.livestudio.input textarea,.ie9 .widget.livestudio.input textarea {
    overflow: hidden;
}

.widget.livestudio.input .formCharCounter {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 10px;
}

.widget.livestudio.input .postButton {
    float: right;
    padding: 0 20px;
}

.ie .widget.livestudio.input .postButton,.ie9 .widget.livestudio.input .postButton {
    background: #000;
    filter: none;
}

.widget.livestudio.input .preloader {
    bottom: 10px;
    display: none;
    left: 40px;
    position: absolute;
}

.ie7 .widget.livestudio.input .preloader {
    float: left;
    left: 120px;
}

.widget.livestudio.input .preloader img {
    height: 11px;
    width: 16px;
}

.widget.livestudio.input .postNotification {
    color: #FF0000;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {
    .widget.livestudio.input label {
        float: none;
        width: 26%;
    }
    
    .widget.livestudio.input .notificationEmail,
    .widget.livestudio.input .notificationAlias {
        top: 22px;
    }
    
    .widget.livestudio.input ul li {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .widget.livestudio.input input[type=text] {
        width: 70%;
        max-width: none;
        float: right;
    }

    .widget.livestudio.input textarea {
        line-height: normal!important;
    }

    .widget.livestudio.input .preloader {
        left: 0;
    }
}

@media only screen and (max-width : 600px) {
    .widget.livestudio.input .preloader {
        position: relative;
        top: 40px;
    }
}