.widget.livestudio.stream {
    float: left;
    width: 100%;
}

.widget.livestudio.stream .items {
    width: 100%;
}

.widget.livestudio.stream .moreToFollow {
    float: left;
    width: 100%;
}

.widget.livestudio.stream .statusTxt {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    color: #29BF10;
    float: left;
    margin: 20px;
    padding: 0;
    position: relative;
    width: 100%;
}

.widget.livestudio.stream .statusTxt:before {
    background: #29bf10;
        background: -moz-radial-gradient(center, ellipse cover, #29bf10 50%, #227414 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%, #29bf10), color-stop(100%, #227414));
        background: -webkit-radial-gradient(center, ellipse cover, #29bf10 50%, #227414 100%);
        background: -o-radial-gradient(center, ellipse cover, #29bf10 50%, #227414 100%);
        background: -ms-radial-gradient(center, ellipse cover, #29bf10 50%, #227414 100%);
        background: radial-gradient(center, ellipse cover, #29bf10 50%, #227414 100%);
    border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 1px 0;
    content: "";
    display: block;
    position: absolute;
        left: -20px;
        top: 2px;
    width: 15px;
        height: 15px;
}

.ie7 .widget.livestudio.stream .statusTxt {
    margin: 20px 0;
    border-left: 15px solid #29bf10;
    text-indent: 15px;
}

.ie7 .widget.livestudio.stream .statusTxt.pending {
    border-left: 15px solid #f7e22e;
}

.ie7 .widget.livestudio.stream .statusTxt.finished {
    border-left: 15px solid #ed552c;
}

.ie7 .widget.livestudio.stream .statusTxt.inactive {
    border-left: 15px solid #bdbdbd;
}

.widget.livestudio.stream .statusTxt.open, .widget.livestudio.stream .statusTxt.live {
    color: #227414;
}

.widget.livestudio.stream .statusTxt.pending {
    color: #ffc600;
}

.widget.livestudio.stream .statusTxt.finished {
    color: #cb3501;
}

.widget.livestudio.stream .statusTxt.inactive {
    color: #7e7e7e;
}

.widget.livestudio.stream .statusTxt.open:before {
    background-color: #29BF10;
}

.widget.livestudio.stream .statusTxt.pending:before {
    background: #f7e22e;
    background: -moz-radial-gradient(center, ellipse cover, #f7e22e 50%, #ffc600 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%, #f7e22e), color-stop(100%, #ffc600));
    background: -webkit-radial-gradient(center, ellipse cover, #f7e22e 50%, #ffc600 100%);
    background: -o-radial-gradient(center, ellipse cover, #f7e22e 50%, #ffc600 100%);
    background: -ms-radial-gradient(center, ellipse cover, #f7e22e 50%, #ffc600 100%);
    background: radial-gradient(center, ellipse cover, #f7e22e 50%, #ffc600 100%);
}

.widget.livestudio.stream .statusTxt.finished:before {
    background: #ed552c;
    background: -moz-radial-gradient(center, ellipse cover, #ed552c 50%, #cb3501 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%, #ed552c), color-stop(100%, #cb3501));
    background: -webkit-radial-gradient(center, ellipse cover, #ed552c 50%, #cb3501 100%);
    background: -o-radial-gradient(center, ellipse cover, #ed552c 50%, #cb3501 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ed552c 50%, #cb3501 100%);
    background: radial-gradient(center, ellipse cover, #ed552c 50%, #cb3501 100%);
}

.widget.livestudio.stream .statusTxt.inactive:before {
    background: #bdbdbd;
    background: -moz-radial-gradient(center, ellipse cover, #bdbdbd 50%, #7e7e7e 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%, #bdbdbd), color-stop(100%, #7e7e7e));
    background: -webkit-radial-gradient(center, ellipse cover, #bdbdbd 50%, #7e7e7e 100%);
    background: -o-radial-gradient(center, ellipse cover, #bdbdbd 50%, #7e7e7e 100%);
    background: -ms-radial-gradient(center, ellipse cover, #bdbdbd 50%, #7e7e7e 100%);
    background: radial-gradient(center, ellipse cover, #bdbdbd 50%, #7e7e7e 100%);
}

.widget.livestudio.stream .informationItem {
    border-top: 1px solid #EDEDED;
    float: left;
    margin: 0;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    -webkit-transition: background,height 1.3s ease-out;
        -moz-transition: background,height 1.3s ease-out;
        -ms-transition: background,height 1.3s ease-out;
        -o-transition: background,height 1.3s ease-out;
        transition: background,height 1.3s ease-out;
}

.widget.livestudio.stream .informationItem.latest {
    background-color: #ffefae;
    border-top: 1px solid #DF6E00;
    color: #df6e00 !important;
}

.widget.livestudio.stream .informationItem.latest:nth-child(2n) {
    background-color: #ffe683;
}

.widget.livestudio.stream .informationItem:nth-child(2n) {
    background-color: #F5F5F5;
}

.widget.livestudio.stream .informationItem header {
    border: 0 none;
    float: left;
    margin: -11px 0 10px -10px;
    width: 100%;
}

.widget.livestudio.stream .informationItem header h2 {
    background-color: #000;
    color: white;
    float: left;
    font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
    line-height: 20px;
    padding: 0 10px;
}

#sa .widget.livestudio.stream .informationItem header h2 {
    background-color: #123466;
}

#fvn .widget.livestudio.stream .informationItem header h2 {
    background-color: #0C9ED7;
}

#bt .widget.livestudio.stream .informationItem header h2 {
    background-color: #014687;
}

#bt .widget.livestudio.stream {
    margin-bottom: 15px;
}

.widget.livestudio.stream .informationItem header h2 span {
    font-size: 12px;
    padding-left: 10px;
}

.widget.livestudio.stream .informationItem .itemContent {
    float: left;
    width: 100%;
}

.widget.livestudio.stream .informationItem .itemContent q {
    color: #808080;
    display: block;
    float: none;
    margin: 10px 0;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    quotes: "\201D " " " "\2018 " "\2019 ";
    width: 100%;
}

.ie7 .widget.livestudio.stream .informationItem .itemContent q {
    width: 85%;
}

.widget.livestudio.stream .informationItem.quoting:nth-child(2n+1) .itemContent q {
    color: #707070;
}

.widget.livestudio.stream .informationItem .itemContent a {
    color: #0075A7;
}

.widget.livestudio.stream .informationItem .itemContent > img {
    float: left;
    margin-left: -10px;
    max-width: 100%;
    padding: 10px;
}

.widget.livestudio.stream .informationItem .livestudio_video {
    background: none repeat scroll 0 0 transparent !important;
    color: white;
    overflow: hidden;
}

.widget.pageTools.liveStudioPageTools {
    margin: 5px 10px 5px 0;
}

.liveStudioPageTools .shareButton {
    margin: 0 5px 0 0;
    width: 80px;
}

.pageTools.print.liveStudioPrintTools {
    clear: both;
}


/*
 from: xstream theme black, just WITHOUT BODY BACKGROUND
http://front.xstream.dk/ap/resources/html5player/css/theme_black.css
*/

.widget.livestudio.stream .xstream-html5player-video-box{
    background-color: #131313;
}
.widget.livestudio.stream #xstream-html5player-title-bar,
.widget.livestudio.stream #xstream-html5player-backend-right-title-bar,
.widget.livestudio.stream #xstream-html5player-most-seen-title,
.widget.livestudio.stream #xstream-html5player-most-seen-title span,
.widget.livestudio.stream div.xstream-html5player-social-button span,
.widget.livestudio.stream #xstream-html5player-sm-title-bar,
.widget.livestudio.stream span.xstream-html5player-button-title,
.widget.livestudio.stream #xstream-html5player-tell-frined-formset,
.widget.livestudio.stream .xstream-html5player-sm-panel-mail-confirmation{
    color: #fff;
}
.widget.livestudio.stream #xstream-html5player-video-backend{
    background-color: #152125;
}
.widget.livestudio.stream div.xstream-html5player-sm-panel-content{
    background-color: #0f181b;
}
.widget.livestudio.stream #xstream-html5player-tell-frined-formset input{
    color: #000;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 960px) {
    .widget.livestudio.stream .informationItem .itemContent q {
        /* mobile css already adds quotes */
        quotes: none !important;
    }
    .widget.livestudio.stream .informationItem .itemContent q:before {
        content: ""; /* remove quotes */
    }
    .widget.livestudio.stream .informationItem .itemContent q:after {
        content: ""; /* remove quotes */
    }
}

/* mobile version */
.mobileStoryContent .widget.livestudio.stream .items .informationItem > img {
    display: block;
    float: none !important;
    width: auto;
    height: auto;
}
.mobileStoryContent .widget.livestudio.stream .items .informationItem {
    padding: 10px 15px 10px 5px !important;
    font-size: 14px;
}
.mobileStoryContent .widget.livestudio.stream .informationItem header {
    margin: -11px 0 4px -10px;
}