#footer {
    background: #000;
    color:#fff;
    padding: 15px 0;
}

#footer .gridRow {
    margin-bottom:20px;
}

#footer h2 {
    font-family:ClanWeb, arial, sans-serif;
        font-size: 23px;
        letter-spacing: -.4px;
}

.ie #footer h2 {
    font-family:'ClanWebBold', arial, sans-serif;
}

#footer a {
    color:#fff;
}

#footer .disclaimer {
    color:#ccc;
    text-align: center;
}

#footer .infoLine {
    background: #222;
    background-image: -moz-linear-gradient(left center , #000000, transparent 20%, transparent 80%, #000000);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0,#000000), color-stop(.2, transparent), color-stop(.8, transparent), color-stop(1,#000000));
        background-image: -webkit-linear-gradient(left center , #000000, transparent 20%, transparent 80%, #000000);
        background-image: linear-gradient(left center , #000000, transparent 20%, transparent 80%, #000000);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
    font-size:12px;
        line-height:16px;
    margin-bottom:20px;
    padding: 10px 0;
}

#footerTips,
#footerContact,
#footerEditor {
    padding-left:100px;
}

#footerTips:before,
#footerContact:before,
#footerEditor:before {
    float:left;
    margin-left:-100px;
}

#footerTips:before {
    content:'Tips:'
}
#footerContact:before {
    content:'Kontakt:'
}
#footerEditor:before {
    content:'Redakt\00f8r:'
}

#footer .infoLine dt {
    float:left;
    margin-right:4px;
}
#footer .infoLine dt:after {
    content:':';
}

#footer .infoLine dd {
    border-right: 1px solid #fff;
    font-weight:bold;
        text-shadow:0 0 5px rgba(0,0,0,.5);
    float:left;
    margin-right:8px;
        margin-left: 0;
    padding-right:8px;
}
#footer .infoLine dd:last-child {
    border-right: 0 none;
}

#footerSocial {
    position:absolute;
        top:0;
        right:0;
}

#footer .footerIcon {
    background-image: url("/skins/publications/ap/gfx/icons/social.png");
        background-repeat:no-repeat;
    float: right;
    margin-left: 20px;
    text-align: center;
    padding-top: 65px;
    position: relative;
        top: -30px;
    width: 64px;
        height: 10px;
}

#footer .footerIcon:hover {
    -moz-transition: none;
        -webkit-transition: none;
        transition: none;
}

#footerTwitter {
    background-position: 0 0;
}

#footerFacebook {
    background-position: -64px 0;
}
#footerBrev {
    background-position: -128px 0;
}
#footerRSS {
    background-position: -192px 0;
}

#footerTwitter:hover,
#footerTwitter:focus {
    background-position: 0 -76px;
    outline: medium none;
}
#footerFacebook:hover,
#footerFacebook:focus {
    background-position: -64px -76px;
    outline: medium none;
}
#footerBrev:hover,
#footerBrev:focus {
    background-position: -128px -76px;
    outline: medium none;
}
#footerRSS:hover,
#footerRSS:focus {
    background-position: -192px -76px;
    outline: medium none;
}

#footerTwitter:active {
    background-position: 0 -76px;
    top: -29px;
}
#footerFacebook:active {
    background-position: -64px -76px;
    top: -29px;
}
#footerBrev:active {
    background-position: -128px -76px;
    top: -29px;
}
#footerRSS:active {
    background-position: -192px -76px;
    top: -29px;
}