.smbContainer, .smbContainer a, .smbContainer a:visited {
    color: #000;
}

section.smb-full {
    background: #fff;
    border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    clear: both;
    font-family: "Lucida Grande",arial;
        font-size: 12px;
    position: relative;
    text-align: left;

}

section.smb-full .logo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-height: 22px;
    max-width: 50px;
}

section.smb-full .client {
    position: absolute;
    left: 0;
    bottom: 0;
}

section.smb-full .magazine {
    position: absolute;
    right: 0;
    top: 0;
}

section.smb-full h2 {
    font-family: "Lucida Grande",arial;
    font-size: 1.12em;
    font-weight: bold;
    line-height: 1em;
    padding: 23px 4px 5px 0;
    margin: 0;
}

section.smb-full img.ad {
    float: left;
    margin-right: 5px;
    width: 47%;
}

.smbContainer p.before {
    text-decoration: line-through;
    color: #333;
    font-weight: normal;
}

.smbContainer p {
    padding: 0 5px;
}

.smbContainer p span,
.smbContainer p span.discount {
    font-weight: bold;
    font-size: 13px;
}

.smbContainer p span.discount {
    color: #000;
    float: right;
}

section.smb-full .nyttig {
    width: 72px;
    position: absolute;
    right: 5px;
    top: -7px;
    z-index: 2;
    color: transparent;
}

.smbContainer.gridRow {
    overflow: visible;
    clear: both;
    margin-right: 3px;
}

.gridRow > article.smb:first-child,
.sectionPage article.smb{
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}

.gridRow > article.smb:before {
    content:"annonse";
    font-size:7px;
    display:block;
    text-align:left;
    padding-left: 5px;
}

.sectionPage article.smb {
    margin-top: auto;
}

.smbContainer section section {
    clear: both;
}