#header .tipHeader {
    font-size:11px;
        line-height:25px;
    height:25px;
    margin-bottom:0;
    overflow:hidden;
}

.tipHeader a {
    display:block;
    font-weight:bold;
        color:#9e0b0f;
        text-shadow: 0 1px 1px #ccc;
    vertical-align:middle;
}

.tipHeader .large {
    display:inline-block;
    font-size:18px;
        font-weight:normal;
    margin-right:5px;
    vertical-align:middle;
}

/* Energi header */
#header .energi .tipHeader {
    background-color: #ec1c23;
    margin: 5px 0 0 5px;
    padding: 0 6px 0 6px;
    -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    width: 176px;
}
#header .energi .tipHeader a {
    text-shadow: none;
    color: #fff;
    font-size: 13px;
    vertical-align: inherit;
}
#header .energi .tipHeader .large {
    font-size: 14px;
    font-weight: bold;
    vertical-align: inherit;
}