.cartoon.section {
    overflow:hidden;
    position: relative;
}

.cartoon.section .counter {
    letter-spacing:1px;
    text-align:center;
    position:absolute;
        bottom:0;
    width:100%;
}

.cartoon.section .counter a {
    color:#666;
}

.cartoon.section .counter a:hover {
    color:#000;
}

.cartoon.section_wumo_grodum .slideshow-list,
.cartoon.section .slideshow-list{
    min-height: 0;
}