<div class="resultsMessage">${count} + treff.</div>
<button class="prevPage navBtn" value = "&#171;">&#171;</button>
<ul>
{{each data}}
<li {{if (name)}}class="pageIndex navBtn {{if (selected === true)}} selected{{/if}}"{{/if}}>
    {{if (name)}}
        <button data-name="${name}" value = "{{html label}}">{{html label}}</button>
    {{else}}
        {{html label}}
    {{/if}}

</li>
{{/each}}
</ul>
<button class="nextPage navBtn" value="&#187;">&#187;</button>




