{{each items}}
	<li itemscope="itemscope" itemtype="http://schema.org/Place">
		<div class="informationPart">
			<h2>
				<a href="${place_link}" class="name">
					${name}
				</a>
			</h2>
			<div class="categories">
				{{each categories}}
                    {{html value}}
                {{/each}}
			</div> 
			<div class="address" itemprop="location" >
                {{if (streetAddress)}}
                    <span itemprop="streetAddress">{{html streetAddress}}</span>
                {{/if}}
                {{if (zipCode)}}
                    <span itemprop="postalCode">{{html zipCode}}</span>
                {{/if}}
                {{if (city)}}
                    <span itemprop="addressLocality">{{html city}}</span>
                {{/if}}
			</div> 
			<div id="rating_${id}" class="rating"></div>
            {{if (priceClass)}}
			    <div class="priceClass ${priceClass}">${priceClass}</div>
            {{/if}}
			{{if recommended}}
				<div class="commonTags"><div class="recommended">Anbefalt</div></div>
			{{/if}}
		</div>
		
		{{if image}}
			<img src="{{html image}}&width=120" alt="" />
		{{/if}}
	</li>
{{/each}}
