.articleLongtermForecast .horizontalData div.timeperiod_hours{
    font-size: 0.8em;
}

.articleLongtermForecast .forecast {
    background-color: #ccc;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.weather.articleLongtermForecast table {
    background-color: #dadada;
    position: relative;
    width: 100%;
}

.articleLongtermForecast th {
    background-color: #999;
    font-weight: normal;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    line-height: 13px;
}
.articleLongtermForecast th.row {
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#eeeeee', endColorstr='#cccccc');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#eeeeee', endColorstr='#cccccc')";
        background-image: -moz-linear-gradient(left, #eee 70%, #ccc);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.7, #eee), color-stop(1, #ccc));
        background-image: -webkit-linear-gradient(left, #eee 70%, #ccc));
        background-image: linear-gradient(left, #eee 70%, #ccc);
    text-align: left;
    padding: 0;
    width:10px;
}
.articleLongtermForecast th.corner {
    background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.articleLongtermForecast th.row {
    padding: 0 5px;
}

.articleLongtermForecast .verticalData th.timeperiod div {
    display:block;
    text-align:center;
    -ms-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        transform:rotate(270deg);
    -ms-transform-origin: top left;
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin:top left;
    height: 0;
    margin-top: 40px;
}

.articleLongtermForecast .verticalData th.timeperiod div span.time{
    width: 40px;
    display:inline-block;
}

.articleLongtermForecast .horizontalData th.timeperiod div span.time{
    display:inline-block;
}

.articleLongtermForecast th.expandCollapse{
    background: #fff;
    cursor: pointer;
    font-size: 1.1em;
}

.articleLongtermForecast tr {
    border-bottom: 10px solid #dadada;
}

.articleLongtermForecast tr:hover {
    background: none!important;
}

.articleLongtermForecast tr td {
    border-bottom: 1px solid #dadada;
    padding: 4px;
    text-align: center;
    width: 56px;
}

.articleLongtermForecast td:first-child {
    border-left: none;
    border-right: 3px solid #FFFFFF;
}

.articleLongtermForecast td:nth-child(even) {
    border-left: none;
    border-right: 3px solid #FFFFFF;
    padding-left: 0;
    width: 59px;
}

.articleLongtermForecast td:nth-child(odd) {
    padding-right: 0;
    width: 60px;
}

.articleLongtermForecast td:nth-child(even) .timeperiod_forecast {
    border-left: 1px solid #FFF;
}

.articleLongtermForecast td:nth-child(odd) .timeperiod_forecast {
    border-right: 1px solid #FFF;
}

.articleLongtermForecast td:first-child .timeperiod_forecast {
    border-left: none;
}

.articleLongtermForecast td.idag {
    height: 122px;
    text-align: left;
}

.articleLongtermForecast td.idag header {
    border: none;
    color: #000;
}

.articleLongtermForecast td.idag .timeperiod_forecast {
    border: none;
    padding: 0 10px;
}

.articleLongtermForecast .idag .weather-icon {
    float: left;
}

.articleLongtermForecast .idag .temp {
    max-width: 50%;
    float: right;
    line-height: 55px;
}

.articleLongtermForecast th.bannerCell {
    color: #fff;
    font-size: 0.9em;
    text-transform: none;
}

.articleLongtermForecast td.bannerCell {
    width: 151px;
}

.articleLongtermForecast td.bannerCell iframe {
    position: relative;
    right: 2px;
}

.articleLongtermForecast strong {
    color: #000;
    font-size: 0.9em;
    font-weight: normal;
}

.articleLongtermForecast .weather-icon {
    cursor: pointer;
    display: block;
    font-size: 0;
    text-decoration: none;
}

.weather.articleLongtermForecast .temp {
    font-size: 1.5em;
}

.weather.articleLongtermForecast .idag .temp {

}

.weather.articleLongtermForecast .temp.warm {
    color: #fa3a2f;
}

.weather.articleLongtermForecast .temp.cold {
    color: #079ed4;
}

.articleLongtermForecast .temp,
.articleLongtermForecast .speed {
    white-space: nowrap;
}

.articleLongtermForecast .direction,
.articleLongtermForecast .speed {
    display: inline-block;
}

.articleLongtermForecast .temp {
    text-align: center;
}

.articleLongtermForecast .wind {
    clear: both;
    color: #333;
        font-size: 0.8em;
        text-align: center;
    margin: 0 auto;
    width: 50px;
}
.articleLongtermForecast .direction {
    margin-right: 8px;
}

.articleLongtermForecast .wind.hideWind {
    display: none;
}

.articleLongtermForecast div.timeperiod_hours.hidden{
    visibility: hidden;
    position:absolute;
}

.articleLongtermForecast .verticalData a:hover {
    text-decoration: none;
}