.weatherForecast.mobileVersion{
    width: 100%;height: auto;
    padding-left:0;
    padding-top: 0;
    text-align:center;
}

.weatherForecast.mobileVersion table{
    margin: auto;
    width: 96%;
}

.weatherForecast.mobileVersion .cityName{
    background: none repeat scroll 0 0 #123466;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

.weatherForecast.mobileVersion  .timePeriod{
    width:20%;
    text-align: center;
}

.weatherForecast.mobileVersion .weather-icon{
    width:50%;
    margin: auto;
}

.weatherForecast.mobileVersion .weather-icon img{
    width:100%;
}

.weatherForecast.mobileVersion .timePeriodHeader{
    font-size:10px;
    text-align:center;
    font-weight:normal;
    text-transform: capitalize;
}

.weatherForecast.mobileVersion .wind .direction{
    text-align:left;
    left: 25px;
    position: relative;
}

.weatherForecast.mobileVersion th{
    font-size:12px;
    text-align:center;
    font-weight:bold;
}

.weatherForecast.mobileVersion div{
    font-size:10px;   
}