/* uses javascipt instead because of IE7 */
.singleLineList .content {
    border-top:1px solid #ccdde7;
}

.singleLineList .content li {
    border-bottom:1px solid #ccdde7;
    padding-top:7px;
        padding-bottom: 3px;
}

.singleLineList .content li:last-child {
    border-bottom-style: solid;
}
