.jobAdListings2.profiledCompanies,
.jobAdListings2.categoryJobadsCombo,
.jobAdListings2.mgmt,
.jobAdListings2.profiled,
.jobAdListings2.recruiting {
    border: none!important;
    display: inline-block;
    font-family: Klavika, Helvetica, Arial, sans-serif;
        font-size: 16px;
}

.jobAdListings2.profiledCompanies header,
.jobAdListings2.categoryJobadsCombo header,
.jobAdListings2.mgmt header,
.jobAdListings2.profiled header,
.jobAdListings2.recruiting header {
    margin-bottom: 0;
}

.jobAdListings2.profiledCompanies header h2,
.jobAdListings2.categoryJobadsCombo header h2,
.jobAdListings2.mgmt header h2,
.jobAdListings2.profiled header h2,
.jobAdListings2.recruiting header h2 {
    background-color: transparent;
        background-image: none;
    color: #808080;
        font-family: Klavika, Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        word-spacing: -5px;
    line-height: 30px;
    padding: 0!important;
}
.jobAdListings2.profiledCompanies header h2:before,
.jobAdListings2.categoryJobadsCombo header h2:before,
.jobAdListings2.mgmt header h2:before,
.jobAdListings2.profiled header h2:before,
.jobAdListings2.recruiting header h2:before {
    display:none!important;
}
.jobAdListings2.profiledCompanies header h2 a,
.jobAdListings2.categoryJobadsCombo header h2 a,
.jobAdListings2.mgmt header h2 a,
.jobAdListings2.profiled header h2 a,
.jobAdListings2.recruiting header h2 a {
    color: #808080;
    font-size: 12px;
}

.jobAdListings2.profiledCompanies .list,
.jobAdListings2.categoryJobadsCombo .list,
.jobAdListings2.mgmt .list,
.jobAdListings2.profiled .list,
.jobAdListings2.recruiting .list {
    width: 180px;
    height: 378px!important;
}

.jobAdListings2.profiledCompanies li,
.jobAdListings2.categoryJobadsCombo li,
.jobAdListings2.mgmt li,
.jobAdListings2.profiled li,
.jobAdListings2.recruiting li {
    float: left;
    width: 180px;
    margin-bottom: 5px;
}

.span4 .jobAdListings2 li,
.span6 .jobAdListings2 li,
.span10 .jobAdListings2 li {
    margin: 0 5px 5px 0;
}

.jobAdListings2.profiledCompanies img,
.jobAdListings2.categoryJobadsCombo img,
.jobAdListings2.mgmt img,
.jobAdListings2.profiled img,
.jobAdListings2.recruiting img {
    vertical-align: middle;
}

.jobAdListings2.profiledCompanies li > a,
.jobAdListings2.categoryJobadsCombo li > a,
.jobAdListings2.mgmt li > a,
.jobAdListings2.profiled li > a,
.jobAdListings2.recruiting li > a,
.jobAdListings2.recruiting li > div {
    background-color: #fafafa;
    float: left;
    line-height: 152px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.jobAdListings2.categoryJobadsCombo li > a,
.jobAdListings2.mgmt li > a,
.jobAdListings2.profiled li > a {
    border-bottom: 4px solid #000;
    line-height: 136px;
}
.jobAdListings2.profiledCompanies li:hover > a,
.jobAdListings2.categoryJobadsCombo li:hover > a,
.jobAdListings2.mgmt li:hover > a,
.jobAdListings2.profiled li:hover > a,
.jobAdListings2.recruiting li:hover > a,
.jobAdListings2.recruiting li:hover > div {
    background-color: #f2f2f2;
}
.jobAdListings2.categoryJobadsCombo li:hover > a,
.jobAdListings2.mgmt li:hover > a,
.jobAdListings2.profiled li:hover > a {
    border-color: #000;
}

.jobAdListings2.profiledCompanies li span,
.jobAdListings2.recruiting li span {
    background-color: #000;
    color: #fff;
        text-align: left;
        text-indent: 5px;
        text-overflow: ellipsis;
    display: block;
    height: 28px;
        line-height: 28px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.jobAdListings2.categoryJobadsCombo li span,
.jobAdListings2.mgmt li span,
.jobAdListings2.profiled li span {
    color: #000;
        text-align: center;
        text-overflow: ellipsis;
    display: block;
    height: 20px;
        line-height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.jobAdListings2.categoryJobadsCombo li span.f-small,
.jobAdListings2.mgmt li span.f-small,
.jobAdListings2.profiled li span.f-small {
    color: #808080;
        font-size: 14px;
}
.jobAdListings2.recruiting li span.count2,
.jobAdListings2.recruiting li span:nth-child(3) {
    background-color: #77c7d3;
}
.jobAdListings2.recruiting li span.count3,
.jobAdListings2.recruiting li span:nth-child(4) {
    background-color: #aadce3;
}

.jobAdListings2.profiledCompanies li span a,
.jobAdListings2.categoryJobadsCombo li span a,
.jobAdListings2.mgmt li span a,
.jobAdListings2.profiled li span a,
.jobAdListings2.recruiting li span a {
    color: #fff;
    text-decoration: none;
}