.jobAdListings2.profiledCompanies .header {
    margin-bottom: 0;
}

.jobAdListings2.profiledCompanies ul {
    border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    padding: 0 5px;
}

.jobAdListings2.profiledCompanies ul li {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    height: 50px;
    padding: 5px;
    vertical-align: middle;
    width: 45%;
}
.jobAdListings2.profiledCompanies ul li:nth-child(odd) {
    border-right: 1px solid #ccc;
}