.sectionSubMenu ul {
    background-color: #fff;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#33000000');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#33000000')";
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0) 70%, rgba(0,0,0,.2));
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.7, rgba(0,0,0,0)),color-stop(1, rgba(0,0,0,.2)));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 70%, rgba(0,0,0,.2));
        background-image: linear-gradient(top, rgba(0,0,0,0) 70%, rgba(0,0,0,.2));
    border-bottom: 1px solid #000;
    display: block;
    font-size: 14px;
    height: 20px;
    margin-top: 15px;
}

.sectionSubMenu li {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
}
.sectionSubMenu li:first-of-type {
    margin-left: 5px;
}

.sectionSubMenu a,
.sectionSubMenu a:visited {
    background-color: #fff;
    border-color: #000;
        border-style: solid;
        border-width: 1px 1px 0;
    -moz-border-radius:5px 5px 0 0;
        -webkit-border-radius:5px 5px 0 0;
        border-radius:5px 5px 0 0;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
    color: #000;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display:block;
    height: 19px;
    padding: 0 10px;
}

.sectionSubMenu a:hover {
    color: #000;
    text-decoration: none;
}

.sectionSubMenu li.activeSection a {
    height: 25px;
    line-height: 25px;
    margin-top: -5px;
}