.addthis_32x32_style .at300bs{
    height: 32px;
    width: 36px;
}

.gridRow.tv {
    background: #000;
}

.gridRow.tv .byline .prefix,
.gridRow.tv .byline .fn,
.gridRow.tv .dateline {
    color: #888;
}

/*body.webtv,*/
/*body.webtv .page {*/
    /*background-color: #c2c2c3;*/
/*}*/