@media only screen and (min-width : 601px) {
    .colophon {
        font-size: 12px;
        position: relative;
    }

    .colophon dt {
        font-weight: bold;
        margin-top: -1px;
        position: absolute;
        left: 0;
        text-align: right;
        width: 70px;
    }

    .colophon dd {
        margin-left: 80px;
    }
}