/**
  CSS for top area sticky menu
  */

#topArea {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999999999;
    left: 0;
}

#topArea .stickyBar,
#topArea .lockedBar {
    line-height: 30px;
}

#topArea + div {
    padding-top: 50px;
}
.hasNotAccess #topArea + div {
    padding-top: 80px;
}

#topArea .stickyBar,
#topArea .stickyBar ul,
#topArea .lock {
    height: 30px;
}

#topArea .stickyBar {
    background: #222;
    color: #fff;
    padding: 3px 0;
}

.stickyBar a {
    border-right: 1px solid #fff;
    color: #fff;
    padding: 0 10px;
    text-shadow: 0 -1px #000;
}
.stickyBar a.lastChild {
    border-right: 0 none;
}

.stickyBar a:hover {
    color:#fff;
}

.stickyBar .storedArticlesTrigger,
.stickyBar .loginDialogs {
    float: left;
    line-height: 30px;
}
.stickyBar .loginDialogs a {
    border-right: 0 none;
        border-left: 1px solid #fff;

}
#topArea .userAccount {
    border-left: 0 none;
}


#topArea .mainMenu {
    float: left;
}

/* locked bar */
.hasAccess #topArea .lockedBar {
    display: none;
}
.hasNotAccess #topArea .lockedBar {
    display: block;
}

#topArea .lockedBar {
    background: #fff;
    text-align: center;
}
#topArea .lockedBar a {
    color: #009fda;
    font-weight: bold;
}
#topArea .lockedBar a:before {
    margin-bottom: -2px;
}


/* error bar */
#topArea .debugBar {
    background: #00659c;
}
#topArea .warningBar {
    background: #be6624;
}
#topArea .errorBar {
    background: #cc2028;
}
#topArea .debugBar,
#topArea .warningBar,
#topArea .errorBar {
    line-height: 30px;
    text-align: center;
}
#topArea .debugBar a,
#topArea .warningBar a,
#topArea .errorBar a {
    color: #fff;
    font-weight: bold;
}
#topArea .debugBar a:before,
#topArea .warningBar a:before,
#topArea .errorBar a:before {
    margin-bottom: -2px;
}

.hasNotAccess #topArea .storedArticlesTrigger {
    color: #777;
}

#topArea .storedArticlesTrigger .active {
    background-color: #fff;
    color: #000;
}

#topArea .storedArticlesTrigger .active.alert {
    background-color: #cc2028;
}

#topArea .storedArticlesTrigger .active .count {
    color: #fff;
}