.adaLogo {
    clear: both;
    height: 0;
    position: relative;
        left: 441px;
        top: 0;
    z-index: 100;
}

.adaLogo.adaLogoSmall {
    left: 341px;
}

.adaLogo img {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
    padding: 5px;
    -moz-border-radius-bottomleft: 8px;
        -webkit-border-bottom-left-radius: 8px;
    	border-bottom-left-radius: 8px;
}