#energyComments li{
    overflow:hidden;
    width:100%
}

#energyComments span.link{
    clear:both;
    float:left;
    text-align:right;
    color:#fff;
    width:100%;
    background-color:#403F3B;
    text-shadow: 0 1px 1px #000;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}