<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="/socket.io/socket.io.js"></script>
<script>
</script>


  <body>
     
    
    <h1>all analysis<h1>
    <ul>
    <% for(var i=0; i<projects.length; i++) { %>
        <li>
            <a class='listElem' href='<%= projects[i].url %>'>
                <%= projects[i].nm %>
            </a>
          </li>
      <% } %>
    </ul>
  
  </body>
</html>