<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method='post'>
    <p><input type='text', name='link', placeholder='Name'/>
    </p>
    <select name="targetLanguage" id="targetLanguage">
      <option value="java">java</option>
      <option value="php">php</option>
      <option value="js">js</option>
    </select>
    <p><input type='text', name='command', placeholder='java build  command'/>
    </p>

    <p><input type='submit', value='linkToRepo'/></p>
    </form>
  </body>
</html>