<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <script type="text/javascript">
  function validateForm(){
    var gitLinkValue = document.forms[0]['link'].value;
    var delimeter = '/';
    var splittedLink = gitLinkValue.split(delimeter);
    //alert(gitLinkValue);
    //alert(splittedLink.length);
    if(splittedLink.length == 5){
      return true;
    }
      return false;
  
  }
  </script>

  <body>
    <h1><%= title %></h1>
    <form method='post', onsubmit='return validateForm()'/>
    <p><input type='text', name='gitCommand', placeholder='type git command', value='git clone'/>
      <input type='text', name='link', placeholder='link', size='35'/>
    </p>
    <select name="targetLanguage" id="targetLanguage">
      <option value="java">java</option>
      <option value="php">php</option>
      <option value="js-sonar">js sonar</option>
      <option value="js-plato">js plato</option>
    </select>
    <p><input type='text', name='javaBuildCommand', placeholder='java build  command'/>
    </p>
   

    <p>files to ignore: <textarea type'text', rows="5", cols="20", name='filesToOmit', placeholder=<%= jsFilesToOmit %> /></textarea></p>
   
    <p><input type='submit', value='start analysis'/></p>

    </form>
  </body>
</html>