<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/handlingSocketConnection.js"></script>


  <body>
     <h1 id='nameOfGitRepo' data-project='<%= nameOfGitRepo %>'> status of "<%= nameOfGitRepo %>" analysis : </h1>

     <h3 id='result' class='progress'> </h3>


    <div class="progressbar"> </div>
    <div class="center"><a id='linkToAnalyzedProject' class='resultLink' href='<%= linkToAnalyzedProject %>'></a> </div>
    <div><a id='errorWhenExecuting'> </a></div>
    <div ><textarea id='log' class='log'></textarea></div>
     
  
  </body>
</html>