<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/handlingSocketConnection.js"></script>


  <body>
     <h1 id='nameOfGitRepo' data-project='<%= nameOfGitRepo %>'> status of "<%= nameOfGitRepo %>" analysis : </h1>

     <h3 id='result'> </h3>


    <div class="progressbar"> </div>
    <div><a id='linkToAnalyzedProject'> </a> </div>
    <div class='log'><textarea id='log' rows='14' cols="70"></textarea></div>
     
  
  </body>
</html>