<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/handlingSocketConnection.js"></script>


  <body>
     <h1 id='nameOfGitRepo' data-project='<%= nameOfGitRepo %>'> status of "<%= nameOfGitRepo %>" analysis : </h1>

     <div id='result'> </div>


    <div class="progressbar"> </div>
    <a id='linkToAnalyzedProject'> </a> 

    
  
  </body>
</html>