.morningstar table {
    margin-bottom: 4px;
}

.morningstar th, .morningstar td {
    font-size: 12px;
        text-align: left;
    padding: 0 4px;
}
.morningstar tr {
    border-bottom: 1px dotted #e8e8e8;
}
.morningstar tbody tr:hover {
    background-color: #f4f0ed;
}