.relatedContents.flyout {
    position:absolute;
        left:-10000px;
}

.relatedContents.flyout.active {
    background:#fff;
    border:1px solid #999;
        border-right:0 none;
    -moz-box-shadow:0 0 20px rgba(0,0,0,.5);
        -webkit-box-shadow:0 0 20px rgba(0,0,0,.5);
        box-shadow:0 0 20px rgba(0,0,0,.5);
    padding:10px 0 10px 10px;
    position:fixed;
        bottom:0;
        z-index:100;
    width:380px;
}


.relatedContents.flyout .close {
    background: #000;
    border: 1px solid #fff;
    -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color:#fff;
    cursor:pointer;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
        left: -15px;
        top: -15px;
        z-index:2;
    text-align: center;
    width:20px;
        height: 20px;
}