.widget.realEstateCarousel.default {
    background-color: #fff;
    border: 1px solid #000;
    clear: both;
    float: left;
    height: 232px;
    margin: 20px 0;
    padding: 0;
    position: relative;
    text-shadow: 0 0 0 #fff;
    visibility:hidden;
    width: 978px;
}

.widget.realEstateCarousel.default.rowTheme:before, .widget.realEstateCarousel.default.rowTheme:after {
    content: none;
}

.widget.realEstateCarousel.default.blackTheme {
    background-color: #111;
}

.widget.realEstateCarousel.default.blueTheme {
    background-color: #014687;
    border: 1px solid #003b72;
}

.widget.realEstateCarousel.default.btBlueTheme {
    border: 1px solid #014687;
}

.widget.realEstateCarousel.default .carouselLink {
    bottom: 4px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
    position: absolute;
    right: 60px;
    text-decoration: none;
}

.widget.realEstateCarousel.default.btBlueTheme .carouselLink {
    color: #014687;
}

.ie7 .widget.realEstateCarousel.default .carouselLink {
    float:right;
    width: 100px;
    height:21px;
}

.widget.realEstateCarousel.default .carouselLink span {
    float: right;
    font-size: 16px;
    line-height: 20px;
    padding: 1px 0 0 5px;
}

.ie7 .widget.realEstateCarousel.default .carouselLink span {
    float:none;
}

.widget.realEstateCarousel.default.blackTheme .carouselLink,.widget.realEstateCarousel.default.blueTheme .carouselLink {
    color: #fff;
}

.widget.realEstateCarousel.default.itemsCount_1 {
    width: 332px;
}

.widget.realEstateCarousel.default.itemsCount_2 {
    width: 548px;
}

.widget.realEstateCarousel.default.itemsCount_3 {
    width: 764px;
}

.widget.realEstateCarousel.default .themeHeadline {
    top: -32px;
    visibility:hidden;
    z-index: 5;
}

.widget.realEstateCarousel.default .headlineWrap {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    display: block;
    float: left;
    height: 32px;
    left: -1px;
    position: relative;
    top: -33px;
    width: 100%;
}

.widget.realEstateCarousel.default.blueTheme .headlineWrap {
    border-left: 1px solid #003B72;
    border-right: 1px solid #003B72;
    border-top: 1px solid #003B72;
}

.widget.realEstateCarousel.default.btBlueTheme .headlineWrap {
    border-left: 1px solid #014687;
    border-right: 1px solid #014687;
    border-top: 1px solid #014687;
}

.widget.realEstateCarousel.default .scrollLeft, .widget.realEstateCarousel.default .scrollRight {
    background-color: #FFFFFF;
    color: #000000;
    display: block;
    height: 31px;
    line-height: 31px;
    position: absolute;
    text-decoration: none;
    z-index: 5;
}

.widget.realEstateCarousel.default.blueTheme .scrollLeft, .widget.realEstateCarousel.default.blueTheme .scrollRight,
.widget.realEstateCarousel.default.btBlueTheme .scrollLeft, .widget.realEstateCarousel.default.btBlueTheme .scrollRight {
    color: #014687;
}

.widget.realEstateCarousel.default .scrollRight {
    padding-left: 3px;
    padding-right: 2px;
    right:0;
}

.widget.realEstateCarousel.default .scrollLeft {
    left: 43px;
    padding-left: 2px;
    padding-right: 3px;
}

.widget.realEstateCarousel.default .scrollRight:hover, .widget.realEstateCarousel.default .scrollLeft:hover {
    background-color: #000;
    color: #fff;
}

.widget.realEstateCarousel.default.blueTheme .scrollRight:hover, .widget.realEstateCarousel.default.blueTheme .scrollLeft:hover,
.widget.realEstateCarousel.default.btBlueTheme .scrollRight:hover, .widget.realEstateCarousel.default.btBlueTheme .scrollLeft:hover{
    background-color: #014687;
}

.widget.realEstateCarousel.default .categoriesList {
    float: right;
    /* FIX for next release
    float: none;
    margin-left: 60px; */
    overflow: hidden;
}

.widget.realEstateCarousel.default .categories {
    font-family: 'ClanWeb',Arial,sans-serif;
    font-size: 25px;
    /*letter-spacing: -0.3pt; This doesn't affect letters in Chrome and causes Firefox to wrongly calculate element width*/
    line-height: 22px;
    position: relative!important;
    z-index: 1;
}

.widget.realEstateCarousel.default .categories li {
    border-right: 3px solid #000000;
    border-left-width: 0px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.widget.realEstateCarousel.default.blueTheme .categories li,.widget.realEstateCarousel.default.btBlueTheme .categories li {
    border-right: 3px solid #014687;
}

.widget.realEstateCarousel.default .categories a {
    color: #000000;
    display: block;
    padding: 6px 10px 3px;
    text-decoration: none;
    white-space: nowrap;
}

.widget.realEstateCarousel.default.blueTheme .categories a,.widget.realEstateCarousel.default.btBlueTheme .categories a {
    color: #014687;
}

.widget.realEstateCarousel.default .categories a:hover, .widget.realEstateCarousel.default .categories .selected a {
    background-color: #000;
    color: #fff;
}

.widget.realEstateCarousel.default.blueTheme .categories a:hover, .widget.realEstateCarousel.default.blueTheme .categories .selected a,
.widget.realEstateCarousel.default.btBlueTheme .categories a:hover, .widget.realEstateCarousel.default.btBlueTheme .categories .selected a{
    background-color: #014687;
}

.widget.realEstateCarousel.default .carouselHolder {
    height: 264px;
    margin-top: -148px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
}
.ie7 .widget.realEstateCarousel.default .categoriesList {
    position: relative!important;
}
.ie7 .widget.realEstateCarousel.default .carouselHolder {
    left: 0px!important;
}

.widget.realEstateCarousel.default .listHolder {
    margin: 0 61px;
}

.widget.realEstateCarousel.default .adList {
    float: left;
    list-style-type: none;
    margin: -92px 0 10px 61px;
    position: absolute;
    top: 50%;
    width: 9000px;
}

.widget.realEstateCarousel.default .listHolder .adList {
    padding: 0;
    margin-left: 0 !important;
}

.widget.realEstateCarousel.default .adList li {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 192px;
    margin-bottom: 10px;
    margin-right: 6px;
    position: relative;
    width: 210px;
}

.widget.realEstateCarousel.default .adInner {
    background-color: #FFFFFF;
    border: 1px solid #3F3F3F;
    color: #000000;
    float: left;
    height: 190px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    width: 210px;
}

.widget.realEstateCarousel.default.blackTheme .adInner,.widget.realEstateCarousel.default.blueTheme .adInner {
    border-color: #FFFFFF;
}

.widget.realEstateCarousel.default.btBlueTheme .adInner {
    border-color: #014687;
}

.widget.realEstateCarousel.default .adWrap {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0 solid transparent;
    border-radius: 0 0 0 0;
    cursor: pointer;
    float: left;
    height: 192px;
    left: 0;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 3;
}

.widget.realEstateCarousel.default.blueTheme .adWrap,.widget.realEstateCarousel.default.btBlueTheme .adWrap {
    background-color: rgba(0, 52, 100, 0.65);
}

.ie .widget.realEstateCarousel.default .adWrap {
    background-color: #7f7f7f;
}

.ie7 .widget.realEstateCarousel.default .adWrap {
    border: 0px solid #7f7f7f;
}

.widget.realEstateCarousel.default .adWrap.zoom {
    z-index: 6;
}

.widget.realEstateCarousel.default  .adWrap.zoom .adInner {
    margin: 0;
    border-color: #fff;
}

.widget.realEstateCarousel.default .adInner .adOrganization {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
}

.widget.realEstateCarousel.default .adInner .adOrganization img {
    height: 20px;
    width: 100% !important;
    z-index: 1;
}

.widget.realEstateCarousel.default .adWrap.zoom .adInner .adOrganization img {
    width: 350px;
    height: 33px;
    top: 0;
}

.widget.realEstateCarousel.default  .adWrap.zoom .adInner .adOrganization {
    font-size: 14px;
}

.widget.realEstateCarousel.default .adInner .listPrice {
    background: #333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 20px;
    z-index: 4;
}

.widget.realEstateCarousel.default.blueTheme .adInner .listPrice {
    background-color: #0159AC;
}

.widget.realEstateCarousel.default.btBlueTheme .adInner .listPrice {
    background-color: #014687;
}

.widget.realEstateCarousel.default.priceBadge .adInner .listPrice {
    right: -5px;
    top: 28px;
    -moz-transform: rotate(5deg);
    -webkit-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
}

.widget.realEstateCarousel.default .adWrap.zoom .adInner .listPrice {
    display:block;
    top: 32px;
}

.widget.realEstateCarousel.default .adInner .adThumb {
    border-top: 1px solid #fff;
    left: 0;
    position: absolute;
    width: 100%;
}

.widget.realEstateCarousel.default.blueTheme .adInner .adThumb {
    border-top: 1px solid #014687;
}

.widget.realEstateCarousel.default.btBlueTheme .adInner .adThumb {
    border-top: 1px solid #999;
}

.widget.realEstateCarousel.default .adWrap.zoom .adInner .adThumb {
    border: 0;
    top: 34px;
}

.widget.realEstateCarousel.default .adInner .adText {
    background-color: #fff;
    bottom: 0;
    font-size: 10px;
    height: 24px;
    left: 0;
    line-height: 24px;
    overflow: hidden;
    padding: 0 5% 3px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    word-wrap: break-word;
    z-index: 4;
}

.widget.realEstateCarousel.default  .adWrap.zoom .adInner .adText {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0 none;
    color: #FFFFFF;
    display: inline;
    font-size: 14px;
    height: auto;
    line-height: 16px;
    margin-bottom: 0;
    padding: 5px 5%;
    text-overflow: clip;
    visibility: visible;
    white-space: normal;
    word-wrap: normal;
}

.widget.realEstateCarousel.default.blueTheme  .adWrap.zoom .adInner .adText {
    background-color: rgba(0, 52, 100, 0.65);
}

.ie .widget.realEstateCarousel.default  .adWrap.zoom .adInner .adText {
    background-color: #7f7f7f;
}

.widget.realEstateCarousel.default .scrollBar {
    float: right;
    margin: 0 7px 0 1px;
    width: 45px;
    height: 200px;
}

.widget.realEstateCarousel.default .listNavHolder {
    background-color: #FFFFFF;
    height: 212px;
    position: absolute;
    top: 32px;
    width: 56px;
    z-index: 4;
}

.widget.realEstateCarousel.default.blackTheme .listNavHolder {
    background-color: #111111;
}

.widget.realEstateCarousel.default.blueTheme .listNavHolder {
    background-color: #014687;
}

.widget.realEstateCarousel.default .listNavHolder.left {
    position: absolute;
    left: 0;
}

.widget.realEstateCarousel.default .listNavHolder.right {
    position: absolute;
    right: 0;
}

.widget.realEstateCarousel.default .listNav {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    border: 1px solid #b2b2b2;
    font-size: 1px; /* scale inner element borders with EM because % scaling is not supported - 1px = 1em */
    height: 25px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 25px;
    z-index: 4;
}

.widget.realEstateCarousel.default.blackTheme .listNav {
    background: #333333;
    background: -moz-linear-gradient(top,  #333333 0%, #111111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#111111));
    background: -webkit-linear-gradient(top,  #333333 0%,#111111 100%);
    background: -o-linear-gradient(top,  #333333 0%,#111111 100%);
    background: -ms-linear-gradient(top,  #333333 0%,#111111 100%);
    background: linear-gradient(top,  #333333 0%,#111111 100%);
    border-color: #FFFFFF;
}

.widget.realEstateCarousel.default.blueTheme .listNav {
    background: #0159ac;
    background: -moz-linear-gradient(top,  #0159ac 0%, #014687 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#014687), color-stop(100%,#014687));
    background: -webkit-linear-gradient(top,  #0159ac 0%,#014687 100%);
    background: -o-linear-gradient(top,  #0159ac 0%,#014687 100%);
    background: -ms-linear-gradient(top,  #0159ac 0%,#014687 100%);
    background: linear-gradient(top,  #0159ac 0%,#014687 100%);
    border-color: #FFFFFF;
}

.widget.realEstateCarousel.default .listNavHolder .listNav {
    border-width: 3px;
    font-size: 4px;
    height: 76px;
    margin-top: -38px;
    width: 76px;
}

.widget.realEstateCarousel.default .listNav:hover {
    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
    background: linear-gradient(top,  #fafafa 0%,#eaeaea 100%);
    z-index: 5;
}

.widget.realEstateCarousel.default.blackTheme .listNav:hover {
    background: #444444;
    background: -moz-linear-gradient(top,  #444444 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222));
    background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%);
    background: -o-linear-gradient(top,  #444444 0%,#222222 100%);
    background: -ms-linear-gradient(top,  #444444 0%,#222222 100%);
    background: linear-gradient(top,  #444444 0%,#222222 100%);
}

.widget.realEstateCarousel.default.blueTheme .listNav:hover {
    background: #444444;
    background: -moz-linear-gradient(top,  #015fb7 0%, #004d95 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#015fb7), color-stop(100%,#004d95));
    background: -webkit-linear-gradient(top,  #015fb7 0%,#004d95 100%);
    background: -o-linear-gradient(top,  #015fb7 0%,#004d95 100%);
    background: -ms-linear-gradient(top,  #015fb7 0%,#004d95 100%);
    background: linear-gradient(top,  #015fb7 0%,#004d95 100%);
}

.widget.realEstateCarousel.default .listScrollLeft {
    border-bottom-right-radius: 50%;
    border-left: 0 none;
    border-top-right-radius: 50%;
    left: 0;
}

.widget.realEstateCarousel.default .listScrollRight {
    border-bottom-left-radius: 50%;
    border-right: 0 none;
    border-top-left-radius: 50%;
    right: 0;
}

.widget.realEstateCarousel.default .listNav span {
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
}

.widget.realEstateCarousel.default .listScrollLeft span {
    border-bottom: 6em solid transparent;
    border-right: 9em solid #777777;
    border-top: 6em solid transparent;
    left: 3em;
    margin-top: -6em;
}

.ie7 .widget.realEstateCarousel.default .listNav span {
    margin-top: -2em;
}

.widget.realEstateCarousel.default.blackTheme .listScrollLeft span,.widget.realEstateCarousel.default.blueTheme .listScrollLeft span {
    border-right-color: #FFFFFF;
}

.widget.realEstateCarousel.default .listScrollRight span {
    border-bottom: 6em solid transparent;
    border-left: 9em solid #777777;
    border-top: 6em solid transparent;
    margin-top: -6em;
    right: 3em;
}

.widget.realEstateCarousel.default.blackTheme .listScrollRight span,.widget.realEstateCarousel.default.blueTheme .listScrollRight span {
    border-left-color: #FFFFFF;
}

.widget.realEstateCarousel.default .adWrap .listNav {
    display: none;
    height: 50px;
    margin-top: -25px;
}

.widget.realEstateCarousel.default .adWrap .listNav:hover {
    background: #555555;
    background: -moz-linear-gradient(top,  #555555 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top,  #555555 0%,#333333 100%);
    background: -o-linear-gradient(top,  #555555 0%,#333333 100%);
    background: -ms-linear-gradient(top,  #555555 0%,#333333 100%);
    background: linear-gradient(top,  #555555 0%,#333333 100%);
    border-color: #ccc!important;
    cursor: pointer;
}

.widget.realEstateCarousel.default .adWrap .listScrollLeft:hover span {
    border-right-color: #eee;
}

.widget.realEstateCarousel.default .adWrap .listScrollRight:hover span {
    border-left-color: #eee;
}

.widget.realEstateCarousel.default.blueTheme .adWrap .listNav:hover,.widget.realEstateCarousel.default.btBlueTheme .adWrap .listNav:hover {
    background: #0f75d5;
    background: -moz-linear-gradient(top,  #0f75d5 0%, #0159AC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f75d5), color-stop(100%,#0159AC));
    background: -webkit-linear-gradient(top,  #0f75d5 0%,#0159AC 100%);
    background: -o-linear-gradient(top,  #0f75d5 0%,#0159AC 100%);
    background: -ms-linear-gradient(top,  #0f75d5 0%,#0159AC 100%);
    background: linear-gradient(top,  #0f75d5 0%,#0159AC 100%);
    border-color: #65abed!important;
    cursor: pointer;
}

.widget.realEstateCarousel.default.blueTheme .adWrap .listScrollLeft:hover span,.widget.realEstateCarousel.default.btBlueTheme .adWrap .listScrollLeft:hover span {
    border-right-color: #8ac2f7;
}

.widget.realEstateCarousel.default.blueTheme .adWrap .listScrollRight:hover span,.widget.realEstateCarousel.default.btBlueTheme .adWrap .listScrollRight:hover span {
    border-left-color: #8ac2f7;
}

.widget.realEstateCarousel.default .adWrap.zoom .listNav {
    display:block;
}

.widget.realEstateCarousel.default .adWrap.zoom .listNav.disabled {
    background: none repeat scroll 0 0 #666666;
    border-color: #555555 !important;
    cursor: default;
}

.widget.realEstateCarousel.default.blueTheme .adWrap.zoom .listNav.disabled,.widget.realEstateCarousel.default.btBlueTheme .adWrap.zoom .listNav.disabled {
    background: none repeat scroll 0 0 #4D89C2;
    border-color: #246DB1 !important;
}

.widget.realEstateCarousel.default .adWrap.zoom .listScrollLeft.disabled span {
    border-right-color: #555;
}

.widget.realEstateCarousel.default .adWrap.zoom .listScrollRight.disabled span {
    border-left-color: #555;
}

.widget.realEstateCarousel.default.blueTheme .adWrap.zoom .listScrollLeft.disabled span,.widget.realEstateCarousel.default.btBlueTheme .adWrap.zoom .listScrollLeft.disabled span {
    border-right-color: #246DB1;
}

.widget.realEstateCarousel.default.blueTheme .adWrap.zoom .listScrollRight.disabled span,.widget.realEstateCarousel.default.btBlueTheme .adWrap.zoom .listScrollRight.disabled span {
    border-left-color: #246DB1;
}

.widget.realEstateCarousel.default .adWrap .listScrollLeft {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50% 0 0 50%;
    border-right: 0 none;
    left: 5px;
}

.widget.realEstateCarousel.default.blackTheme .adWrap .listScrollLeft,.widget.realEstateCarousel.default.blueTheme .adWrap .listScrollLeft,
.widget.realEstateCarousel.default.btBlueTheme .adWrap .listScrollLeft{
    border-left-color: #fff;
}

.widget.realEstateCarousel.default .adWrap .listScrollRight {
    border-left: 0 none;
    border-radius: 0 50% 50% 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    right: 5px;
}

.widget.realEstateCarousel.default.blackTheme .adWrap .listScrollRight,.widget.realEstateCarousel.default.blueTheme .adWrap .listScrollRight,
.widget.realEstateCarousel.default.btBlueTheme .adWrap .listScrollRight{
    border-right-color: #fff;
}

.widget.realEstateCarousel.default .adWrap .listNav span {
    border-bottom: 12em solid transparent;
    border-top: 12em solid transparent;
    margin-top: -12em;
}

.ie7 .widget.realEstateCarousel.default .adWrap .listNav span {
    margin-top: -1em;
}

.widget.realEstateCarousel.default .adWrap .listScrollLeft span {
    left: 7em;
}

.widget.realEstateCarousel.default .adWrap .listScrollRight span {
    right: 7em;
}

.widget.realEstateCarousel.default .scrollBar a {
    color: #333;
    float: left;
    font-size: 50px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.ie .widget.realEstateCarousel.default .scrollBar a,.ie9 .widget.realEstateCarousel.default .scrollBar a {
    text-indent: -10000em;
    background: url("/skins/global/gfx/realEstateCarousel/arrows.png") no-repeat scroll 8px -50px transparent;
}

.ie .widget.realEstateCarousel.default .scrollBar a:first-child,.ie9 .widget.realEstateCarousel.default .scrollBar a:first-child {
    background: url("/skins/global/gfx/realEstateCarousel/arrows.png") no-repeat scroll 8px 7px transparent;
}

.widget.realEstateCarousel.default .scrollBar a:first-child{
    margin-top: 45px;
}

.widget.realEstateCarousel.default .scrollBar a:hover {
    color: #555;
}