.shipTraffic .small {
    width: 280px;
    height: 150px;
}

.shipTraffic .medium {
    width: 800px;
    height: 600px;
}

.shipTraffic .large {
    width: 980px;
    height: 600px;
}

.shipList{
    overflow:auto;
    width:160px;
    height:600px;
}

#categories, #mapview {
    clear: both;
    padding-top: 10px;
}

.categoryList {
    font-size:11px;
    color:#999;
}

.categoryList.header {
    font-weight: bold;
}

#categories, #mapView, #side_bar{
    visibility:visible;
}
.info {
    width: 750px;
    margin-top: 10px
}

.span6 .info {
    width: inherit;
}

