.span10,
.span9,
.span8,
.span7,
.span6,
.span5,
.span4,
.span3,
.span2,
.span1{
    width:100%;
}
.span10 h2,
.span7 h2,
.span6 h2,
.span5 h2,
.span4 h2,
.span3 h2,
.span2 h2,
.span1 h2{
    font-size:16px;
}

.span10 h1{
    font-size: 1.44em;
}

.gridRow {width:100%;margin: 0 auto;}

.articlefront{
    border-bottom:solid 1px #ccc;
    margin-bottom:10px;
    padding-bottom:10px;
}
.sectionPage .gridRow{
    margin-bottom:0;
}

.sectionPage .gridUnit,
.gridUnit{
    border:0;
    float:none;
    margin:0;
    padding:0;
}


.gridUnit {
    -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    float: left;
    padding-left: 10px;
}

.span6 {
    width:100%;
}

/* forms*/
.contentSearch {
    margin-left:5px;
}

.pillBox {
    border:0 none;
}

.pillBox button,
.pillBox input,
.pillBox input:first-child, .pillBox input.first {
    border:1px solid #333;
        border-radius:5px;
    float:none;
    padding:5px 10px;
}

.innerArticle50 .span5 .article,
.innerArticle50 .span4 .article,
.span3 .article,
.span2 .article,
.span1 .article {
	width:100%;
}

.moodboard {
	display: none;
}

#content {
	width:100%;
}

.mostRead {
	display: none;
}