.stories.list > footer {
    border-top:1px solid #D0D6E0;
    border-bottom:1px solid #D0D6E0;
    margin-top:5px;
}

.stories.list .gridRow + footer {
    border-top:0;
    margin-top:-15px;
}

.stories.list > footer a {
    display: block;
    font-size: 16px;
    height: auto;
    line-height: 1.2;
    padding:5px;
}

.stories.list > footer a:before {
    content: '\27A4\0020';
}

.stories.list.rotator.folk .item:hover .birthday,
.stories.list.rotator.folk .active .birthday {
    display: block;
    line-height:20px;
    text-align: center;
    position: relative;
    top:-20px;
    left:-20px;
    width:60px;

}

.stories.list.rotator.folk .birthday:before {
    content:'\25CF';
    color:#ec008c;
    font-size:100px;
    text-shadow:1px 1px 5px rgba(0,0,0,.2);
    position: absolute;
    top:-6px;
    left:0;
}

.stories.list.rotator.folk .birthday span {
    color:#fff;
    font-size:12px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

.stories.list.folk a.personal {
    background: #fff;
    border:1px solid #ccc;
    box-shadow:1px 2px 5px rgba(0,0,0,.1);
    display:block;
    padding:5px;
}

.stories.list.folk a.personal img {
    border:0;
    margin:0;
    width:100%;
}

.stories.list.folk .item:nth-child(4n+1) a.personal,
.stories.list.folk .gridUnit:nth-child(4n+1) a.personal {
    -moz-transform:rotate(1deg);
    -webkit-transform:rotate(1deg);
    transform:rotate(1deg);
}

.stories.list.folk .item:nth-child(4n+2) a.personal,
.stories.list.folk .gridUnit:nth-child(4n+2) a.personal {
    -moz-transform:rotate(-.5deg);
    -webkit-transform:rotate(-.5deg);
    transform:rotate(-.5deg);
}

.stories.list.folk .item:nth-child(4n+3) a.personal,
.stories.list.folk .gridUnit:nth-child(4n+3) a.personal {
    -moz-transform:rotate(-1.5deg);
    -webkit-transform:rotate(-1.5deg);
    transform:rotate(-1.5deg);
}

.stories.list.folk .item:nth-child(4n+4) a.personal,
.stories.list.folk .gridUnit:nth-child(4n+4) a.personal {
    -moz-transform:rotate(1.5deg);
    -webkit-transform:rotate(1.5deg);
    transform:rotate(1.5deg);
}

.list .media {
    border:1px solid #666;
    display:block;
    overflow:hidden;
    margin-bottom:4px;
}

.list.noBorder .media {
    border:0 none;
}