.widget.classifiedBox.overview.mobile {
    padding: 20px 0 0 0 !important;
}

.widget.classifiedBox.overview.mobile header {
    display: none;
}

.widget.classifiedBox.overview .resultListBox .resultItemResultList li {
    background: #F2F2F2;
    border-bottom: 3px solid #000;
    height: 430px;
}

.widget.classifiedBox.overview.mobile .resultItemResultList li .resultItemPrice {
    color: #000;
}

.widget.classifiedBox.overview .resultListBox .resultItemThumb {
    border-bottom: 1px solid #004687;
}

.widget.classifiedBox.overview .resultListBox .resultItemLogo {
    border: 1px solid #FFFFFF;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

.widget.classifiedBox.overview .resultListBox .resultItemText {
    color: #666666;
    display: block;
    font-size: 10pt;
    height: 40px;
    padding: 0 10px;
    text-align: center;
}

.widget.classifiedBox.overview .resultListBox .resultItemAddress {
    color: #A3A3A3;
    font-style: oblique;
    display: block;
    font-size: 10pt;
    padding: 15px 10px 5px 10px;
    text-align: center;
}

.widget.classifiedBox.overview .resultListBox .resultItemPrice {
    color: #000;
    font-weight: bold;
    font-size: 24pt;
    padding: 0 10px;
    text-align: center;
    display: block;
}

.widget.classifiedBox.overview.mobile .pagelinks {
    background: #000 !important;
}

.widget.classifiedBox.overview.mobile .pagelinks li.current a {
    background: #666 !important;
}

.widget.classifiedBox.overview.mobile .pagelinks li a, .widget.classifiedBox.overview.mobile .pagelinks li.skip {
    border-right: 1px solid #FFF;
    border-left: 1px solid rgba(35, 35, 35, 0.4);
}

.widget.classifiedBox.overview .resultListBox .properties {
    background: none;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 1px 0;
    height: 34px;
    margin: 10px;
    padding: 2px;
    width: 290px;
    text-align: center;
}

.widget.classifiedBox.overview .resultListBox .properties span {
    color: #A3A3A3;
    font-size: 14pt;
    padding-right: 15px;
}

.widget.classifiedBox.overview .resultListBox .properties span strong {
    color: #666666;
    font-weight: bold;
    font-size:  16pt;
}

.widget.classifiedBox.overview .resultListBox .pagelinks a {
    color: #000;
}