.starRating {
    word-spacing: -6px;
}

.starRating .grade,
.starRating span {
    background: #ccc;
    border-radius: 10px;
    display: inline-block;
    color: #999;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
    margin-left: 2px;
    margin-right: 0;
    width: 16px;
    height: 16px;
    text-shadow: none;
}

.ie .starRating .grade,
.ie .starRating span {
    background: url(/skins/publications/osloby/gfx/ieRating25.png) 0 -65px no-repeat transparent;
}

.starRating.small span {
    line-height: 11px;
    margin-left: 1px;
    width: 11px;
    height: 11px;
}

.ie .starRating.small span {
    background-position: 0 -22px;
}

.starRating span:first-child,
.starRating.small span:first-child {
    margin-left: 0;
}

.starRating.canVote {
    cursor: pointer;
}

.starRating .set {
    color: #fff;
    background: #ec008c;
}

.ie .starRating .set {
    background-position: 0 -33px;
}

.ie .starRating.small .set {
    background-position: 0 0;
}

.starRating .setHover,
.starRating .userRating {
    color: #fff;
    background: #00aeef;
}

.ie .starRating .setHover,
.ie .starRating .userRating {
    background-position: 0 -49px;
}

.ie .starRating.small .setHover,
.ie .starRating.small .userRating {
    background-position: 0 -11px;
}

.bodyText .starRating {
    float: right;
}

.bodyText .starRating span {
    border-radius: 16px;
    color: #666;
    font-size: 8px;
    line-height: 16px;
    margin-left: 3px;
    width: 16px;
    height: 16px;
}

.bodyText .starRating .set {
    color: #fff;
}