.widget.classifiedBox.skyscraper .header {
    display: block;
}

.widget.classifiedBox.skyscraper .header h2:before {
    background: none;
}

.widget.classifiedBox.skyscraper .header h2 {
    background: #123466;
    font-size:  16px;
    line-height: 1;
    padding: 4px 0 0 10px;
    width: 172px;
    text-shadow: none;
    text-transform: none;
}