<div class="woEventInfo">
    <div class="woEventInfoTitle">
        {{html eventName}}
    </div>
    <div class="woEventInfoShortDescription">
        {{html shortDescr}}
    </div>
    <div class="woEventInfoDescription">
        {{html descr}}
    </div>
    <div class="woEventInfoWhere">
        <a href="${url}">
            {{eventVenueName}
        </a>
    </div>
</div>
<div class="woVenueMap" id="woEventMapCanvas"></div>