<div class="woVenueInfo">
    <div class="woVenueInfoTitle">
        {{html venueName}}
    </div>
    <div class="woVenueInfoPhone">
        {{html phone}}
    </div>
    <div class="woVenueInfoUrl">
        <a href="${url}" target="blank">
            {{html url}}
        </a>
    </div>
    <div class="woVenueInfoStreet">
        {{html street}}
    </div>
    <div class="woVenueInfoCity">
        {{html city}}
    </div>
</div>
<div class="woVenueMap" id="woVenueMapCanvas"></div>
