#footer {
    background-color: #222;
    color: #fdfdfd;
    font-size: 12px;
        text-shadow: 0 -1px #000;
    padding-bottom: 20px;
}

#footer a {
    color: #dfdfdf;
    text-decoration: underline;
}
#footer a:hover {
    text-decoration: none;
}

#footer .f-bold {
    color: #fff;
}

#footer .f-bold a {
    text-decoration: none;
}

/* snd branding */
#footer #mnodigital {
    top: 0;
}