#header {
    overflow:hidden;
    margin-bottom:10px;
    width:100%;
}

.mainHeader {
    background:url(/skins/publications/osloby/gfx/bg-header.jsp?color=00aeef) no-repeat 228px 0;
    height:51px;
    margin-bottom:50px;
    position:relative;
        top:31px;
}

.mainHeader:after {
    background: #00aeef;
    content:' ';
    position:absolute;
        top:0;
        bottom:0;
        left:100%;
    visibility: visible;
    width:9999px;
        height:auto;
}

.oslobyshopping .mainHeader {
    background:url(/skins/publications/osloby/gfx/bg-header.jsp?color=5b57a6) no-repeat 228px 0;
}

.oslobyshopping .mainHeader:after {
    background:#5b57a6;
}

.oslobysulten .mainHeader,
.oslobyoslosbeste .mainHeader,
.oslobyoslopuls .mainHeader {
    background:url(/skins/publications/osloby/gfx/bg-header.jsp?color=ec008c) no-repeat 228px 0;
}

.oslobysulten .mainHeader:after,
.oslobyoslosbeste .mainHeader:after,
.oslobyoslopuls .mainHeader:after {
    background:#ec008c;
}

.oslobysprek .mainHeader:after {
    background:#8dc63f;
}

.oslobysprek .mainHeader {
    background:url(/skins/publications/osloby/gfx/bg-header.jsp?color=8dc63f) no-repeat 228px 0;
}

