.widget.classifiedBox.skyscraper {
    width: auto;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemResultList {
    max-height: inherit;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemResultList li {
    overflow: visible;
    height: 200px;
}

.widget.classifiedBox.skyscraper .resultItemLink .resultItemText {
    min-height: inherit;
}

.widget.classifiedBox.skyscraper:not(.osloby) .header {
    background: none;
    border: 0;
    display: none;
    position: relative;
}

.widget.classifiedBox.skyscraper:not(.osloby) .header h2 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    font-family: ClanWeb,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin-top: 0;
    padding: 4px 0 0 27px;
    width: 150px;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemResultList {
    border: 0;
}

.widget.classifiedBox.skyscraper:not(.osloby) .header h2:before {
    background: url("/skins/publications/ap/gfx/sprite_2.png") no-repeat scroll 0 -50px transparent;
    content: " ";
    float: left;
    height: 20px;
    margin: -2px 0 0 -24px;
    width: 20px;
}

.widget.classifiedBox.skyscraper .overviewLink {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 80px;
    text-decoration: none;
    display: block;
    width: 105px;
}

.ie7 .widget.classifiedBox.skyscraper .overviewLink {
    float: right;
    width: 100px;
    height: 21px;
}

.widget.classifiedBox.skyscraper .overviewLink span {
    color: #000000;
    float: right;
    font-size: 16px;
    line-height: 15px;
    padding: 1px 0 0 5px;
}

.ie7 .widget.classifiedBox.skyscraper .overviewLink span {
    float: none;
    padding-top: 5px;
}

.ie8 .widget.classifiedBox.skyscraper .overviewLink span {
    padding-top: 5px;
}

.ie9 .widget.classifiedBox.skyscraper .overviewLink span {
    padding-top: 3px;
}

.widget.classifiedBox.skyscraper .categories {
    clear: both;
    font-size: 11px;
    padding-top: 25px;
    text-align: right;
}

.widget.classifiedBox.skyscraper .categories a {
    color: #000;
}

.widget.classifiedBox.skyscraper .resultItemResultList {
    list-style-type: none;
}

.widget.classifiedBox.skyscraper .resultItemResultList li {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    display: block;
    margin-bottom: 10px;
    width: 180px;
}

.ie7 .widget.classifiedBox.skyscraper .resultItemResultList li,
.ie8 .widget.classifiedBox.skyscraper .resultItemResultList li {
    border: 1px solid #D2D2D2;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemLogo {
    border: 1px solid white;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemLink {
    color: #000000;
    clear: both;
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    width: 180px;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemName {
    color: black;
    cursor: pointer;
    display: block;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
    position: absolute;
    z-index: 1;
    top: 108px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemPrice {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35);
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 140px;
    width: 55px;
    z-index: 1;
    left: 0;
    margin: 0 auto;
}

.ie .widget.classifiedBox.skyscraper .resultListBox .resultItemPrice {
    padding: 2px 8px;
}

.ie9 .widget.classifiedBox.skyscraper .resultListBox .resultItemPrice {
    width: 65px;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemThumb {
    border-bottom: 1px solid #333;
    height: 120px;
    width: 100%;
}

.widget.classifiedBox.skyscraper .resultListBox .resultItemText {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.25;
    max-height: 50px;
    padding: 4px 5px 3px;
    position: absolute;
    text-decoration: none;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}

.widget.classifiedBox.skyscraper .resultListBox .loader {
    background: none;
    height: 11px;
    width: 16px;
}