div#businessPresentationGrid #articleTop {
	padding: 0 0 10px;
	width: 980px;
}

div#businessPresentationGrid div#content div#functionWrapper {
	margin-left: 10px;
}

div#businessPresentationGrid div#articleWrapper {
    display:block;
    float:left;
    margin-right:0;
    overflow:hidden;
    width:468px;
}

div#businessPresentationTop{
    background-image: url('/skins/publications/bt/gfx/businessPresentation/bedriftspres_topp980x98.gif');
    height: 98px;
    margin-bottom: 10px;
}

div#businessPresentationTop h1{
    padding-top: 30px;
    padding-right: 15px;
    float: right;
    color: white;
    font-family: rockwell;
    font-size: 24px !important;
    margin:10px 0 7px;
}

div#businessPresentationLeft{
    background-image: url('/skins/publications/bt/gfx/businessPresentation/vannmerke.gif');
    background-position: bottom left;
    background-repeat: no-repeat;
}

div#keyInformation{
    background-color: #164985;
    color: white;
    padding: 3px 5px;
    margin-bottom: 10px;
}

div#keyInformation p{
    padding: 0;
    margin: 0;
}

div#keyInformation h2{
    padding: 0;
    margin: 0 0 5px 0;
}

div#businessPresentationRight h2{
    padding:5px;
    font-size: 26px;
    font-family: Cambria,Times,'Times New Roman',serif;
}

div#businessPresentationLeft h3{
    color: #164985;
    font-family: verdana;
}

div#businessPresentationRight{
    font-family: Arial;
}

div#businessPresentationRight p#logo{
    float: right;
}

div#businessPresentationRight p{
    margin-bottom: 10px;
}

div#businessPresentationRight div.elementList{
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-bottom: 10px;
}

div#businessPresentationRight div.elementList div.scrollList{
    overflow-y: scroll;
    max-height: 700px;
}

div#businessPresentationRight div.element{
    border-bottom: 1px dotted #bbb;
}

div#businessPresentationRight div.element span.leadText{
    float: left;
    width: 350px;
    padding-left: 5px;
    font-weight:normal;
    font-size: 14px;
}

div#businessPresentationRight div.element span.logo{
    float: right;
}

div#businessPresentationRight div.element span p{
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#businessPresentationRight div.element a.readMore{
    color: #007AC1;
    font-size: 10px;
    margin-bottom: 5px;
}

div#businessPresentationRight div#elementListHeader{
    background-image: url('/skins/publications/bt/gfx/businessPresentation/bedriftspres_stripe380x20.gif');
    height: 20px;
}

div#businessPresentationBottom{
    background-image: url('/skins/publications/bt/gfx/businessPresentation/bedriftspres_bunn_980.gif');
    height: 39px;
}

div.clearFloat{
    clear: both;
}

#businessFooter{
    text-align:center;
    list-style:none
}
#businessFooter ul{
    margin-top: 10px;
}