.trafficfundBox header {
    margin-bottom: 0;
}

.trafficfundBox ul {
    background: #e4e3dc;
    padding: 4px 0;
    text-align: center;
}

.span6 .trafficfundBox li,
.span5 .trafficfundBox li,
.span4 .trafficfundBox li {
    display: inline-block;
}

.trafficfundBox a {
    border-top: 1px solid #e4e3dc;
        border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 8px;
}

.trafficfundBox a:hover {
    background: #fff;
    -moz-box-shadow: 1px 1px 3px #7c7b7b inset;
        -webkit-box-shadow: 1px 1px 3px #7c7b7b inset;
        box-shadow: 1px 1px 3px #7c7b7b inset;
}

.trafficfundBox li:first-child a {
    border-top: 0 none;
}
.trafficfundBox li:last-child a,
.span6 .trafficfundBox li:nth-last-child(3) a,
.span6 .trafficfundBox li:nth-last-child(2) a {
    border-bottom: 0 none;
}