
.languageBox {
  margin: 1em;
  overflow: hidden;
}

.language {
  width: 120px;
  float: left;
  text-align: center;
  position: relative;
}

.language-choice[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.langauge-icon {
  
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.language-name {
  font-size: 1.3em;
  font-weight: bold;
  margin: 5px 0 0;
  display: block;
}

.language:hover,
.language:active {
  color: white;
}
.language:hover .langauge-icon,
.language:active .langauge-icon,
.language-choice[type="radio"]:checked ~ .langauge-icon {
  -webkit-filter: contrast(10) grayscale(1) invert(1);
  -moz-filter: contrast(10) grayscale(1) invert(1);
  -o-filter: contrast(10) grayscale(1) invert(1);
  -ms-filter: contrast(10) grayscale(1) invert(1);
  filter: contrast(10) grayscale(1) invert(1);
}
.language-choice[type="radio"]:checked ~ .langauge-icon ~ .language-name {
  color: white;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3498db;
}
h1 {
  color: white;
  margin-top: 0em;
  margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

a.listElem{
  font-size: medium;
}


#targetLanguage{
  
}

.progress{
  font-size: 0.8em;
  color:white;
}

.center {
    text-align: center;
    margin: 2em auto 1em;
    background-color: #3445db;
    padding: .8em 0.2em 1em;
    border-radius: .5em;
    width: 19em;
    display: none;
}
.resultLink {
  font-size: 1.6em;
  font-weight: bold;
  color: #98db34;
  text-decoration: none;
  border-bottom: 2px solid #98db34;
  padding-bottom: 0.1em;

}
.resultLink:after {
  content: "\00BB";
  padding-left: 0.3em;
}

#errorWhenExecuting{
  color: red;
}

.log{
  margin-top: 30px;
  width: 100%;
  height: 20em;
}

.result-ready #result {
  display: none;
}
.result-ready .progressbar {
  display: none;
}

.whiteText{
  color: white;
}

.submit-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #93cef0), color-stop(1, #f0f0f0) );
  background:-moz-linear-gradient( center top, #93cef0 5%, #f0f0f0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cef0', endColorstr='#f0f0f0');
  background-color:#93cef0;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #290029;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}.submit-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #93cef0) );
  background:-moz-linear-gradient( center top, #f0f0f0 5%, #93cef0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#93cef0');
  background-color:#f0f0f0;
}.submit-button:active {
  position:relative;
  top:1px;
}

.questionMark{
  content: url('/img/questionMark.png');
  display: inline;
  width: 75px;
  height: 75px;
}
.questionMark:hover{
  content: url('/img/exclusionRules.png');
  display: inline;
  width: 300px;
  height: 300px;
}

.exclusionRules{
  content: url('/img/exclusionRules.png');
  width: 300px;
  height: 300px; 
}
 


.formfield * {
    vertical-align: middle;
}
.progressbar {
  content: url('/img/waitGif5.gif');
  width: 150px;
  height: 150px;
}

p.warning {
  color: red;
}
/*
#progressbar {
    background-color: white;
    border-radius: 13px; 
    padding: 3px;
}
    
#progressbar div {
    background-color: orange;
    width: 6%; 
    height: 20px;
    border-radius: 10px;
}*/


