body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3498db;
}
h1 {
  color: white;
}

a {
  color: #00B7FF;
}

a.listElem{
  font-size: medium;
}

#result{
  color: white;
}

#errorWhenExecuting{
  color: red;
}

.log{
  margin-top: 30px;
}

.questionMark{
  content: url('/img/questionMark.png');
  display: inline;
  width: 75px;
  height: 75px;
}
.questionMark:hover{
  content: url('/img/exclusionRules.png');
  display: inline;
  width: 300px;
  height: 300px;
}

.exclusionRules{
  content: url('/img/exclusionRules.png');
  width: 300px;
  height: 300px; 
}
 
.language {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  font-size: 80px;
  text-align: left;
}
.language.active div,
.language.active p,
.language:hover div,
.language:hover p {
  color: #fff;
}
.language div {
  text-decoration: none;
  color: #34495e;
  cursor: pointer;
}
.language p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-left: -20px;
  margin-top: -15px;
}

.formfield * {
    vertical-align: middle;
}
.progressbar {
  content: url('/img/waitGif5.gif');
  width: 150px;
  height: 150px;
}

p.warning {
  color: red;
}
/*
#progressbar {
    background-color: white;
    border-radius: 13px; 
    padding: 3px;
}
    
#progressbar div {
    background-color: orange;
    width: 6%; 
    height: 20px;
    border-radius: 10px;
}*/


