/* uses javascipt instead because of IE7 */
.singleLineList .content:hover,
.singleLineList .hover {
    overflow-y:auto;
}

.singleLineList .content {
    overflow:hidden;
    padding-bottom: 5px;
    position:relative;
}

.singleLineList .content li {
    background-image: -webkit-linear-gradient(left, transparent, transparent 50%, rgba(0, 0, 0, 0.1));
        background-image: -moz-linear-gradient(left, transparent, transparent 50%, rgba(0, 0, 0, 0.1));
        background-image: -ms-linear-gradient(left, transparent, transparent 50%, rgba(0, 0, 0, 0.1));
        background-image: -o-linear-gradient(left, transparent, transparent 50%, rgba(0, 0, 0, 0.1));
        background-size: 200% 100%;
    border-bottom:1px dotted #e8e8e8;
    display:block;
    height:16px;
    line-height:15px;
    overflow: hidden;
    -o-text-overflow:ellipsis;
        text-overflow:ellipsis;
        white-space: nowrap;
    padding:5px 19px 3px 3px;
    -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
}

.singleLineList .content:hover a {
    padding-right:0;
}

.singleLineList .content li:hover {
    background-position: 100% 100%;
}