.byline {
    background: #f0f0f0;
    border-left: 30px solid #666;
    font-size:14px;
        line-height:1;
    margin:0;
    padding:5px 5px 4px;
    position:relative;
}

.byline .author {
    display:block;
    margin-bottom:.5em;
}

.byline .prefix {
    color:#fff;
        font-weight:bold;
    position:absolute;
        left:-25px;
        top:5px;
}

.byline .fn {
    color:#000;
    text-transform:capitalize;
}

.byline b {
    font-weight:bold;
}

h1.articleTitle {
    font-size:60px;
    margin-bottom:10px;
}
.bodyText h2 {
    font-family:arial, sans-serif;
    font-size:16px
}

.bodyText .hmedia {
    border-top: 3px solid #111;
    cursor:-moz-zoom-in;
        cursor:-webkit-zoom-in;
        cursor:-o-zoom-in;
        cursor:-ms-zoom-in;
        cursor: zoom-in;
}

.bodyText .hmedia .caption {
    background:#111;
    border-top: 1px solid #ccc;
    font-weight:normal;
        color:#fff;
        line-height:1;
        text-shadow:0 0 5px #000;
    padding:5px;
        bottom:0;
        left:0;
        right:0;
}
.bodyText .hmedia .caption h2 {
    float:none;
    margin-top:-2px;
    position:relative;
        top:1px;
}

article .bodyText {
    margin-bottom:20px;
}

article .bodyText ul,
article .leadText ul {
    list-style:square outside;
    margin:0 0 1em 1.2em;
}

article .bodyText table {
    border-top:1px solid #ccc;
    margin-bottom:1em;
    width:100%;
}

article .bodyText th {
    text-align:left;
}

article .bodyText tr {
    background:#f9f9f9;
    border-bottom:1px solid #ccc;
}

article .bodyText tr:nth-child(2n){
    background: #f0f0f0;
}

.storyContent blockquote,
.quote {
    color:#666;
    float:left;
    font-family:Georgia, "Times New Roman", Times, serif;
        font-size:18px;
        font-style:italic;
        line-height:1.2;
    margin-left:-100px;
    padding:0 20px 0 40px;
    position:relative;
        top:-2px;
    quotes: "\201D " " " "\2018 " "\2019 ";
    width:280px;
}

.storyContent blockquote:before,
.quote:before {
    color:#ccc;
    content: "\201D ";
    font-family:Georgia, "Times New Roman", Times, serif;
        font-size:80px;
    position:absolute;
        top:-20px;
        left:0;
        height: 50px;
        width: 50px;
    overflow: hidden;
}

.ie6 .storyContent blockquote,
.ie7 .storyContent blockquote,
.ie6 .quote,
.ie7 .quote {
    background:url(/skins/global/gfx/icons/iequote.png) no-repeat top left;
}

.quote cite,
.storyContent blockquote cite {
    display: block;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
}

.videoMarker {
    background:url(/skins/global/gfx/icons/playicon_tv.png) no-repeat center;
        opacity: 0.7;
    display:block;
    position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.ie6 .videoMarker, .ie7 .videoMarker, .ie8 .videoMarker {
    display: none;
}

.playerWrapper { overflow: hidden; }

.videoMarkerIE {
    position: absolute;
        z-index: 100;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
    border: 0 !important;
}

.videoMarkerIE tr {
    background-color: transparent !important;
}

.ie6 .videoMarkerIE, .ie7 .videoMarkerIE { top: 21%; }

.videoMarkerIE span {
    overflow: hidden;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.videoMarkerIE img {
    margin: 0 auto;
}

.videoMarkerIE td {
    vertical-align: middle;
}

.videoMarker:hover {
    -moz-transition: opacity 1s ease 0;
    -webkit-transition: opacity 1s ease 0;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0;
    opacity: 1;
}

.relationArticle {
    margin-bottom:10px;
}

.relationArticle header {
    margin-bottom:0;
}

.relationArticle .content,
.relationPlace .content,
.relationEvent .content {
    background:#f0f0f0;
    padding:5px 10px;
    position:relative;
    overflow:hidden;
}

.relationEvent .content .eventDate {
    opacity: 0.6;
    font-size: 10px;
    margin: 0 !important;
}

.relationArticle .content.withImg {
    padding:5px 10px 0 195px;
}
.relationArticle .content.withImg img {
    float:left;
    margin-left:-190px;
    margin-top:-5px;
    margin-bottom:5px;
}
.relationArticle .content.withImg .relative {
    float: left;
    margin-left: -190px;
    margin-top: -5px;
}
.relationArticle .content.withImg .relative img {
    float: left;
    margin-left: 0;
    margin-top: 0;
}
.moreToFollow {
    color:#900;
    font-weight:bold;
        text-shadow:none;
        text-transform:uppercase;
    margin:5px 0;
    position:relative;
}

.moreToFollow:before {
    background: url(/skins/global/gfx/icons/breakingNews.gif) no-repeat center center;
    content:' ';
    display:inline-block;
    margin-right:5px;
    position:relative;
        left:0;
    width:24px;
        height:10px;
}

.moreToFollow.large {
    font-size:20px;
    margin-top:0;
}

.moreToFollow.large:before {
    background: url(/skins/global/gfx/icons/breakingNewsLarge.gif) no-repeat center center;
    width:36px;
        height:20px;
}

.negativ .moreToFollow.large:before,
.black .moreToFollow.large:before {
    background: url(/skins/global/gfx/icons/breakingNewsLargeBlack.gif) no-repeat center center;
}

.negativ .moreToFollow:before,
.black .moreToFollow:before {
    background:url(/skins/global/gfx/icons/breakingNewsBlack.gif) no-repeat center center;
}

.black .moreToFollow {
    color:#c00;
}

.relationArticle.factCheck {
    border-top:3px solid #014687;
    font-size:12px;
        line-height:14px;
}

.relationArticle.factCheck .content.withImg {
    padding-left:120px;
}
.relationArticle.factCheck .truthiness {
    margin-left:-120px;
        margin-top:-5px;
}

.truthinessSmall {
    background:url(/skins/global/gfx/politiFact/politiFact-icons.png) no-repeat -120px 0;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    text-indent: 59px;
    width: 59px;
        height: 61px;
}
.truthinessSmall.false {
     background-position:-120px -71px;
}
.truthinessSmall.someFalse{
     background-position:-120px -142px;
}
.truthinessSmall.neutral {
     background-position:-120px -213px;
}
.truthinessSmall.mostlyTrue {
     background-position:-120px -284px;
}
.truthinessSmall.true {
     background-position:-120px -355px;
}

.truthiness,
.truthiness a{
    background:url(/skins/global/gfx/politiFact/politiFact-icons.png) no-repeat 0 0;
    overflow:hidden;
    text-indent: -10000px;
    width:110px;
        height:112px;
}
.truthiness.false,
.truthiness.false a{
     background-position:0 -134px;
}
.truthiness.someFalse,
.truthiness.someFalse a{
     background-position:0 -268px;
}
.truthiness.neutral,
.truthiness.neutral a{
     background-position:0 -402px;
}
.truthiness.mostlyTrue,
.truthiness.mostlyTrue a{
     background-position:0 -536px;
}
.truthiness.true,
.truthiness.true a{
     background-position:0 -664px;
}

.politiFactList{
    clear: both;
}

.politiFact .span4 h2{
    font-size: 17px;
}
#page .truthiness.left{
    margin-right: 10px;
}


/* reviewFields */
.reviewFields {
    border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #f4f4f4;
    padding: 10px 0;
        margin: 10px 0;
}

.reviewFields dl {
    display: inline-block;
    width: 90%;
}

.reviewFields dt,
.reviewFields dd {
    display: inline-block;
}
.reviewFields dt {
    width: 30%;
}
.reviewFields dd {
    font-weight: bold;
    width: 60%;
}

.reviewFields .reviewScore {
    vertical-align: top;
}

.storyContent .docLink {
    display: inline-block;
    position: relative;
    top: 7px;
    overflow:hidden;
    padding-left:25px;
    padding-bottom: 25px;
}

.storyContent .docLink.pdf {
    background:url(/skins/global/gfx/icons/doc_sprite_25.png) no-repeat 0px -49px;
}

.storyContent .docLink.pptx {
    background:url(/skins/global/gfx/icons/doc_sprite_25.png) no-repeat 0px -73px;
}

.storyContent .docLink.docx, .docLink.doc {
    background:url(/skins/global/gfx/icons/doc_sprite_25.png) no-repeat 0px -0px;
}

.storyContent .docLink.xls,
.storyContent .docLink.xlsx,
.docLink.xlt {
    background:url(/skins/global/gfx/icons/doc_sprite_25.png) no-repeat 0px -25px;
}