<h1 class="appfarmHeading">${title}</h1><ul id="appfarm" class="jcarousel-skin-tango">
    {{each(i,value) items}}
        <li>
            <a onClick="recordOutboundLink(this, 'Appfarm', '${value.name}');return false;"  target="_blank" href="${value.linkurl}">
                <img src='http://${lisaLevel}.aftenposten.no/utils/img.php?src=http://satest2.medianorge.no/external/mobil/appFarm/images/${value.imgurl}&amp;width=${iconsize}' alt='${value.name}'/>   <br />
                {{html value.name}}
            </a>
        </li>
    {{/each}}
</ul>

