<ul class="articleList">
    {{each(i,value) items}}
        <li>
                {{if (value.company.companyLogos.length !== 0)}}
                    <img src="http://${lisaLevel}.aftenposten.no/utils/img.php?src=${value.company.companyLogos[value.company.companyLogos.length-1].companyLogoPath}&width=100" alt="{{html value.company.name}}"/>
                {{else}}
                    {{html value.company.name}}
                {{/if}}
            <a target="_top" href="{{html adUrl}}?notificationAdId=${value.notificationAdId}">
                <p>{{html value.adTitle}}</p>
            </a>
        </li>
    {{/each}}
</ul>