<div id="companyText" class="bodyText">
{{if (notificationad.company.companyLogos[0] !== undefined)}}
<img class="imageLeft" id="companyLogo"
     src="http://${lisaLevel}.aftenposten.no/utils/img.php?src=${notificationad.company.companyLogos[0].companyLogoPath}&amp;maxWidth=${imgWidth}"
     alt="${notificationad.company.name}"/>
{{else}}
    {{html notificationad.company.name}}
{{/if}}
</div>

<div id="adText" class="bodyText">
<h1>{{html notificationad.adTitle}}</h1>

{{if (notificationad.notificationImages[0] !== undefined)}}
    <img id="companyImage" src="http://${lisaLevel}.aftenposten.no/utils/img.php?src=${notificationad.notificationImages[0].imagePath}&maxWidth=${imgWidth}"/>
{{/if}}

{{html notificationad.adText.xmlCDataContent}}
</div>
