/*  NOTE! -- Please edit default.less instead of compiled CSS output.
    To compile you may use WinLESS which can be found at winless.org. */
.widget.eventPlaceDetails.default {
  float: left;
  width: 100%;
}
.widget.eventPlaceDetails.default h2 {
  clear: both;
  float: left;
  width: 100%;
}
.widget.eventPlaceDetails.default #map_canvas {
  float: left !important;
  margin: 0 2%;
  width: 35% !important;
}
.widget.eventPlaceDetails.default .description {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.widget.eventPlaceDetails.default .eventDetails {
  float: left;
}
