/*
 Farger
 Blå : 164985	254264	072B56	4980C2	6991C2
 Oker: CBA313	988231	846906	E5C349	E5CC73
 Orange: CB5513	985631	843306	E58149	E59C73
 */
/* INDEX BT */
/* 1 - Layout */
/* 2 - Typography */
/* 3 - Events */

/* 1 - Layout */

body {
    background: #f9f9f9;
}

#viewport #page {
    border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
    float: left; /* fix container for floated widgets */
}

/* Bl� streker */

#smallHeader .logo {
    margin-right:3px;
}

#specialHeader-logo {
    background: #014687;
    line-height:25px;
    margin-right:5px;
    text-align:center;
    width:25px;
        height:25px;
}

.specialHeader img,
#specialHeader-logo img {
    vertical-align:middle;
}

.specialHeader {
    height:99px;
}

.specialHeader .logo {
    height:99px;
    line-height:99px;
}

.bergenpuls .specialHeader {
    background:url(/skins/publications/bt/gfx/themes/bergenpuls.jpg) no-repeat bottom;
}

section header,
article header {
    border-bottom: 3px solid #014687;
    margin-bottom: 5px;
}

.bluePane {
    background:#e5ecf3;
    border:1px solid #b2c7db;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
    padding:10px;
}

.bluePane header {
    border-bottom:0 none;
}

.relatedPicture {
    background: #f0f0f0;
}

.relatedArticle h3 {
    margin: 15px 0 5px;
}

.relatedArticle header {
    margin-bottom: 0;
}

.relatedArticle .content {
    background: #f0f0f0;
}

.relatedContents .hmedia {
    margin-top: 5px;
}

.subTitle {
    padding-left: 20px;
    margin: 10px 0 15px;
}

.subTitle:before {
    background: #999;
    content: " ";
    float: left;
    margin-left: -20px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

.ie .subTitle {
    border-left: 15px solid #999;
    padding-left: 5px;
}

section header h2,
article header h2,
section header h3,
article header h3 {
    margin-bottom: 0;
}

input[type=submit],
input[type=button],
button,
.button {
    background-color: #014687;
}

.artTheme.negativ.noThemeHeadline .tipUs a,
.artTheme.negativ.noThemeHeadline .tipUs a:hover,
.artTheme.negativ.noThemeHeadline .tipUs a:visited,
.artTheme.negativ.noThemeHeadline .tipUs a:active,
.artTheme.negativ.hasThemeHeadline .tipUs a,
.artTheme.negativ.hasThemeHeadline .tipUs a:hover,
.artTheme.negativ.hasThemeHeadline .tipUs a:visited,
.artTheme.negativ.hasThemeHeadline .tipUs a:active,
.rowTheme.negativ.noThemeHeadline .tipUs a,
.rowTheme.negativ.noThemeHeadline .tipUs a:hover,
.rowTheme.negativ.noThemeHeadline .tipUs a:visited,
.rowTheme.negativ.noThemeHeadline .tipUs a:active,
.rowTheme.negativ.hasThemeHeadline .tipUs a,
.rowTheme.negativ.hasThemeHeadline .tipUs a:hover,
.rowTheme.negativ.hasThemeHeadline .tipUs a:visited,
.rowTheme.negativ.hasThemeHeadline .tipUs a:active{
    color: #014687;
}
.artTheme.negativ.noThemeHeadline .tipUs .prefix a,
.artTheme.negativ.noThemeHeadline .tipUs .prefix a:visited,
.artTheme.negativ.hasThemeHeadline .tipUs .prefix a,
.artTheme.negativ.hasThemeHeadline .tipUs .prefix a:visited,
.rowTheme.negativ.noThemeHeadline .tipUs .prefix a,
.rowTheme.negativ.noThemeHeadline .tipUs .prefix a:visited,
.rowTheme.negativ.hasThemeHeadline .tipUs .prefix a,
.rowTheme.negativ.hasThemeHeadline .tipUs .prefix a:visited {
    color: #fff;
}

.negativ.bgColorOuter{
    background-color: #222;
}

#colophon {
    background: #f9f9f9;
       filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#10000000'); 
       -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#10000000')"; 
           background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.05)); 
           background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(0,0,0,0)),color-stop(1, rgba(0,0,0,.05))); 
           background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05)); 
           background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05)); 
    border:1px solid #ccc;
    font-size:12px;
    overflow:hidden;
    position:relative;
}

#colophon h2 {
    font-size:16px;
}
#colophon dl {
    position:relative;
}
#colophon dt {
    position:absolute;
        left:0;
    text-align:right;
    width:170px;
}

#colophon dd {
    margin-left:180px;
}

/* 2 - Typography */

body {
    color: #121212;
    font-family: Arial, sans-serif;

}

h1,
h2 {
    font-family: Cambria, Times, 'Times New Roman', serif;
}

a {
    color: #014687;
}

a:hover {
    -moz-transition:all 250ms ease-in;
        -webkit-transition:all 250ms ease-in;
        -ms-transition:all 250ms ease-in;
        -khtml-transition:all 250ms ease-in;
        -o-transition:all 250ms ease-in;
        transition:all 250ms ease-in;
    text-decoration:underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color:#333;
    text-decoration:none;
}

form label {
    font-size: 12px;
}

section .header h1,
article .header h1,
section .header h2,
article .header h2,
section .header h3,
article .header h3 {
    color: #000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.span1 section .header h2,
.span1 section .header h3,
.span2 section .header h2,
.span2 section .header h3,
.span1 article .header h2,
.span1 article .header h3,
.span2 article .header h2,
.span2 article .header h3 {
    font-size:10px;    
}

 /*TODO : FLyttes til egen CSS*/
.lap2 header {
    text-align: right;
}

section footer,
article footer {
    font-weight: bold;
    text-transform: uppercase;
}

section footer,
article footer {
    font-size: 10px;
    line-height:1;
}

section footer a,
article footer a {
    border-right:1px solid #999;
    margin-right:5px;
    padding-right:5px;
}

section footer a:last-child,
article footer a:last-child {
    border-right:0 none;
}

section footer a.lastChild,
article footer a.lastChild{
    border-right:0 none;
}

.relatedArticle h3 {
    font-family: Cambria, Times, 'Times New Roman', serif;
    font-size: 18px;
}

h2.subTitle {
    font-family: arial, sans-serif;
    font-size: 24px;
}

/* 3 - Events */
body.ie6 {
    behavior: url(/skins/global/csshover3.htc);
}

#viewport {
    min-height: 1000px;
}

/* ie uses behaviors for round corner */
.roundCorner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
}

.roundCornerBottom {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* topInfo is first gridRow with informations links */
.topInfoGridRow {
    border: dotted 1px;
    margin-bottom: 10px !important;
    width: 978px;
}

.topInfoGridRow  .unit-topInfo {
    font-size:12px;
    padding: 5px 10px;
}

.topInfoGridRow .customerService-topInfo {
    background-color: #ff6600;
}

.topInfoGridRow a {
    color: #000;
}

.topInfoGridRow a:visited {
    color: #000;
}

.topInfoGridRow a:hover {
    text-decoration: underline;
}

/* second gridRow contains logo, weather/links and menu */


/* style for date, links, weather, and tipAndSearch */
.tipAndSearch .icon {
    display: none;
}

.searchField .pillBox {
    float:right;
}

.searchField .pillBox button {
    width: 24px;
}

.ie7 .searchField .pillBox button {
    width:auto;
}

.search .pillBox {
    width: auto;
}

.search input {
    width: 130px;
    height: 17px;
}

.ie7 .search button {
    height: 24px;
}

/* end second gridRow */

/* third girdRow */

/* TV */
.tv .sectionPage .ad {
    display: block;
    text-align: center;
    padding: 10px 0 15px;
}
.tv #adRight {
    width: 0;
    height: 0;
    visibility: hidden;
}
.tv #page {
    left: 0;
}

.tv #header a{
    color:#666;
    text-decoration:none;
}

.tv #header .topMainMenu a,
.tv #header .greySubMenu a{
    color:#000;
}

.tv #header .activeSection a,
.tv #header .tipUsBlue a,
.tv #smallHeader .activeSection a {
  color:#fff;
}

.tv #smallHeader a{
    color:#000;
    text-decoration:none;
}

/* browser notification */
.ie6 .browserNotification h2,
.ie7 .browserNotification h2 {
    background:url(/skins/global/gfx/bt_logo_small.png) no-repeat 0 2px;
    padding-left:35px;
}
/* Adding uppercase to credits */
.credits {
    font-size:10px;
    font-weight: bold;
    margin-top:6px;
    text-transform: uppercase;
}

/* Tip us */
.tipUs {
    display: inline-block;
}