/* grid  */
#header {
    margin-bottom:10px;
}

/* layout*/
button,
.button {
    background-color:#014687;
}

.gridUnit img {
    background:none;    
}


/* typography */

h2.header,
.header {
    border-bottom:3px solid #005395;
    font-family:arial, helvetica, sans-serif;
        font-size:.85em;
        font-weight:bold;
    margin-bottom:3px;
    text-transform:uppercase;

}

.logoMenu {
    background:#005395;
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#20000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#20000000')";
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,.15));
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(0,0,0,0)),color-stop(1, rgba(0,0,0,.15)));
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.15));
}

.mobileLogo {
    margin:8px 0 0 5px;
}


.logoMenu .mobileMenu{
    float:left;
}

.mobileWeather{
    float:right;
}

.mobileWeather .stormWeather-today{
    display: block;
    padding-top: 0;
}

.mobileWeather .stormWeather-symbol{
    display: block;
    margin-top: 9px;
    margin-right:4px;
    float:right;
}

.mobileWeather .stormWeather-symbol img{
    display:block;
    float:right;
    margin-left:5px;
        margin-top:-5px;
}

.mainMenu li {
    border-left: 1px solid #00467D;
    border-right: 1px solid #005DA6;
    height: 2.4em;
    padding-top: 0.5em;
}

.mainMenu a {
    color:#fff;
    font-size:1.2em;
}

/* ads */
.adMarker {
    color:#666;
    display:block;
    font-size:10px;
    margin-left:5px;
}

a {
    color: #014687;
}

a:active {
    -moz-transition: opacity 50ms;
        -webkit-transition: opacity 50ms;
        -o-transition: opacity 50ms;
        -ms-transition: opacity 50ms;
        -khtml-transition: opacity 50ms;
        transition: opacity 50ms;
    opacity:.5;
}

section[aria-hidden=true],
div[aria-hidden=true],
article[aria-hidden=true]{
    display:none;   
}


.factboxes img {
    float: right;
    max-width:50%;
        height:auto;
    margin-bottom: 0;
    margin-left: 8px;

}

#colophon {
    background:#f0f0f0;
    border-top:1px solid #999;
    overflow:hidden;
    width:100%;
}

.header h2 {
    font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        font-weight:bold;
    margin-bottom:0;
}


.comments a {
    text-decoration:none;
    background: url(/skins/global/gfx/icons/sprite_15.png) 0 -76px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 10px;
}

.negativ .comments a {
    color:#fff;
    text-transform:uppercase;
}


.pager {
    list-style:none;
    overflow:hidden;
    padding:5px;
    width:100%;
}
.pager li {
    display:-moz-inline-stack;
    display:inline-block;
    margin-bottom: 20px;
    margin-right:5px;
}
.ie .pager li {
    display:inline;
    position:relative;
}

.pager .button.active {
    background-color:#ccc;
    border:1px solid #666;
    color:#333;
}

/* Les ogsaa */
.relatedArticles {
    border-bottom: 3px solid #005395;
    margin-bottom: 10px;
}

.relatedArticles .header {
    margin: 0;
}

.relatedArticles .header h2 {
    font-size: 0.85em;
}

.relatedArticles>div {
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #e0e0e0;
}

.relatedArticles .inline-image img {
    float: left;
    margin: 0 7px 2px 5px;
}

.relatedArticles .inline-image a {
    width: 40%;
}

.relatedArticles h3 {
    line-height: 1.15em;
    margin-bottom: 4px;
    font-size: 0.95em;
}

.relatedArticles p {
    margin: 0 5px;
    line-height: 1.15em;
    font-size: 0.95em;

}

#header .searchField input,
#footer .searchField input {
    height: 17px;
    width: 230px;
}

#header .mobileHeader .searchField form,
#footer .mobileHeader .searchField form {
    float:left;
    margin: 8px auto;
    overflow: hidden;
    position: static;
    top: auto;
}

/* Sprek */
/* .artTheme.sprek {
    background-image: none;
} */

.artTheme.sprek {
    border-top: 3px solid #69B13F;
    border-bottom: 3px solid #69B13F;
    margin-top:0;
    padding-top:0;
}

