/*  NOTE! -- Please edit rating.less instead of compiled CSS output.
    To compile you may use WinLESS which can be found at winless.org. */

// Constants

@grayout: #ddd;
@highlighted: #e6007e;
@bgPositionTop: 4px;
@ratingWidth: 145px;
@ratingHeight: 24px;

// Reusable mixins

.textShadow(@color) {
	text-shadow: 1px 1px 1px #FFFFFF, -1px 1px 1px #FFFFFF, 1px -1px 1px #FFFFFF, -1px -1px 1px #FFFFFF, 0 1px 2px @color;
}

.basic() {
	//clear: both;
    float: right;
	font-size: 19px;
    height: @ratingHeight;
    letter-spacing: 0px;
	width: @ratingWidth;
}

.hideRatingSpan() {
    font-size: 0;
    visibility: hidden;
}
	
// Here's entry definition
//.span6 {clear: both;float: left;margin: 20px;width: 580px;}
.bodyText {
    h3,h4,h5 {
        line-height: @ratingHeight;
        margin: 0;
        padding-right: @ratingWidth+5;
    }
    // Rating definition
    [class*="rating"] {
        .basic;
        span {.hideRatingSpan;}
        &:before, &:after {
            float: right;
        }
        &:after {
            color: @highlighted;
            .textShadow(#9C0055);
        }
        &:before {
            color: @grayout;
            .textShadow(#999);
        }
        &[class$="1"] {
            &:before {
                content: '\2605';
            }
            &:after {
                content: '\2605\a0\2605\a0\2605\a0\2605\a0\2605\a0';
            }
        }
        &[class$="2"] {
            &:before {
                content: '\2605\a0\2605';
            }
            &:after {
                content: '\2605\a0\2605\a0\2605\a0\2605\a0';
            }
        }
        &[class$="3"] {
            &:before {
                content: '\2605\a0\2605\a0\2605';
            }
            &:after {
                content: '\2605\a0\2605\a0\2605\a0';
            }
        }
        &[class$="4"] {
            &:before {
                content: '\2605\a0\2605\a0\2605\a0\2605';
            }
            &:after {
                content: '\2605\a0\2605\a0';
            }
        }
        &[class$="5"] {
            &:before {
                content: '\2605\a0\2605\a0\2605\a0\2605\a0\2605';
            }
            &:after {
                content: '\2605\a0';
            }
        }
        &[class$="6"] {
            &:before {
                content: '\2605\a0\2605\a0\2605\a0\2605\a0\2605\a0\2605';
            }
        }
    }
    p {
        margin: 10px 0;
    }
    .separator {
        background-color: @highlighted;
        border: 0;
        color: @highlighted;
        height: 3px;
        margin: 0 0 10px;
    }
}
// IE7 fallback rating stars
&.ie7 .bodyText [class*="rating"] {
    .basic;
    span {.hideRatingSpan;}
    background: url(/skins/publications/osloby/gfx/stars.png) no-repeat;
    &[class$="1"] {
        background-position: -121px @bgPositionTop;
    }
    &[class$="2"] {
        background-position: -97px @bgPositionTop;
    }
    &[class$="3"] {
        background-position: -73px @bgPositionTop;
    }
    &[class$="4"] {
        background-position: -49px @bgPositionTop;
    }
    &[class$="5"] {
        background-position: -26px @bgPositionTop;
    }
    &[class$="6"] {
        background-position: -2px @bgPositionTop;
    }
}

@media only screen and (min-width : 320px){
    .bodyText [class*="rating"] {
        width: @ratingWidth+5;
    }
}