.widget.realEstateInfo.details {
    display: none;
    float: left;
    font-size: 12px;
    width: 100%;
}

.widget.realEstateInfo.details hr {
    border-bottom: 1px dashed #DADADA;
    border-style: none none dashed;
    border-width: 0 0 1px;
    float: left;
    margin: 30px 0;
    width: 100%;
}

.widget.realEstateInfo.details .description {
    float: left;
    width: 100%;
}

.widget.realEstateInfo.details h3 {
    color: #0086A3;
    float: left;
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.widget.realEstateInfo.details ul h3 {
    padding: 0 0 0 25px;
}

.widget.realEstateInfo.details ul h3:before {
    background: url("/skins/global/gfx/realEstateInfo/icon_set.png") no-repeat scroll 0 -120px transparent;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.widget.realEstateInfo.details b {
    color: #0086A3;
}

.widget.realEstateInfo.details ul {
    float: left;
    margin-left: 20px;
    width: 180px;
}

.widget.realEstateInfo.details ul:first-child {
    margin-left:0;
}

.widget.realEstateInfo.details li {
    float: left;
    line-height: 1.75em;
    width: 100%;
}

.widget.realEstateInfo.details li span {
    float: left;
    max-width: 50%;
}

.widget.realEstateInfo.details li strong {
    float: right;
    max-width: 50%;
    word-wrap: break-word;
}