.widget.realEstateInfo.heading {
    position: relative;
    padding: 0 20px!important;
}

.widget.realEstateInfo.heading h1 {
    font-size: 35px;
}

.widget.realEstateInfo.heading .lastUpdate,
.widget.realEstateInfo.heading .finnkode {
    float: left;
    margin-right: 40px;
}

.widget.realEstateInfo.heading .sharing {
    position: absolute;
    right: 0;
}