.widget.realEstateInfo ul.features {
    padding: 0 10px 4px;
}
.widget.realEstateInfo ul.features li {
    background-color: #e0e0e0;
    padding: 5px 10px;
}

.widget.realEstateInfo ul.features li:nth-child(2n+1) {
    background-color: #f0f0f0;
}

.widget.realEstateInfo ul.features li .value {
    float: right;
    font-weight: bold;
}

.widget.realEstateInfo header {
    font-weight: bold;
    font-size: 16px;
    font-family: 'PT Sans',Arial,Helvetica,Sans-serif;
}

.widget.realEstateInfo img[width="25"] {
    width:25px!important;
}