.widget.realEstateInfo.map .mapContainer {
    display:none;
}
.widget.realEstateInfo.map .mapContainer {
    height: 90%;
    margin: 10px;
}
.span10 .widget.realEstateInfo.map {
    height: 380px;
    margin-bottom: 28px;
    width: auto!important;
}

@media only screen and  (max-width: 800px) {
    .span10 .widget.realEstateInfo.map {
        height: 240px;
    }

    .widget.realEstateInfo.map .map_decor {
        background-image: url("/skins/global/gfx/realEstateInfo/map_border.png");
        background-repeat: no-repeat;
        background-size: 100% auto!important;
        height: 20px;
        position: relative;
        margin: -13px 10px 10px;
    }
}