.widget.realEstateInfo.pictures {
    position: relative;
    padding: 0 !important;
}

.span4 .widget.realEstateInfo.pictures {
    width: 380px;
}

.span6 .widget.realEstateInfo.pictures {
    width: 580px;
}

.widget.realEstateInfo.pictures .picturesList {
    float: left;
    overflow: hidden;
}
.widget.realEstateInfo.pictures .slideshow-wrapper {
    border: 1px solid #494949;
    border-radius: 3px;
    position: relative;
}

.widget.realEstateInfo.pictures .picturesList li {
    position: relative;
}

.span4 .widget.realEstateInfo.pictures .slideshow-wrapper,
.span4 .widget.realEstateInfo.pictures .picturesList li {
    height: 280px;
}

.span6 .widget.realEstateInfo.pictures .slideshow-wrapper,
.span6 .widget.realEstateInfo.pictures .picturesList li {
    height: 386px;
}

.widget.realEstateInfo.pictures .picturesList img {
    width: 100%;
}

.widget.realEstateInfo.pictures .picturesList span {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #fff;
    font-size: 13px;
    left: 0;
    line-height: 14px;
    padding: 6px 9px;
    position: absolute;
    z-index: 1;

    width: 100%;
}

/*
.widget.realEstateInfo.pictures .slideShowPrev.enabled {
    border-left: 0 none;
    border-radius: 0 50% 50% 0;
    left: 0;
    text-align: left;
}

.widget.realEstateInfo.pictures .slideShowNext.enabled {
    border-right: 0 none;
    border-radius: 50% 0 0 50%;
    left: auto;
    right: 0;
    text-align: right;
}
*/

.widget.realEstateInfo.pictures .counter {
    text-align: center;
}

.widget.realEstateInfo.pictures .counter a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

.widget.realEstateInfo.pictures .slideShowPrev,
.widget.realEstateInfo.pictures .slideShowNext {
    /* top: 60px; */

    display: none;
}
.widget.realEstateInfo.pictures .slideshow-list {
    min-height: 220px !important;
}
.widget.realEstateInfo.pictures .slideshow-element {
    text-align: center;
}
.widget.realEstateInfo.pictures img {
    display: block;
    margin: auto;
    vertical-align: middle;
}
.widget.realEstateInfo.pictures .landscape{
    width: 100%;
}

.widget.realEstateInfo.pictures .portrait {
    width: auto !important;
    max-height: 480px;
}
.widget.realEstateInfo.pictures .counterWrapper {
    position: relative;
}
.widget.realEstateInfo.pictures .counterWrapper.hasThumbnails {
    height: 70px;
}

@media only screen and (min-width: 320px) and  (max-width: 640px) {
    .widget.realEstateInfo.pictures .thumbsNext,
    .widget.realEstateInfo.pictures .thumbsPrev {
        height: 45px!important;
    }
    .widget.realEstateInfo.pictures .thumbnails img {
        width: 60px;
    }
    .widget.realEstateInfo.pictures .thumbnails {
        height: 40px;
    }
}
@media only screen and (min-width: 320px) and  (max-width: 340px) {
    .widget.realEstateInfo.pictures .portrait {
        max-height: 220px !important;
    }
}
@media only screen and (min-width: 341px) and (max-width: 380px) {
    .widget.realEstateInfo.pictures .portrait {
        max-height: 240px !important;
    }
}
@media only screen and (min-width: 381px) and (max-width: 640px) {
    .widget.realEstateInfo.pictures .portrait {
        max-height: 270px !important;
    }
    .widget.realEstateInfo.pictures .picturesList img.landscape {
        width: auto;
        height: 270px;
    }
    .widget.realEstateInfo.pictures .thumbnails img {
        width: 60px;
    }
}

.span7 .widget.realEstateInfo.pictures .portrait,
.span6 .widget.realEstateInfo.pictures .portrait {
    max-height: 460px;
}
