

#footer {
    position:relative;
}

#footer .preFooterWrapper{
	background:#cacaca
}
#footer .preFooterWrapper ul.support a{
     color:black;
}
#footer .footerWrapper {
        border-top: 0 none;
	color:white;
	font-size:14px;
	background: #000000;
}

#footer a {
	color:white;
}

#footer dt {
	font-weight:bold;
	text-transform:uppercase;
	clear:both;
}

#footer #mnodigital {
    position: relative;
    bottom: -330px;
    right: -50px;
}
#footer .social {
    position: relative;
    right: -72px;
    top: -40px;
}

span.copyright {
	font-weight:bold;
}
div.logos-wrapper{
	width:100%;
}
div.farsund-logo, div.lister-logo {
	text-indent: -999999px;
	background: url(/skins/publications/farsund/gfx/logos_sprite.png);
	background-repeat: no-repeat;
	margin:30px 0 15px;
	float:left;
}
div.farsund-logo {
	background-position: 0 -49px;
	height: 28px;
	width:138px;
    margin-right:50px;
}
div.lister-logo {
    background-position:0 -22px;
	height: 27px;
	width:66px;
}

#preFooter ul.support {
	line-height:14px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .social {
        display:none;
    }
    #footer #mnodigital {
        bottom:0;
        right:0;
        margin-bottom:10px;
    }
   #footer .span10 .padded20 .span3 {
        width: 235px;
    }
   .shorthandBar .span4 {
       width:180px;
   }
}