.relatedContents .header {
    font-weight: bold;
    border-bottom: 2px solid #00A6DE;
}
.relatedContents .header h2,
.relatedContents .header h3,
.relatedContents .header h4 {
    margin-bottom: 0;
    color: #000;
    text-transform: uppercase;
    line-height: 22px;
    font-size: 14px;
}
.relatedContents a:hover {
    text-decoration: underline;
}
.relatedContents.singleLineList .content li {
    background-image: none;
}
.relatedContents.mapbox .header {
    margin-bottom: 5px;
}
.relatedContents .header h2:before,
.relatedContents .header h3:before,
.relatedContents .header h4:before {
    content: '';
    background-color: #ee3e3d;
    width: 0.8em;
    height: 0.8em;
    border-radius: 1em;
    display: inline-block;
    vertical-align: 0;
    margin-right: 3px;
}