body {
    font-family: Verdana, sans-serif;
}
h2.subTitle {
    font-family: arial, sans-serif;
    font-size: 24px;
}
a {
    color: #017DA7;
}

/* right ad banner */
#adRight {
    margin-left: 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #header .avis{
        display:none;
    }
}