@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
    #topAd .span2 {
        display:none;
    }

    #header {
        margin-top:30px;
    }

    body #header .mainHeader:after,
    body #header .sectionHeader:after {
        width:100%;
    }

    body #serviceMenu {
        background: #fff;
        margin-left:0;
        position:absolute;
        top:-30px;
            left:0;
        width:100%;
    }

    body #serviceMenu li {
        float:left;
        padding:5px;
    }

    body #serviceMenu li a {
        color:#000;
        font-size:16px;
        text-align:left;
    }

    .grid12 {
        padding: 0;
        width:100%;
    }

    #viewport {
        padding: 0 5px;
    }

    #adRight {
        display:none;
    }

    #footer .span4 {
        width:300px
    }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) and/*!YUI-compressor */ (orientation : portrait) {
    body #page {
        font-size:18px;
    }
    #page .teaserText {
        font-size:20px;
            line-height:23px;
    }
}