/* Themes */
.artTheme {
    padding: 5px 10px;
}

.artTheme:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.artTheme.default {
    padding: 0;
}

.artTheme,
.rowTheme {
    text-shadow: none;
    zoom:1;
}

.artTheme header,
.rowTheme header {
    text-shadow:none;
}

.rowTheme {
    padding-top:7px;
    padding-bottom:7px;
}

.themeHeadline {
    display:none;
}

.rowTheme .themeHeadline,
.artTheme .themeHeadline {
    display:block;
}

/* Expand rowTheme 10px */
.rowTheme.expand10 {
    margin-left: -10px;
    padding-left:10px;
        padding-right:10px;
    width:100%;
}

/* Sprek*/
.artTheme.sprek {
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff69B13F', endColorstr='#0069B13F');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff69B13F', endColorstr='#0069B13F')";
        background-image: -webkit-gradient(linear, center top , color-stop(0, rgba(107,177,63,1)), color-stop(1, rgba(105,177,63,0)));
        background-image: -moz-linear-gradient(center top , rgba(107,177,63,1), rgba(105,177,63,0));
        background-image: -webkit-linear-gradient(center top ,rgba(107,177,63,1), rgba(105,177,63,0));
        background-image: linear-gradient(center top ,rgba(107,177,63,1), rgba(105,177,63,0));
    border-top:4px solid #69B13F;
}

.rowTheme.sprek {
    background-image:-moz-linear-gradient(left top , #fff, #d2e7c5, #ffffff);
        background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0, #fff),color-stop(0.5, #d2e7c5), color-stop(1, #ffffff));
        background-image:-webkit-linear-gradient(left top , #fff, #d2e7c5, #fff);
        background-image:linear-gradient(left top , #fff, #d2e7c5, #fff);
    border-top:4px solid #69B13F;
    border-bottom:4px solid #69B13F;
}

.ie .rowTheme.sprek {
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#d2e7c5');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#d2e7c5')";
}

.ie9 .rowTheme.sprek {
    background-image:url(/template/common/gfx/gradient.jsp?type=linear&y1=0&x1=0&y2=100&x2=100&colorStop=ffffff|0,d2e7c5|50,ffffff|100);
}

.rowTheme.sprek .themeHeadline h1 {
    color:#69B13F;
}

/* Din mat*/
.artTheme.dinmat {
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffc54218', endColorstr='#00c54218');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffc54218', endColorstr='#00c54218')";
        background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0,rgba(197,66,24,1)), color-stop(1,rgba(197,66,24,0)));
        background-image: -moz-linear-gradient(center top ,rgba(197,66,24,1), rgba(197,66,24,0));
        background-image: -webkit-linear-gradient(center top , rgba(197,66,24,1), rgba(197,66,24,0));
        background-image: linear-gradient(center top , rgba(197,66,24,1), rgba(197,66,24,0));
    border-top:4px solid #c54218;
}

.rowTheme.dinmat {
    background-color: #fff;
    background-image:-moz-linear-gradient(left top , #fff, #edc6b9, #ffffff);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(0.5,#edc6b9), color-stop(1, #ffffff));
        background-image:-webkit-linear-gradient(left top , #fff, #edc6b9, #fff);
        background-image:linear-gradient(left top , #fff, #edc6b9, #fff);
    border-top:4px solid #c54218;
    border-bottom:4px solid #c54218;
}

.ie .rowTheme.dinmat {
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#edc6b9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#edc6b9')";
}

.ie9 .rowTheme.dinmat {
    background-image:url(/template/common/gfx/gradient.jsp?type=linear&y1=0&x1=0&y2=100&x2=100&colorStop=ffffff|0,edc6b9|50,ffffff|100);
}

.rowTheme.dinmat .themeHeadline h1 {
    color:#c54218;
}

.dinmat.bgColorOuter{
    background-color: #c54218;
}

/* blogg */
.rowTheme.blogg {
    background-color: #fff;
    background-image:-moz-linear-gradient(left top , #fff, #decbc6, #fff);
        background-image:-webkit-gradient(linear, left top, right bottom , #fff, color-stop(0,#decbc6), color-stop(1,#fff));
        background-image:-webkit-linear-gradient(left top , #fff, #e9e9e9, #fff);
        background-image:linear-gradient(left top , #fff, #e9e9e9, #fff);
    border-top:4px solid #533128;
    border-bottom:4px solid #533128;
}

.ie .rowTheme.blogg {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#decbc6');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#decbc6')";
}

.ie9 .rowTheme.blogg {
    background-image:url(/template/common/gfx/gradient.jsp?type=linear&y1=0&x1=0&y2=100&x2=100&colorStop=ffffff|0,decbc6|50,ffffff|100);
}

.rowTheme.blogg .themeHeadline h1 {
    color:#533128;
}

/* negativ */
.artTheme.negativ,
.rowTheme.negativ,
.rowTheme.negativ .artTheme {
    text-shadow:0 1px 0 #000;
}

.artTheme.negativ {
    background:#222 !important;
    border-top:4px solid #222;
}

.rowTheme.negativ {
    background-color:#333;
    background-image:-moz-linear-gradient(left top , #111, #333, #111);
        background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0, #111), color-stop(0.5,#333), color-stop(1, #111));
        background-image:-webkit-linear-gradient(left top, #111111, #333333, #111111);
        background-image:linear-gradient(left top, #111111, #333333, #111111);
    border-top:4px solid #222;
    border-bottom:4px solid #222;
}

.ie .rowTheme.negativ {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#111111', endColorstr='#222222');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#111111', endColorstr='#222222')";
    border-color: #222;
}

.ie9 .rowTheme.negativ {
    background-image:url(/template/common/gfx/gradient.jsp?type=linear&y1=0&x1=0&y2=100&x2=100&colorStop=111111|0,333333|50,111111|100);
}

.negativ,
.negativ h2,
.negativ h3,
.negativ .header h3,
.negativ a,
.negativ a:hover,
.negativ a:visited,
.negativ a:active {
    color:#fff;
}

.negativ a {
    text-decoration:underline;
}

.negativ h2 a {
    text-decoration:none;
}

.sectionPage .negativ article:hover {
    -moz-box-shadow:none;
        -webkit-box-shadow:none;
        box-shadow:none;
}

.negativ .runningHead,
.negativ .header h1,
.negativ .header h2 {
    background: none;
    color:#fff;
}

.negativ blockquote cite {
    color:#ccc;
}
/* tv */
a.hasTvIcon { text-decoration: none; position: relative; }

.negativ .livestudio .latestNews{
    color: black;
    text-shadow: none;
    background-color: white;
}

