<ul role="tablist" class='moodlisttabs'>
    {{if showAllTab=='true'}}
        <li id="tab${uniqueId}0" class="moodtabAll" role="tab" tabindex="0" aria-selected="true" aria-label="selected">Alle</li>
    {{/if}}
    {{if showRvTabs=='true'}}
        {{each(i, value) userRatings}}
            <li id="tab${uniqueId}${i+1}" role="tab" tabindex="${(showAllTab==='false' && i ===0) ? '0' : '-1'}" aria-selected="${(showAllTab==='false' && i ===0) ? 'true' : 'false'}" aria-label="${(showAllTab==='false' && i ===0) ? 'selected' : 'not selected'}" class="moodBg${i+1}">
                {{html ratingText}}
            </li>
        {{/each}}
    {{/if}}
</ul>

{{if showAllTab=='true'}}
    <div role="tabpanel" aria-labelledby="tab${uniqueId}0" aria-hidden="false" class="panel moodpanel">
        <ul class="content">
        {{each(i, value) userRatings}}
            <li>
                 <a href='{{html articles[0].articleurl}}'>{{html articles[0].articletitle}}</a><span class='rating'><span class="ratingNumber moodBg${i+1}">{{html articles[0].votes}}</span><span class='ratingtext mood${i+1}'>{{html ratingText}}</span></span>
            </li>
        {{/each}}
        </ul>
    </div>
{{/if}}

{{if showRvTabs=='true'}}
    {{each(i, value) userRatings}}
        <div role="tabpanel" aria-labelledby="tab${uniqueId}${i+1}" aria-hidden="${showAllTab === 'false' && i===0 ? 'false' : 'true'}" class="panel moodpanel${i+1}">
            <ul class="content">
                {{each articles}}
                    <li>
                         <a href='{{html articleurl}}'>{{html articletitle}}</a><span class="rating moodarticle${i+1}"><span class="ratingNumber moodBg${i+1}">{{html votes}}</span></span>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
{{/if}}