<ul class="rating">
    <li>
    <div id="${id}_ratingUsers">
    {{each scale}}
         <img id="${id}_usrrat_${$index+1}" alt="" src="${starOff.src}">
     {{/each}}
    </div>
    </li>
</ul>
