#searchresult-count {
    font-size:12px;
    float:right;
    margin-top:12px;
}

.searchresult .url {
    color:#090;
    display:block;
    font-size:12px;
}
.searchresult .url:hover{
    text-decoration:underline;
}

#searchresult-tip {
    background:#f9f9f9;
    border:1px solid #ccc;
    margin-bottom:20px;
    padding:5px 5px 5px 100px;
}

#searchresult-tip dt {
    float:left;
    margin-left:-95px;
    width:115px;
}

.searchresult .searchImg{
    float:left;
    margin: 5px 5px 5px 0;
}

.button.active {
    background-color:#ccc;
    border:1px solid #666;
    color:#333;
}