<ul class="articleList">
{{each(i,quiz) items}}
    {{if i < numOfQuizzes}}
        <li>
            {{if (quiz.categoryId==1||quiz.categoryId==39||quiz.categoryId==40||quiz.categoryId==41||quiz.categoryId==42||quiz.categoryId==44||quiz.categoryId==45||quiz.categoryId==46)}}
                    <div class="quizIconSmall icon${quiz.categoryId}" title="${quiz.categoryName}"></div>
            {{else}}
                    <div class="quizIconSmall icon44" title="${quiz.categoryName}"></div>
            {{/if}}
            <a href="${quizSectionUrl}?id=${quiz.quizId}" id="${quiz.quizId}_link">${quiz.title}</a>
            {{if showStars=='true'}}
                <img id="${dataWidgetId}_${quiz.quizId}_userrat_1" alt="" src="{{if quiz.totalUserRatingAvgValue > 0}}${starOn}{{else}}${starOff}{{/if}}">
                <img id="${dataWidgetId}_${quiz.quizId}_userrat_2" alt="" src="{{if quiz.totalUserRatingAvgValue > 1}}${starOn}{{else}}${starOff}{{/if}}">
                <img id="${dataWidgetId}_${quiz.quizId}_userrat_3" alt="" src="{{if quiz.totalUserRatingAvgValue > 2}}${starOn}{{else}}${starOff}{{/if}}">
                <img id="${dataWidgetId}_${quiz.quizId}_userrat_4"alt="" src="{{if quiz.totalUserRatingAvgValue > 3}}${starOn}{{else}}${starOff}{{/if}}">
                <img id="${dataWidgetId}_${quiz.quizId}_userrat_5" alt="" src="{{if quiz.totalUserRatingAvgValue > 4}}${starOn}{{else}}${starOff}{{/if}}">
            {{/if}}
        </li>
    {{/if}}
{{/each}}
    {{if showUserQuiz=='true'}}
        <li>
            <a href="${userQuizUrl}"><div class="quizIconSmall iconUserQuiz" title="Lag din egen Quiz!"></div></a>
        </li>
    {{/if}}
</ul>