.widget.reiseCarousel.default section {
    display: none;
}

.widget.reiseCarousel.default {
    background-color: #C9D765;
    border-radius: 3px;
    list-style-type: none;
    overflow: hidden;
    width: 332px;
    margin-bottom: 10px;
}

.widget.reiseCarousel.default div {
    padding: 6px 6px 0;
}

.widget.reiseCarousel.default div h2 {
    background-color: #9AAE06;
    border-radius: 3px;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding: 3px;
}

.widget.reiseCarousel.default .resultListBox {
    clear: both;
}

.widget.reiseCarousel.default .resultItemResultList {
    list-style-type: none;
}

.widget.reiseCarousel.default .resultItemResultList li {
    background-color: #fff;
    display: block;
    float: left;
    clear: right;
    overflow: hidden;
    margin-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    width: 152px;
    height: 152px;
    margin-bottom: 5px;
}

    .widget.reiseCarousel.default .resultItemResultList li img {
        background-color: #fff;
        border: 0 none;
        height: 85px;
        width: 152px;
    }
    
    .widget.reiseCarousel.default .resultItemResultList li h3 {
        font-size: 90%;
        padding: 3px;
        overflow: hidden;
        display: block;
        height: 20px;
        text-overflow: ellipsis;
        width: 90%;
    }
    
    .widget.reiseCarousel.default .resultItemResultList li a {
        color: #666;
        font-size: 82%;
        padding: 0 3px;
        text-decoration: underline;
    }

.widget.reiseCarousel.default .resultListBox .resultItemPrice {
    background: none repeat scroll 0 0 #393939;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    color: #fff;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    position: relative;
    text-align: right;
    top: 10px;
    width: 65px;
}