.forecastSummary .dailySummary{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border: solid 1px #9DCE38;
    width: 215px;
    padding: 5px;
    -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
    vertical-align:top;
}

.forecastSummary .dailySummary .title{
    font-weight: bold;
    display: block;
}

.forecastSummary .dailySummary .forecast{
    font-weight: normal;
    font-size: 0.9em;
}

.forecastSummary .expandCollapse{
    cursor: pointer;
}

.forecastSummary .arrow.up{
    -webkit-transform:  rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.forecastSummary .arrow.down{
    -webkit-transform:  rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}