.factboxes {
    font-family: Tahoma, Arial, sans-serif;
    color: #000;
}
.factboxes header {
    font-weight: bold;
    border-bottom: 2px solid rgb( 75, 134, 198);
    text-align: right;
}
.factboxes header h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
}
.factboxes header h2:before {
    content: '';
    background-color: rgb(157, 0, 0);
    border-radius: 0.8em;
    width: 0.8em;
    height: 0.8em;
    margin-right: 4px;
    display: inline-block;
}
.factboxes .content {
    background: #f9f9f9;
    border: solid #ccc;
    border-width: 0 0 0 1px;
    line-height: 1.4em;
    font-size: 14px;
}
.factboxes .content p {
    margin-bottom: 0;
}
.factboxes .content ul {
    list-style-type: square;
    list-style-position: inside;
}