.mnoVideo.gridUnit {overflow: hidden;}

.gridRow.tv {
    background: #333;
    color: #fff;
    height: auto;
        min-height: 520px;
    width: 768px;
    margin: 0 0 15px 0;
    padding: 8px;
    overflow: hidden;
}

.gridRow.tv h1,
.gridRow.tv article h2 {
    font-size: 26px;
    margin: 12px 0 10px 0;
    padding: 0 0 3px;
}

.gridRow.tv .leadText,
.gridRow.tv article p {
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: normal;
    display:block;
}

.gridRow.tv .dateline {
    font-size: 11px;
}

#ad_tv_skyscraper {
    height: 500px;
    width: 180px;
    position: absolute;
        top: 12px;
        right: 10px;
}

.gridRow.tv .byline {
    background: transparent;
    border-left: 0;
    line-height: inherit;
    margin: 0 25px 0 0;
    padding: 0;
    font-size: 12px;
    display: inline;
}
.gridRow.tv .byline .prefix {
    color: #fff;
        font-weight: bold;
    position: relative;
        left: 0;
        top: 0;
}
.gridRow.tv .byline .fn {
    color: #fff;
}
.gridRow.tv .dateline {
    display: inline;
}

.gridRow.tv .list.detailed header,
.gridRow.tv .list.detailed footer {
    display: none;
}

.gridRow.tv .article:before {
    content: '';
}

.gridRow.tv h2,
.gridRow.tv h3,
.gridRow.tv h2 a,
.gridRow.tv h3 a,
.gridRow.tv .header h3,
.gridRow.tv a,
.gridRow.tv a:hover {
    color: #fff;
}

.gridRow.tv .articleList li {
    border-bottom: 0;
}

#at16p {
    left:70% !important;
}

#marginIcons{
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#marginIconsSection{
    margin-top: 7px;
    margin-right: 222px;
    margin-bottom: 5px;
}

.gridRow.tv .readMore {
    text-decoration: underline;
    font-size: 12px;
}