.tvGuide h3 {
    border-bottom: 3px solid #3c3c3c;
    clear: both;
    margin: 0 0 5px 0;
    padding-bottom: 5px;
}

.tvGuide .coverart{
    float:left;
    font-size:10px;
    margin: 0 15px 10px 0;
    text-align:center;
    width: 60px;
    word-wrap: break-word;
    break-word: break-all;
}

.tvGuide .coverart img{
    display:block;
    width:60px;
}

.tvGuide .recData{
    font-size: 10px;
}

.tvGuide .recData .title{
    font-size: 11px;
        font-weight:bold;
}