.widget.realEstateInfo.brokerInfo .logo {
    margin: auto;
    width: auto;
    max-width: 60%;
    max-height: 50px;
}

.widget.realEstateInfo.brokerInfo .button {
    width: 95%;
    margin-top: 5px;
}

.widget.realEstateInfo .brokerLinks a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
}