.widget.realEstateInfo.keyInfo .address {
    font-size: 18px;
    font-family: 'PT Sans', Arial, Helvetica, Sans-serif;
    /* gotham book */
    padding-bottom: 8px;
    clear: both;
}

@media only screen and (max-width: 480px) {
    .widget.realEstateInfo.keyInfo .address {
        display: none;
    }
}