.list a {
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.list header h2::after, .feed header h2::after {

    content: '';
    background-color: rgb(157, 0, 0);
    border-radius: 1em;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0;
    display: inline-block;
    vertical-align: 0;
    margin-left:10px;
}

.list header h2, .feed header h2 {
    font-weight:bold;
    color:black;
    text-transform:uppercase;
    line-height: 22px;
    font-size:12px;
    border-bottom:2px solid rgb(75,134,197)
    }

.article .list header h2::after{
    content: '';
    background-color: rgb(157, 0, 0);
    border-radius: 1em;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0;
    display: inline-block;
    vertical-align: 0;
    margin-left:10px;
}

.article  .list header h2{
    font-weight:bold;
    color:black;
    text-transform:uppercase;
    font-size:1em;
    border-bottom:2px solid rgb(75,134,197);
    font-family: Tahoma, Arial, sans-serif;
}
.hoverFix {
    padding-right: 40px;
}