/* ie 7-8 */
@font-face {
    font-family: "DINWebBlack";
    src: url("/skins/publications/fvn/fonts/DINWeb-Black.eot?#iefix");
}
@font-face {
    font-family: "DINWebBlackItalic";
    src: url("/skins/publications/fvn/fonts/DINWeb-BlackIta.eot?#iefix");
}

@font-face {
    font-family: "DINWebBold";
    src: url("/skins/publications/fvn/fonts/DINWeb-Bold.eot?#iefix");
}
@font-face {
    font-family: "DINWebBoldItalic";
    src: url("/skins/publications/fvn/fonts/DINWeb-BoldIta.eot?#iefix");
}

@font-face {
    font-family: "DINWebNormal";
    src: url("/skins/publications/fvn/fonts/DINWeb.eot?#iefix");
}
@font-face {
    font-family: "DINWebItalic";
    src: url("/skins/publications/fvn/fonts/DINWeb-Ita.eot?#iefix");
}

@font-face {
    font-family: 'fvnEOT';
    src: url('/skins/publications/fvn/fonts/fvn-webfont.eot?#iefix');
}