.mobileTabbedMenu {
    background: #000;
    padding: 5px;
    position:relative;
        z-index:2;
    overflow: hidden;
}

.mobileTabbedMenu li {
    float:left;
    width:50%;
}

.mobileTabbedMenu a,
.mobileTabbedMenu .link {
    color:#fff;
    cursor:pointer;
    font-size: 16px;
    padding: 5px 0;
    display:block;
}

.mobileTabbedMenu li:nth-child(odd) a,
.mobileTabbedMenu li:nth-child(odd) .link {
    border-right: 1px solid #fff;
    padding-right:10px;
}

.mobileTabbedMenu li:nth-child(even) a,
.mobileTabbedMenu li:nth-child(even) .link {
    padding-left:10px;
}

.scrubber .mobileTabbedMenu {
    background: none;
    float:left;
        height:32px;
}

.scrubber .mobileTabbedMenu li {
    float:left;
    width:auto;
}

.scrubber .mobileTabbedMenu a,
.scrubber .mobileTabbedMenu .link,
.scrubber .mobileTabbedMenu li:nth-child(even) a,
.scrubber .mobileTabbedMenu li:nth-child(even) .link,
.scrubber .mobileTabbedMenu li:nth-child(odd) a,
.scrubber .mobileTabbedMenu li:nth-child(odd) .link {
    border: 0 none;
    color:#fff;
    float:left;
    font-size:16px;
        line-height:1;
    padding: 8px 15px 8px 5px;
}
