.topMenu.offCanvas header {
    margin-top:10px;
        margin-top:.625rem;
    margin-bottom: 5px;
        margin-bottom: .3125rem;
}

.topMenu.offCanvas nav {
    position:relative;
}

.topMenu.offCanvas h1 {
    color:#fff;
    display:inline-block;
    font-family: arial, sans-serif;
    margin:5px 0;
        margin: .3125rem 0;
    vertical-align:middle;
}

.topMenu.offCanvas .sectionTitle {
    color: #999;
    color:rgba(255,255,255,.5);
    font-size:1.5rem;
    float:right;
}

.topMenu.offCanvas.rootVisible .sectionTitle  {
    display:none;
}

.topMenu.offCanvas ul {
    border-top:1px solid rgba(0,0,0,.5);
    border-bottom:1px solid rgba(255,255,255,.1);
    margin-right:.625rem;
    -moz-transition:left 250ms ease-in-out, right 250ms ease-in-out;
        -ms-transition:left 250ms ease-in-out, right 250ms ease-in-out;
        -webkit-transition:left 250ms ease-in-out, right 250ms ease-in-out;
        transition:left 250ms ease-in-out, right 250ms ease-in-out;
    position:absolute;
        top:0;
        right: 100%;
    width: 100%;
}

.topMenu.offCanvas ul ul {
    left:0;
    right: 0;
}

.topMenu.offCanvas .currentTree ul {
    margin-left:.625rem;
    margin-right:0;
    right: 0;
    left:100%;
}

.topMenu.offCanvas .currentTree {
    margin-left:.625rem;
    margin-right:0;
    left:100%;
    right:0;
}

.topMenu.offCanvas .root {
    margin-left:-10px;
        margin-left:-.625rem;
    left:-100%;
}

.topMenu.offCanvas .currentTree.root {
    margin-left:0;
    left:0;
    right:0;
}

.topMenu.offCanvas li a {
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom:1px solid rgba(0,0,0,.5);
    color:#fff;
    display: block;
    padding:8px 5px;
        padding:.5rem .3125rem;
    margin:0;
}

.topMenu.offCanvas li a:hover {
    background: rgba(0,0,0,.5);
    border-color:transparent;
    text-decoration: none;
}

.topMenu.offCanvas .back {
    color:#fff;
    display: inline-block;
    font-size:32px;
        font-size:2rem;
    margin-right:5px;
        margin-right: .625rem;
    text-decoration: none;
    vertical-align: middle;
    -webkit:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.topMenu.offCanvas.rootVisible .back {
    display:none;
}

.topMenu.offCanvas .back:hover {
    color:#fff;
}

.topMenu.offCanvas .open {
    background: #002244;
    background: rgba(0,0,0,.2);
    border-top: 0 none;
        border-bottom:0 none;
    float:right;
    font-size: 24px;
        font-size:1.5rem;
        line-height:20px;
            line-height:1.25rem;
    margin-top:1px;
        text-align:center;
    width:24px;
        width: 1.5rem;
}

.ie .topMenu.offCanvas li {
    position:relative;
}

.ie .topMenu.offCanvas .open {
    position:absolute;
        top:0;
        right:0;
}

.ie .topMenu.offCanvas .open:before {
    position:relative;
        top:-20px;
}
