.sectionPage .span3 .list.simple .content {
    height:118px;
    overflow:hidden;
}

.sectionPage .span3 .list.simple .content:hover {
    overflow-y:auto;
}

.sectionPage .span3 .list.simple .content a {
    padding-right:19px;
}

.sectionPage .span3 .list.simple .content:hover a {
    padding-right:0;
}

.list .withDate time {
    margin-right: 5px;
}