{{each ads}}
<li class="carouselItem">
    <div class="adWrap">

        <div class="adInner" ga-data-id="realEstateCarousel_${widgetIndex}_ad_${id}">
            <div class="adOrganization">
                {{if (defaultLogo !== undefined && defaultLogo !== null)}}
                    <img data-original="${defaultLogo}" class="lazy adLogo" src="/skins/global/gfx/blank.gif" alt="{{if (defaultLogo !== undefined)}}{{html orgName}}{{/if}}" />
                {{/if}}
            </div>
            {{if (price !== undefined && price !== '0' && price !== null)}}
                <div class="listPrice">{{html price}},-</div>
            {{/if}}
            <img class="lazy adThumb" src="/skins/global/gfx/blank.gif" data-original="{{html defaultImageUrl.replace("_xl.", ".") }}" alt="{{html title}}" />
            <span class="adText">{{html heading}}</span>
        </div>

    </div>
</li>
{{/each}}
