.mobileStories.default .article{
    position:relative;
}
.mobileStories.default .media {
    /*-webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform:translate3d(0,0,0); */
}