#footer {
    background-color: #00a4dd;
    color:black;
    font-family:Verdana, sans-serif;
    font-size:14px;
}
#footer #mnodigital {
    margin-top:-40px;

}
#colophon {
    font-size: 14px;
}

#colophon dd {
    margin-left: 0;
}

#colophon a {
    color: black;
}


.startside{
    font-size:13px;
    text-align:left;
    width:100%;
    float:left;
    font-weight:normal;
}


a.footerRedaktor{
display:block;

    float: left;

    width:97px;
    height:114px;
    margin-top:20px;
}

a.footerPFU{
 display:block;
    width:139px;
    height:69px;

    float: left;

    margin-top:20px;

}

#footer #mnodigital::after {
    color:#646464;
}
.footerLogo{
    margin:0 auto;
    float: none;

}

.desc p{
    width:183px;
    margin-top:20px;
}

.StrillenFooter {
    width:161px;
    height:55px;

    float: left;

    margin-top:5px;

}
.StrillenFooter img, .footerPFU img {
    width:100%;
    display:inline-block;
}