.jobAdSearch2,
.jobAdSearch2 input,
.jobAdSearch2 h2,
.jobAdSearch2 .header h2,
.jobDisclaimer,
.jobSearchResults,
.jobSearchResults h2,
.jobAdSearch2.jobAdDescription h1,
.jobSearchFilters,
.jobSearchFilters h2{
    font-family: Arial, sans-serif;
}

.widget.pageTools.jobAdDetailTools .addthis_button_facebook,.jobAdShare .addthis_button_facebook {
    background-color: #004172;
}

.widget.pageTools.jobAdDetailTools .addthis_button_twitter,.jobAdShare .addthis_button_twitter {
    background-color: #26618d;
}

.widget.pageTools.jobAdDetailTools .addthis_button_linkedin,.jobAdShare .addthis_button_linkedin {
    background-color: #5f8fb3;
}

.widget.pageTools.jobAdDetailTools .addthis_button_email,.jobAdShare .addthis_button_email {
    background-color: #91b6d1;
}

.jobColumn4x6 .span6,.jobSearchResults .result ul li {
    border-left-color: #004172;
}

.jobAdSearch2 .jobButton {
    background-color: #199100;
    color: #fff!important;
}

.jobAdSearch2 .jobButton2,.jobAdSearch2.searchbox input[type="submit"],
.jobSearchResults .pagination > *,.jobSearchResults .pagination ul li,
.jobSearchResults .pagination .navBtn,.jobSearchResults select,
.jobSearchResults div.pillBox,.jobSearchResults div.pillBox input,
.jobSearchResults div.pillBox span{
    background-color: #004172;
    background-image: none;
    color: #fff!important;
}

.jobSearchResults .pagination ul li button.selected {
    background: #4e82b3;
    color: #fff;
}

.jobSearchResults .pagination button {
    color: #fff;
}

.positionDetails li,.icon_phone,.icon_mail,.positionDetails strong {
    border-left-color: #004172;
}

.jobAdSearch2.searchbox .header { /* make sure that SA header is similar to AP one */
    height: 20px;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 10px 0;
}

.jobAdSearch2.searchbox h2 { /* make sure that SA header is similar to AP one */
    line-height: 20px;
    margin: 0;
}

.entryWrap .icon_building:before {
    background-position: 16px -128px;
}

.entryWrap .icon_calendar:before {
    background-position: 16px -144px;
}

.jobAdSearch2.searchbox h2,.jobAdSearch2.searchbox h2 a,
.jobSearchResults h2,.jobSearchResults .resultsMessage,
.jobAdSearch2 .clearer a{
    color: #004172;
}

body.jobbannonse.okonomi.nyheter #topAd {
    display: none;
}

/* less than iPad's 768px */
/* mobile object page */
@media only screen and (max-width : 767px) {
    .relatedCompanyJobs h4,.relatedCategoryJobs h4,.latestJobs h4 {
        background-color: #004172;
        color: #fff;
        text-indent: 2.25em;
    }
    .relatedCompanyJobs h4:before,.relatedCategoryJobs h4:before,.latestJobs h4:before {
        background: url(/skins/publications/sa/gfx/sa_sprite.png) -5px -35px no-repeat;
    }
}