.moodboard.list header {
    margin-bottom:10px;
}

.moodboard.list .content {
    margin-bottom:-1px;
    padding-bottom:0;
}

.moodboard.list .content:hover {
    overflow:visible;
}

.moodboard.list .content li:first-child {
    background-color:#fff;
}

.moodboard .moodlisttabs {
    height:26px;
}

.moodboard .moodlisttabs li {
    color:#fff;
    font-size:12px;
        text-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
    padding:4px 7px;
}

.moodboard .panel {
    border-top-width: 4px;
    padding:0;
}

.moodboard .panel li {
    line-height:22px;
    padding-bottom:9px;
    padding-right:32px;
}

.moodboard .moodlisttabs .moodtabAll{
    background: #fff;
    color:#000;
    text-shadow:none;
}

.moodboard .moodpanel {
    border-top-width:1px;
}

.moodboard .moodpanel li {
    padding-right:100px;
}

.moodpanel1 {
    border-top-color:#f7941e;
}

.moodpanel2 {
    border-top-color: #964e8a;
}

.moodpanel3 {
    border-top-color: #a6ce39;
}

.moodpanel4 {
    border-top-color: #99bfd1;
}

.moodpanel5 {
    border-top-color: #d2232a;
}

.moodpanel6 {
    border-top-color: #1c85a6;
}

.moodboard .rating{
    font-family: 'publicoHeadlineWeb',Cambria,Times,'Times New Roman',serif;
        font-weight: bold;
    position:absolute;
        right:5px;
}

.ie .moodboard .rating {
    font-family: 'publicoHeadlineWebBold',Cambria,Times,'Times New Roman',serif;
}


.moodboard .moodpanel .rating{
    width:100px;
}

.moodboard .ratingNumber {
    -moz-border-radius:11px;
        -webkit-border-radius:11px;
        border-radius:11px;
    color:#fff;
    display:-moz-inline-stack;
    display:inline-block;
    margin: 0 5px;
    text-align:center;
    min-width:22px;
}

.moodboard .ratingtext{
    font-weight: normal;
}