.jobAdListings header {
    background-color: #014687;
}
.jobAdListings header h2{
    color: #fff;
    font-size: 12px;
}
.jobAdListings header:after {
    border-left: 7px solid #fff;
    border-right: 7px solid #fff;
    content : " ";
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 5px;
    position:absolute;
    bottom:-8px;
    width: 0;
}

.jobAdListings footer {
    background: url("/skins/publications/bt/gfx/icons/sokebokslogo2.png") no-repeat left center;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #014687;
    vertical-align: middle;
    margin: 0;

}

.jobAdListings footer a{
    vertical-align: middle;
    color: #fff;
    background: url("/skins/publications/bt/gfx/icons/next.png") no-repeat right center;
    padding-right: 25px;
    text-transform: none !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.jobAdListings footer img{
    padding-left: 5px;
}

#jobAdSearch-categoryList{
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
#jobAdSearch-categoryList ul{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#jobAdSearch-categoryList p{
    padding-left: 10px;
    padding-right: 10px;
}

.seAllAds{
    background-color: #014687;
    margin-top: 5px;
    height: 30px;
    width:378px;
    padding-bottom: 0;
    padding-left: 0;
    vertical-align: bottom;
}

.seAllAds a{
    float: right;
    color: #fff;
    padding-right: 25px;
    background: url("/skins/publications/bt/gfx/icons/next.png") no-repeat right center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 4px;
}

.jobAdListings.mgmt,
.jobAdListings.profiled{
    padding-bottom: 0;
}

section header,
article header {
    margin: 0;
}

.jobAdSearch.searchbox header{
    display: none;
}

.jobAdSearch.searchbox header a,
.jobAdSearch.searchbox form .headersok a{
    color: #fff;
}

.jobAdSearch.searchbox p{
    margin: 0;
    font-size: 14px;
}

.jobAdSearch.searchbox form .headersok{
    background-color: #014687;
    padding: 10px 5px 9px;
}

.jobAdSearch.searchbox form .pillBox{
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 0;
    float: right;
    background: url("/skins/publications/bt/gfx/icons/sokebokslogo.png") no-repeat left center;
    background-color: #014687;
    border-radius: 0;
    width:375px;
}

.jobAdSearch.searchbox input[type="text"]{
    height: 10px;
    vertical-align: middle;
    width: 100px;
    margin-left: 240px;
}

.jobAdSearch.searchbox input[type=submit]{
    background-color: #014687;
    background: url("/skins/publications/bt/gfx/icons/next.png") no-repeat right center;
    border: 0;
    box-shadow: none;
    float: right;
    width:10px;
    height: 15px;
    margin-bottom: 10px;
    text-indent:-100px;
}

.jobAdSearch.searchbox input[value="Søk"],
.jobAdSearch.searchbox input[value="Søk"]:hover{
    color: transparent !important;
    text-decoration: none !important;
    overflow: hidden;
    background: url("/skins/publications/bt/gfx/icons/next.png") no-repeat right center;
    text-shadow: none;
}

.recruiting header {
    background: url("/skins/publications/bt/gfx/icons/rekrutteringlogo.png") no-repeat;
    background-color:#014687;
    margin-bottom: 0;
    color: #fff;
    height: 30px;
    width: 380px;
    vertical-align: middle;
    filter: none;
}

.recruiting header h2{
    padding-top: 10px;
    float: right;
    padding-right: 10px;
}

.recruiting .content {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.recruiting .cells .span2:last-child{
    border-left: 0;
}

.recruiting li {
    display: block;
    font-size:12px;
    vertical-align: top;
}

.recruiting li p {
    color: #a5a5a5;
        font-size: 8px;
        text-transform: uppercase;
}

.recruiting p.more {
    font-size: 9px;
    margin-top:10px;
}

.recruiting span.error {
    color: #cc0000;
        font-weight: bold;
}