/* product list */
.productList {
    display: inline-block;
    margin-bottom: 7px;
    width: 90%;
}

.productList a {
    background-color: #e8e5db;
	color: #000;
    display: block;
    margin-bottom: 14px;
    position: relative;
    border-radius: 27px 0 0 27px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.productList a:hover {
    text-decoration: none;
    text-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.productList a:active {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

.productList a .label {
    background: url("/skins/publications/bt/gfx/icons/paywall-icons.png") 0 0 no-repeat;
    border-right: 2px solid #fff;
	min-height: 55px;
    float: left;
    width: 60px;
        height: 40px;
    padding: 0;
        margin-right: 23px;
    text-indent: -9999px;
    text-align: left;
}
.productList a .label.login {
    background-position: 11px -325px;
}
.productList a .label.abon {
    background-position: 10px -387px;
}
.productList a .label.non-abon {
    background-position: 10px -450px;
}

.productList a .title {
	font-size: 18px;
		font-weight: bold;
    padding: 20px 45px 0px 0;
    line-height: 1em;
    min-height: 35px;
}
.productFacts,
.productList a .description {
    font-size: 14px;
        font-weight: normal;
}

.productList a .title:after {
    background: url("/skins/publications/bt/gfx/icons/paywall-icons.png") 0 -252px no-repeat;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    top:10px;
    right:4px;
    position: absolute;
}

/* product list sub */
.productListSub {
    border-color: #e8e8e8;
        border-style: solid;
        border-width: 0 1px 1px;
    margin-top: -10px;
    padding: 10px 0;
}

.productListSub a {
    background-color: transparent;
    margin-bottom: 0;
}
.productListSub a:hover {
    background-color: #f3f3f3;
}

.productListSub li {
    border-bottom: 1px solid #e8e8e8;
    margin-right: 10px;
        margin-left: 10px;
}
.productListSub li.lastChild,
.productListSub li:last-child {
    border-bottom: 0 none;
    padding-top: 10px;
}

.productListSub .title {
    color: #009fda;
}
.productListSub .description {
    color: #000;
}
.buyProduct {
    padding: 10px 0;
}
.buyProduct h3 {
    color: #0084b5;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 8px;
    padding-left: 12px;
}
.buyProduct ul.textlist {
    list-style: disc inside;
    padding-left: 12px;
}
.buyProduct p {
    padding-left: 12px;
}

/* product announcement */
h1.productAnnouncement {
    line-height: 1em;
    padding: 60px 0 30px;
    font-size: 40px;
    font-weight: normal;
    color:#1a2853;
    margin: 0;
    font-family: Arial,sans-serif;
}

.productFacts {
    padding-left: 25px;
}
.productFacts .highlight {
    min-height: 40px;
    padding: 6px 0 6px 55px;
    border: 2px solid #bebdbe;
    background: url("/skins/publications/bt/gfx/icons/paywall-icons.png") 10px -184px no-repeat;
    margin-left: -55px;
    width: 100%;
}

/* screen size tweaks */
@media only screen and (max-width : 600px) {
    .productList a .title {
    	font-size: 14px;
    }

    .productAnnouncement {
        font-size: 15px;
    }

    .productList a .description,
    .productInfo.f-12 {
        font-size: 12px;
    }

    /* Stored articles */
    .mnoDropdown {
        background-color: #FFFFFF;
        clear: both;
        margin: 0px;
        padding: 0px;
        width: auto;
        position: absolute;
        top: 0px;
        border-bottom: 1px black solid;
        z-index: 999;
        overflow-x: hidden;
        overflow-y: scroll;
        left: 0px !important;
        right: 0px !important;
    }

    .mnoDropdown .mnoDropdownContent{
        font-size: 0.7em;
    }

    .mnoDropdown .mnoDropdownContent article img,
    .mnoDropdown .mnoDropdownContent div.stored,
    .mnoDropdown .mnoDropdownContent .info {
        display: none;
    }

    .mnoDropdown article h2 a {
        margin: 0px;
        padding: 0px !important;
    }

    .mnoDropdown .mnoDropdownContent span.delete.button {
        position: absolute;
        right: 10px;
        font-size: 15px;
        background-color: #CDCDCD;
        filter: none;
        -ms-filter: none;
        background-image: none;
        color: #000 !important;
        text-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: #CDCDCD 1px solid;
        width: 44px;
        padding-left: 0px;
        height:26px;
        text-align: center;
    }

    .mnoDropdown .mnoDropdownContent h2,
    .mnoDropdown .mnoDropdownContent div.published {
        font-size: 16px;
        font-weight: normal;
        font-family: Calibre, Arial, sans-serif;
        margin-bottom: 0px;
    }

    .mnoDropdown .mnoDropdownContent article a {
        border: 0px none;
        box-shadow: none;
        width:90%;
    }

    .mnoDropdown .mnoDropdownContent div.published * {
        font-size: 12px;
        font-weight: normal;
    }

    .mnoDropdown .mnoDropdownContent .scrollBox .gridRow{
        padding: 7px;
        font-size: 0.7em;
        border-bottom: 1px #000000 solid;
        z-index: 9999;
    }

    .mnoDropdown .mnoDropdownContent .scrollBox .gridRow:last-child {
        border-bottom: none;
    }

    .scrollBox {
        padding-top: 5px;
        text-align: left;
    }
}