.paywall.login {
    display: inline-block;
}

.authenticated .paywall.login {
    display:none;
}

.paywall.login .button {
    border-radius: 0 3px 3px 0;
        border-radius:0 .1875rem .1875rem 0;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    height:37px;
        height: 2.3125rem;
    line-height:32px; /*<ie8*/
    line-height: 2rem;
    text-shadow:none;
    padding: 3px 16px 0;
        padding: 0.1875rem 1rem 0;
    user-select: none;
    vertical-align: middle;

}

.paywall.login .button:before {
    font-size: 24px; /*<ie8*/
    font-size: 1.5rem;
    vertical-align: top;
}

.ie .paywall.login .button:before {
    position:relative;
    top:-16px;
}

@media all and (max-width:640px){
    .paywall.login {
        display:none;
    }
}