/* plus icon*/

.icon.lock {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
}

.icon.lock.noPicture {
    display:none;
    position: relative;
    top: 0;
    left: 0;
}

/* only "+" icon */
.media {
    position: relative;
}
.icon.lock.closed {
    display: inline-block;
    background: url("/skins/publications/sa/gfx/icons/plusicon.png") no-repeat 0 0;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    height: 25px;
    width: 25px;
}