.mobileStories img.mostShared {
    margin: 5px 0;
    width: 108px;
        height: 20px;
}

/* live studio video icon */
.stories .preview .latestNews li {
    overflow: hidden;
}
.stories .preview .latestNews img {
    top: 0;
    width: auto;
}

/* Dice on reviews. Default off. Overrided in publication CSS */
span.reviewScore {
    display: none;
}