.mobileStories .teaserContent {
    color: #fff;
    margin-top:5px;
    position: absolute;
}

.mobileStories .teaserContent span {
    background-color:#000;
        background-color:rgba(0,0,0,.5);
    float:left;
    line-height: 1;
    padding:4px 5px 1px;
}

.mobileStories .teaserContent .moreToFollow,
.mobileStories .teaserContent .icon {
    clear:left;
}

.mobileStories .teaserContent time,
.mobileStories .teaserContent > span {
    background-color: rgba(0,0,0,0.65);
    float: left;
    padding: 2px 5px;
    margin: 10px 1px 0 0;
}

.mobileStories .teaserContent > span.reviewScore {
    background-color: #fff;
    -moz-border-radius: .1em;
    -webkit-border-radius: .1em;
    border-radius: .1em;
    padding: 0;
    margin-left: 10px;
    width: .9em;
    line-height: .9em;
}

.mobileStories .teaserContent .moreToFollow {
    background-color: #cc2028;
    color: #fff;
}

.mobileStories .teaserContent .moreToFollow:before {
    background:none;
    display:none;
}

.mobileStories .teaserContent .icon,
.mobileStories .teaserContent .moreToFollow {
    font-weight: normal;
}

.mobileStories .teaserContent .video span {
    text-transform: uppercase;
}

/* article teaser icons - lock, favourite */
.mobileStories .teaserStatus {
    float:right;
    position:relative;
    right:30px;
    width:0;
}

.mobileStories .teaserStatus .icon {
    position: absolute;
}

.mobileStories .teaserStatus .icon.favourite {
    background: #009fda;
    color:#fff;
    line-height: 30px !important;
    top:0;
    left:0;
    width:24px;
    height:30px;
}
.mobileStories .teaserStatus .icon.favourite.opened {
    left: -35px;
}

.mobileStories .teaserStatus .icon.favourite.saved {
    background: #ccc;
}

.mobileStories .teaserStatus .icon.favourite:after {
    border-left:12px solid #009fda;
    border-right:12px solid #009fda;
    border-bottom:5px solid transparent;
    content:' ';
    position:absolute;
    left:0;
    bottom:-5px;
    width: 0;
    height:5px;
}

.mobileStories .teaserStatus .icon.favourite.saved:after {
    border-left-color: #ccc;
    border-right-color: #ccc;
}

.mobileStories .teaserStatus .icon.lock.closed,
.mobileStories .teaserStatus .icon.lock.opened {
    top:10px;
    left:-5px;
}

.mobileStories .timestamp {
    background-color: #333;
    color: white;
    float: left;
    font-size: 12px;
    padding: 0 4px;
    margin-right: 5px;
}

/* Lists */
/* General Start */
.widget.mobileStories.list * {
    padding: 0;
    margin: 0;
}

.widget.mobileStories.list section {
    padding: 0;
    margin: 8px 2px 2px 2px;
    line-height: normal;
}

.widget.mobileStories.list h2 {
    padding: 0;
    margin: 2px 0;;
    line-height: 110%;
}
/* General Stop */

/* 1 and 1 Start */
.widget.mobileStories.list section.split1 {
    width: 100%;
    margin: 10px 2px 2px 2px;
}

.widget.mobileStories.list section.split1 img.left {
    width: 32%;
    margin: 0 5px 0 0;
    float:left;
}

.widget.mobileStories.list section.split1 img.right {
    width: 32%;
    margin: 0 0 0 5px;
    float:right;
}

.widget.mobileStories.list section.split1 h2 {
    font-size: 22px;
}

.widget.mobileStories.list section.split1 .teaserText  {
    font-size: 18px;
}
/* 1 and 1 End */

/* 2 and 2 Start */
.widget.mobileStories.list section.split2 {
    width: 49%;
}

.widget.mobileStories.list section.split2 h2 {
    font-size: 19px;
}

.widget.mobileStories.list section.split2 .teaserText  {
    font-size: 15px;
}
/* 2 and 2 End */

/* 3 and 3 Start */
.widget.mobileStories.list section.split3 {
    width: 32%;
}

.widget.mobileStories.list section.split3 h2 {
    font-size: 15px;
}

.widget.mobileStories.list section.split3 .teaserText  {
    font-size: 13px;
}
/* 3 and 3 End */

/** Chat article start**/
.widget.mobileStories.chatArticle .article {
    border-top: 1px solid #ccc;
    padding: 10px 0 5px !important;
    margin: 0 10px !important;
}

.widget.mobileStories.chatArticle hgroup h3 {
    font-size: 14px;
}
.widget.mobileStories.chatArticle hgroup h2 {
    font-size: 17px;
}

.widget.mobileStories.chatArticle aside {
    display:none;
}

.widget.mobileStories.chatArticle img {
    float: right;
    width: auto;
    max-height: 75px;
}
.widget.mobileStories.chatArticle img.left {
    float: left;
    margin-right: 10px;
}
.widget.mobileStories.chatArticle img.right {
    float: right;
    margin-left: 10px;
}
/** Chat article end **/