/*
    black: #000000
    blue: #123466
    lightBlue: #6C8CC7
    green: #9AAE06
    red: #9C2727
    brown: #533128
    orange: #vv
*/

.artTheme,
.rowTheme {
    background-color: #e8ebf0;
        border-bottom: 4px solid #123466;
        border-top: 4px solid #123466;
    position:relative;
    text-shadow:none;
}

.artTheme {
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.gridRow.rowTheme {
    margin-bottom:15px;
}

#viewport .rowTheme.noThemeHeadline,
#viewport .artTheme.noThemeHeadline {
    border-top: 0 none;
    border-bottom: 0 none;
}

.rowTheme .themeHeadline h1,
.artTheme .themeHeadline h2 {
    background-color:#123466;
    color: #fff;
    font-family:"Arial Black", arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-shadow: none;
        text-transform: uppercase;
        line-height: 20px;
    margin: 0;
    padding:  0 10px;
    position:absolute;
        left:0;
        top:-4px;
}

.artTheme.hasThemeHeadline,
.rowTheme.hasThemeHeadline {
    padding-top:23px;
}

.artTheme.noThemeHeadline,
.artTheme.noThemeHeadline h2,
.artTheme.noThemeHeadline h3,
.artTheme.noThemeHeadline .header h3,
.artTheme.noThemeHeadline a,
.artTheme.noThemeHeadline a:hover,
.artTheme.noThemeHeadline a:visited,
.artTheme.noThemeHeadline a:active,
.rowTheme.noThemeHeadline,
.rowTheme.noThemeHeadline h2,
.rowTheme.noThemeHeadline h3,
.rowTheme.noThemeHeadline .header h3,
.rowTheme.noThemeHeadline a,
.rowTheme.noThemeHeadline a:hover,
.rowTheme.noThemeHeadline a:visited,
.rowTheme.noThemeHeadline a:active{
    color:#fff;
}

.artTheme.hasThemeHeadline,
.artTheme.hasThemeHeadline h2,
.artTheme.hasThemeHeadline h3,
.artTheme.hasThemeHeadline .header h3,
.artTheme.hasThemeHeadline a,
.artTheme.hasThemeHeadline a:hover,
.artTheme.hasThemeHeadline a:visited,
.artTheme.hasThemeHeadline a:active{
    color:#000;
}

.artTheme.hasThemeHeadline .themeHeadline h2 {
    color: #fff;
}

/* Negativ */
.negativ .themeHeadline h1,
.artTheme.negativ .themeHeadline h2 {
    background-color:#000;
}

.rowTheme.negativ.hasThemeHeadline,
.artTheme.negativ.hasThemeHeadline {
    background-color: #444;
    border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    padding-top: 23px;
}

.artTheme.negativ {
    padding: 5px 10px;
}

.artTheme.negativ.hasThemeHeadline,
.artTheme.negativ.hasThemeHeadline h2,
.artTheme.negativ.hasThemeHeadline h3,
.artTheme.negativ.hasThemeHeadline .header h3,
.artTheme.negativ.hasThemeHeadline a,
.artTheme.negativ.hasThemeHeadline a:hover,
.artTheme.negativ.hasThemeHeadline a:visited,
.artTheme.negativ.hasThemeHeadline a:active{
    color:#fff;
}

/* blue - standard colors */
.blue.noThemeHeadline {
    background: #123466;
}

.blue .header h1,
.blue .header h2,
.blue .header h3 {
    background-color: #123466;
}

/* Light Blue */
.rowTheme.lightBlue,
.artTheme.lightBlue {
    background: #f1f4fa;
    border-color: #6c8cc7;
}

.rowTheme.lightBlue > .themeHeadline h1,
.artTheme.lightBlue > .themeHeadline h2 {
    background: #6c8cc7;
}

.lightBlue.noThemeHeadline {
    background: #6c8cc7;
}

.lightBlue .header h1,
.lightBlue .header h2,
.lightBlue .header h3 {
    background-color: #6c8cc7;
}

/* lightGray */
.rowTheme.lightGray,
.artTheme.lightGray {
    background: #fbfcfd;
    border-color: #dae1e8;
}

.rowTheme.lightGray > .themeHeadline h1,
.artTheme.lightGray > .themeHeadline h2 {
    background: #dae1e8;
    color:#000;
}

.lightGray.noThemeHeadline {
    background: #dae1e8;
}

.noThemeHeadline.lightGray,
.noThemeHeadline.lightGray h2,
.noThemeHeadline.lightGray h3,
.noThemeHeadline.lightGray .header h3,
.noThemeHeadline.lightGray a,
.noThemeHeadline.lightGray a:hover,
.noThemeHeadline.lightGray a:visited,
.noThemeHeadline.lightGray a:active {
    color:#000;
    text-shadow:none;
}

.lightGray .header h1,
.lightGray .header h2,
.lightGray .header h3 {
    background-color: #dae1e8;
}

/* Sprek */
.rowTheme.sprek,
.artTheme.sprek {
    background: #f0f7ec;
    border-color: #69b13f;
}

.rowTheme.sprek > .themeHeadline h1,
.artTheme.sprek > .themeHeadline h2 {
    background:url(/skins/global/gfx/themes/sprek_logo_small.png) no-repeat left center #69b13f;
    text-indent:-10000px;
    width:37px;
}

.rowTheme.sprek .header h1,
.rowTheme.sprek .header h2,
.rowTheme.sprek .header h3,
.artTheme.sprek .header h1,
.artTheme.sprek .header h2,
.artTheme.sprek .header h3 {
    background-color: #f0f7ec;
}

/* Reise */
.rowTheme.reise > .themeHeadline h1,
.artTheme.reise > .themeHeadline h2 {
    background:url(/skins/global/gfx/themes/reise_logo_small.png) left center no-repeat #9AAE06;
    text-indent:-10000px;
    width:34px;
        height:20px;
}

.rowTheme.reise,
.artTheme.reise {
    background: #f5f7e7;
    border-color: #9aae06;
}

.rowTheme.reise .header h1,
.rowTheme.reise .header h2,
.rowTheme.reise .header h3,
.artTheme.reise .header h1,
.artTheme.reise .header h2,
.artTheme.reise .header h3 {
    background-color: #f5f7e7;
}

/* Din mat*/
.rowTheme.dinmat > .themeHeadline h1,
.artTheme.dinmat > .themeHeadline h2 {
    background:url(/skins/global/gfx/themes/dinmat_logo_small.png) left center no-repeat #c54218;
    text-indent:-10000px;
    width:34px;
        height:20px;
}

.rowTheme.dinmat,
.artTheme.dinmat {
    background: #f9ece8;
    border-color: #c54218;
}

.rowTheme.dinmat .header h1,
.rowTheme.dinmat .header h2,
.rowTheme.dinmat .header h3,
.artTheme.dinmat .header h1,
.artTheme.dinmat .header h2,
.artTheme.dinmat .header h3 {
    background-color: #f9ece8;
}

/* Blogg */
.rowTheme.blogg > .themeHeadline h1,
.artTheme.blogg > .themeHeadline h2 {
    background:url(/skins/global/gfx/themes/blogg_logo_small.png) left center no-repeat #533128;
    text-indent:-10000px;
    width:32px;
        height:20px;
}

.rowTheme.blogg,
.artTheme.blogg {
    background: #eeebea;
    border-color: #533128;
}

.rowTheme.blogg .header h1,
.rowTheme.blogg .header h2,
.rowTheme.blogg .header h3,
.artTheme.blogg .header h1,
.artTheme.blogg .header h2,
.artTheme.blogg .header h3 {
    background-color: #eeebea;
}

/* energi */
.rowTheme.energi > .themeHeadline h1,
.artTheme.energi > .themeHeadline h2 {
    background:url(/skins/global/gfx/themes/energi_logo_small_1503.png) left center no-repeat #15243e;
    text-indent:-10000px;
    width:54px;
        height:20px;
}

.rowTheme.energi,
.artTheme.energi {
    background: #e8ebf0;
    border-color: #15243e;
}

.rowTheme.energi .header h1,
.rowTheme.energi .header h2,
.rowTheme.energi .header h3,
.artTheme.energi .header h1,
.artTheme.energi .header h2,
.artTheme.energi .header h3 {
    background-color: #e8ebf0;
}

/* familie seksjon */
body#sa.nyttefamilie h1.sectionTitle a {
    font-family: 'Arial Narrow',Arial,sans-serif;
    letter-spacing: -2px;
    font-stretch: semi-condensed;
}

/* plus theme */
.closed {
    position: relative;
}
#viewport .rowTheme.plus,
.rowTheme.plus {
    background-color: #fff;
    border-bottom: 5px solid #036;
    border-top: none;
    padding: 0 0 10px;
    margin: 0 0 15px;
    position:relative;
    overflow: hidden;
}

#viewport .rowTheme.plus.noThemeHeadline:before,
.rowTheme.plus.noThemeHeadline:before {
    content: '';
    background :url("/skins/publications/sa/gfx/sa-logo.png") no-repeat 690px center #036;
    border-bottom-right-radius: .5em;
    display:block;
    height:43px;
    margin-bottom:5px;
    position:relative;
}

@media screen and (max-width: 640px) {
    .rowTheme.plus:before,
    .rowTheme.plus:after,
    .rowTheme.plus .themeHeadline {
        display: none !important;
    }
}

#viewport .rowTheme.plus.noThemeHeadline,
.rowTheme.plus.noThemeHeadline,
.rowTheme.plus a,
#viewport .rowTheme.plus a {
    color:#000;
}

.rowTheme.plus .themeHeadline {
    height: 43px;
    background-color: #036;
    margin-bottom: 5px;
    padding: 0 20px;
    position: relative;
    border-bottom-right-radius: .5em;
}
.rowTheme.plus .themeHeadline h1 {
    position: static;
    line-height: 43px;
    background-color: transparent;
    padding: 0;
}
.rowTheme.plus.noThemeHeadline:after,
.rowTheme.plus .themeHeadline:after,
.rowTheme.plus .themeHeadline:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 43px;
    visibility: visible;
}

.rowTheme.plus.noThemeHeadline:after,
.rowTheme.plus .themeHeadline:after {
    /*background: url("/skins/publications/sa/gfx/icons/plusicon.png") no-repeat center bottom;*/
    content: '\e033';
    color:#fff;
    font-family: 'icon';
        font-size:25px;
        font-size:1.5rem;
        line-height: 43px;
        text-align: center;
    width: 43px;
    border-left: 2px solid #fff;
}

.ie .rowTheme.plus.noThemeHeadline:after,
.ie .rowTheme.plus .themeHeadline:after {
    line-height: 0.6;
}

.rowTheme.plus .themeHeadline:before {
    right: 60px;
    background: url("/skins/publications/sa/gfx/sa-logo.png") no-repeat left center;
    width: 235px;
}

.plus a {
    color:#000 !important;
}