.widget.classifiedBox.horizontal .headlineWrap {
    background: #2771aa;
    background: -moz-linear-gradient(top, #2771aa 0%, #122358 100%);
    background: -webkit-linear-gradient(top, #2771aa 0%, #122358 100%);
    background: -o-linear-gradient(top, #2771aa 0%, #122358 100%);
    background: -ms-linear-gradient(top, #2771aa 0%, #122358 100%);
    background: linear-gradient(top, #2771aa 0%, #122358 100%);
}

.widget.classifiedBox.horizontal .headlineWrap .categoriesList {
    float: left;
    margin-left: 35px;
}

.widget.classifiedBox.horizontal .categories li {
    border: 0;
}

.widget.classifiedBox.horizontal .categories li a, .widget.classifiedBox.horizontal .categories li span, .widget.classifiedBox.horizontal .categories li strong {
    border-right: 1px solid rgba(64, 139, 196, 0.4);
    border-left: 1px solid rgba(35, 56, 122, 0.4);
    color: white;
    float: left;
    font-size: 12px;
    padding: 5px 7px;
    text-shadow: none;
}

.widget.classifiedBox.horizontal .categories li strong {
    border: 0;
    display: block;
    font-size: 14px;
    padding-right: 70px;
}

.widget.classifiedBox.horizontal .categories li span {
    border-left: 0;
    display: block;
    font-weight: bold;
}

.widget.classifiedBox.horizontal .categories li.selected a, .widget.classifiedBox.horizontal .categories li a:hover {
    background: #408bc4;
    background: -moz-linear-gradient(top, #408bc4 0%, #23387a 100%);
    background: -webkit-linear-gradient(top, #408bc4 0%, #23387a 100%);
    background: -o-linear-gradient(top, #408bc4 0%, #23387a 100%);
    background: -ms-linear-gradient(top, #408bc4 0%, #23387a 100%);
    background: linear-gradient(top, #408bc4 0%, #23387a 100%);
}

.widget.classifiedBox.horizontal .carouselHolder {
    background-color: #1d4485;
}

.span2 .widget.classifiedBox.horizontal .carouselHolder {
    width: 100px;
}

.span3 .widget.classifiedBox.horizontal .carouselHolder {
    width: 200px;
}

.span4 .widget.classifiedBox.horizontal .carouselHolder {
    width: 300px;
}

.span5 .widget.classifiedBox.horizontal .carouselHolder {
    width: 400px;
}

.span6 .widget.classifiedBox.horizontal .carouselHolder {
    width: 500px;
}

.span7 .widget.classifiedBox.horizontal .carouselHolder {
    width: 600px;
}

.span8 .widget.classifiedBox.horizontal .carouselHolder {
    width: 700px;
}

.span9 .widget.classifiedBox.horizontal .carouselHolder {
    width: 800px;
}

.span10 .widget.classifiedBox.horizontal .carouselHolder {
    width: 900px;
}

.widget.classifiedBox.horizontal .carouselHolder .itemList li {
    height: 260px;
    margin: 0;
    width: 225px;
}

.widget.classifiedBox.horizontal .carouselHolder .listNavHolder {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    background-color: rgba(255, 255, 255, 0.4);
    height: 260px;
    top: 0;
    width: 39px;
}

.ie .widget.classifiedBox.horizontal .carouselHolder .listNavHolder {
    background-color: #e6e6e6;
}

.widget.classifiedBox.horizontal .carouselHolder .listNavHolder .listNav {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none transparent;
    border: 0 none;
    font-size: 70px;
    font-weight: bold;
    height: 100%;
    margin: 0;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.ie7 .widget.classifiedBox.horizontal .carouselHolder .listNavHolder .listNav span {
    height: 39px;
    line-height: 39px;
}

.ie8 .widget.classifiedBox.horizontal .carouselHolder .listNavHolder .listNav span {
    height: 39px;
    line-height: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .widget.classifiedBox.horizontal .carouselHolder .listNavHolder .listNav span {
        font-weight: normal;
    }
}

.ie9 .widget.classifiedBox.horizontal .carouselHolder .listNavHolder .listNav span {
    height: 35px;
    line-height: 40px;
}

.widget.classifiedBox.horizontal .itemWrap {
    height: 260px;
    width: 225px;
}

.widget.classifiedBox.horizontal .itemWrap .itemInner {
    background-color: #1d4485;
}

.widget.classifiedBox.horizontal .itemWrap .itemInner .listPrice {
    background-color: #1d4485;
}

.widget.classifiedBox.horizontal .itemWrap .itemInner .listPrice:before, .widget.classifiedBox.horizontal .itemWrap .itemInner .listPrice:after {
    background-color: #457FCC;
    content: "+";
}

.widget.classifiedBox.horizontal .itemWrap .itemInner .listPrice span {
    background-color: #1d4485;
}