#header .topMainMenu {
    margin-top:9px;
}

#header .topMainMenu a,
.smallHeader a,
#serviceMenu a {
    background: none;
    color:#fff;
    font-family:'ClanWeb', Arial, sans-serif;
        font-weight:normal;
        letter-spacing: -.5px;
    padding:0;
}

.ie #header .topMainMenu a,
.ie .smallHeader a,
.ie #serviceMenu a {
    font-family:'ClanWebNormal', Arial, sans-serif;
}

#header .topMainMenu a,
.smallHeader a {
    font-size:18px;
        font-weight:normal;
    margin-left:16px;
    padding-bottom: 5px;
}

#header .topMainMenu ul {
    float:right;
}

.standardMenu a {
    height: auto;
}

/* tab */
.standardMenu .tab {
    border-bottom: 2px solid #000;
}

.standardMenu .tab .activeSection a {
    border: 2px solid #000;
    border-bottom: 2px solid #fff;
}

/* drop down */
.standardMenu li:hover ul {
    left: -10000px;
    z-index:599;
}
.standardMenu li.hover ul {
    left: auto;
    z-index:599;
}

.standardMenu ul ul {
    background: rgba(0,10,24,0.9); /*#000a18*/
    -moz-box-shadow: 3px 2px 21px #222; /*#34aac2*/
        -webkit-box-shadow: 3px 2px 21px #222;
        box-shadow: 3px 2px 21px #222;
}

.standardMenu ul ul a,
#header .standardMenu ul ul a,
#smallHeader .standardMenu ul ul a {
	font-size: 16px;
	padding: 5px 15px;
        margin: 0;
}
.standardMenu ul ul li:last-child a,
#header .standardMenu ul ul li:last-child a,
#smallHeader .standardMenu ul ul li:last-child a {
	padding-bottom: 10px;
}

.sectionHeader .standardMenu ul ul,
#header .sectionHeader .standardMenu ul ul {
    margin-left: -10px;
}

.sectionHeader .standardMenu ul ul a,
#header .sectionHeader .standardMenu ul ul a {
    padding: 5px 15px;
        margin: 0;
}
.sectionHeader .standardMenu ul ul li:last-child a,
#header .sectionHeader .standardMenu ul ul li:last-child a {
    padding-bottom: 10px;
}

#smallHeader ul ul {
    margin-left: 8px;
}

/* small header */
.smallHeader {
    background-color: #000a18;
    border-bottom: 1px solid #000;
    -moz-box-shadow: 0 0 15px #222;
        -webkit-box-shadow: 0 0 15px #222;
        box-shadow: 0 0 15px #222;
}

#smallHeader .logo {
    background:url(/skins/publications/ap/gfx/sprite_2.png) 0 -50px no-repeat;
    margin: 4px 0;
    width:20px;
        height:20px;
}

#smallHeader .logo img {
    display:none;
}

#smallHeader a {
    text-decoration: none;
}

#smallHeader a:hover {
    text-decoration: underline;
}

/* service menu */
#serviceMenu {
    position:absolute;
        top:-15px;
        right:210px;
}

#serviceMenu li {
    border-left: 1px solid #ccc;
    margin-left:5px;
    padding-left:5px;
}

#serviceMenu li:first-child {
    border-left: 0 none;
}

#serviceMenu a {
    color:#000;
    display:block;
    font-size:13px;
        font-weight:normal;
}

/* sectionHeader */
#header .sectionHeader .topMainMenu a,
.sectionHeader .standardMenu ul ul a,
#header .sectionHeader .standardMenu ul ul a {
    color:#fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin: 0 20px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#header .sectionHeader .topMainMenu ul {
    float: left;
}

/* Service Box */
#header .serviceBox {
    margin-top:47px;
}

#serviceBox {
    background: #222;
        background-image:-moz-linear-gradient(top, #222, #000);
        background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #222), color-stop(1, #000));
        background-image:-webkit-linear-gradient(top, #222,#000);
        background-image:linear-gradient(top, #222, #000);
    height: 30px;
    overflow: hidden;
    padding: 5px 10px;
}

#serviceBox ul {
    background: url(/skins/publications/ap/gfx/sprite_2.png) 0 -70px no-repeat;
    height:30px;
    overflow: hidden;
    padding-left:35px;
}

.serviceBox a {
    background: none;
    color:#fff;
    font-family: "clanWeb", arial, sans-serif;
        font-size: 14px;
        font-weight:normal;
        letter-spacing: -1px;
        line-height: 1;
        text-decoration: none;
    padding: 0 10px 0 0;
}

#serviceBox a {
    border-left: 1px solid rgba(0,0,0,1);
        border-right: 1px solid rgba(255,255,255,.1);
    font-size: 19px;
    height:22px;
    padding: 8px 35px 0;
}

.ie .serviceBox a {
    font-family: 'clanWebNormal', arial, sans-serif;
}

#serviceBox li:first-child a {
    border-left: 0 none;
}

#serviceBox li:last-child a {
    border-right: 0 none;
}

.serviceBox a[href *= "/jobb"],
.serviceBox a[href *= "/bolig"],
.serviceBox a[href *= "bil.aftenposten"] {
    color:#acc7d7;
}

.serviceBox a[href *= "/reise"] {
    color:#afca0b;
}

@media only screen and (max-width : 1180px) {
    body #serviceMenu {
        right: 520px;
    }
    #header .serviceBox {
        border-left: 2px solid #000;
        height:19px;
        margin-top:0;
        padding-left:10px;
        position:absolute;
            top:-21px;
            right:168px;
        width:auto;
    }

    #header .serviceBox a  {
        border-left: 1px solid #ccc;
        height:14px;
        padding: 5px 9px 0 10px;
    }

    #header .serviceBox .mat a {
        color:#000;
    }

    #header .serviceBox .familie a {
        color:#000;
    }

    #header .serviceBox li:first-child a {
        border-left: 0 none;
        padding-left:0;
    }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
    body #serviceMenu {
        background-color: transparent;
            top: -26px;
            right: 320px;
            left: auto;
        width: auto;
    }
    #header .serviceBox {
            top:-26px;
            right:0;
    }
}