<ul class="articleList">
    {{each(i,value) items}}
        <li>
            <a target="_top" href="${adUrl}?jobAdId=${value.jobAdId}&adTitle=${value.adTitle}&cName=${value.company.name}&catText=&att={{if (value.adTeaserText !== undefined)}}${value.adTeaserText.xmlCDataContent}{{/if}}">
                {{html value.adTitle}}
            </a>
            <span>{{html value.company.name}}</span>
        </li>
    {{/each}}
</ul>
<footer>
    <a href="${allJobsUrl}">Se alle stillinger</a>
</footer>
