<ul class="articleList">
    {{each(i,value) items}}
        <li>
			<div>
			<div class="jobIcon">
            <a target="_top" href="{{html adUrl}}?jobAdId=${value.jobAdId}&adTitle=${value.adTitle}&cName=${value.company.name}&catText=&att={{if (value.adTeaserText !== undefined)}}${value.adTeaserText.xmlCDataContent}{{/if}}">
                {{if (value.company.companyLogos.length !== 0)}}
                    <img src="http://${lisaLevel}.aftenposten.no/utils/img.php?src=${value.company.companyLogos[value.company.companyLogos.length-1].companyLogoPath}&width=100" alt="{{html value.company.name}}"/>
                {{else}}
                    {{html value.company.name}}
                {{/if}}
            </a>
			</div>
			<div class="jobText">
            <a target="_top" class="f-bold block" href="${adUrl}?jobAdId=${value.jobAdId}&adTitle=${value.adTitle}&cName=${value.company.name}&catText=&att={{if (value.adTeaserText !== undefined)}}${value.adTeaserText.xmlCDataContent}{{/if}}">
                {{html value.adTitle}}
            </a>
            {{if (value.adTeaserText !== undefined)}}
                <p class="f-small">
                    {{html value.adTeaserText.xmlCDataContent}}
                </p>
            {{/if}}
            {{if (value.generic2 !== undefined)}}
                {{html value.generic2.xmlCDataContent}}
            {{/if}}
			</div>
			</div>
        </li>
    {{/each}}
</ul>
<footer>
    <a href="${allJobsUrl}">Se flere...</a>
</footer>