.list a {
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.list header{
	background : url(/skins/publications/farsund/gfx/logos_sprite.png);
	background-repeat:no-repeat;
	padding-left: 83px;
	border:none;
}

.list header h2, .feed header h2 {
	padding-left:10px; 
	background-color: black;
	font-weight:bold;
	color:white;
	text-transform:uppercase;
	line-height: 22px;
}
.hoverFix {
    padding-right: 40px;
}