.sectionPage .span3 .list.simple .content {
    height:118px;
    overflow:hidden;
}

.sectionPage .span3 .list.simple .content:hover {
    overflow-y:auto;
}

.sectionPage .span3 .list.simple .content a, .sectionPage .span3 .list.simple .content a time, .list .withDate time,  .list .withDate a {
    font-size: 12px;
    color: black;
    font-weight: 500;
}
.sectionPage .span3 .list.simple .content a, {
	padding-right:19px;
}

.sectionPage .span3 .list.simple .content:hover a {
    padding-right:0;
}
.singleLineList .content li {
	border-bottom:none;
}
