/* video archive panel */
.xstream {
    width: 110%;
}
.xstream .video-side-nav {
    float: left;
    clear: none;
    width: 230px;
}
.xstream input.video-search {
    background: #001a20 url('/skins/publications/farsund/gfx/share-icons.png') no-repeat 97% -71px;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border-color: #448898;
    font-size: 18px;
    width: 100%;
    height: 35px;
    line-height: 35px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 34px 9px 10px;
    margin: 0 0 15px;

}
.xstream input[type=search] {
    -moz-appearance:textfield;
    -webkit-appearance: textfield;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
.xstream .categories {
    margin-bottom: 35px;
}
.xstream .categories li,
.xstream .categories li a {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
}
.xstream .categories li a,
.xstream .paging a {
    background: transparent;
    border-radius: 0;
}
.xstream .video-nav-group {
    margin-bottom: 35px;
}
.xstream .video-nav-group a,
.xstream .categories li a {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2px;
    display: block;
    padding-left: 11px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}
.xstream .categories li li a {
    padding-left: 22px;
}
.xstream .categories li a.selected,
.xstream .paging a.selected,
.xstream .categories li a.active,
.xstream .paging a.active {
    background-color: #448898;
}
.xstream .video-nav-group a.active:after,
.xstream .categories li a.active:after,
.xstream .categories li a.selected:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 15px solid #448898;
    position: absolute;
    right: -15px;
    top: 0;
}
.xstream .video-nav-group a:hover,
.xstream .categories li a:hover {
    color: #448898;
}
.xstream .video-nav-group a.active:hover,
.xstream .categories li a.active:hover,
.xstream .categories li a.selected:hover {
    color: #fff;
}


.xstream ul.videos {
    width: 750px;
    clear: right;
    float: left;
    margin-left: 20px;
    background: #001a20;
}
.xstream .videos li {
    width: 230px;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 25px;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.xstream .videos li .media {
    margin-bottom: 10px;
}
.xstream .videos li img {
    display: block;
    width: 100%;
    height: auto;
}
.xstream .videos li h3 {
    font-size: 18px;
    font-weight: bold;
}
.xstream .videos li a, .xstream .videos li a:hover {
    color: #fff;
}
.xstream .videos li:hover img {
    opacity: 0.8;
}