<div class="address">${obj.properties.address1}, ${obj.properties.addressPostcode} ${obj.properties.postalName}</div>
<h1>${obj.heading}</h1>
<div class="lastUpdate">Endret: ${dateString} ${timeString}</div>
<div class="finnkode clearfix">Finnkode: ${obj.properties['property.adId']}</div>
