<header>Annen info</header>
<ul class="features">
    {{each info}}
    <li class="clearfix">
        <span class="label">${label}</span>
        <span class="value">${value}</span>
    </li>
    {{/each}}
</ul>