#exchangeRates thead tr {
    color: #222;
        font-size: 11px;
    padding: 0 4px;
}

#exchangeRates th.value, #exchangeRates td.value {
    text-align: right;
    width: 70px;
}

#exchangeRates .positive {
    color: #0066cc;
}
#exchangeRates .negative {
    color: #cc0000;
}