.tvGuide header.header a.floatRight {
    background: #fff;
    color: #000;
        font-family: "Arial Black",Arial,sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 1px 1px #ddd;
        text-transform: uppercase;
    margin-top: -7px;
        padding-left: 3px;
}

.tvGuide .selected {
    background-color: #f0f4f8;
}