.jobIframe iframe {
    margin-left: -10px; /* temp!!!*/
}

.jobSearchResults h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}

.jobSearchResults .result ul {
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
}

.jobSearchResults .result li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left-width: 4px;
    border-left-style: solid;
    clear: both;
    float: left;
    margin-bottom: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.jobSearchResults .result li:hover .jobAdShare {
    right: 0;
}

.jobSearchResults a:hover {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    -khtml-transition: none;
    -o-transition: none;
    transition: none;
}

.jobSearchResults .result .wrapLink {
    background-color: #f7f7f7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 216px;
    position: relative;
    z-index: 0;
    -moz-transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
    -webkit-transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
    -ms-transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
    -khtml-transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out,border-left-color 250ms ease-in-out;
}

.jobSearchResults .result li .wrapLink:hover,.jobAdShare:hover + .wrapLink {
    background-color: #f0f0f0;
    border-left-color: #333;
    /*-webkit-filter: invert(5%) grayscale(100%);*/
}

.jobAdShare {
    background-color: #fff;
    float: left;
    position: absolute;
    right: -54px;
    width: 54px;
    z-index: 1;
    -moz-transition: right 250ms ease-in;
    -webkit-transition: right 250ms ease-in;
    -ms-transition: right 250ms ease-in;
    -khtml-transition: right 250ms ease-in;
    -o-transition: right 250ms ease-in;
    transition: right 250ms ease-in;
}

.jobSearchResults .jobAdShare a {
    -moz-transition: opacity 250ms ease-in;
    -webkit-transition: opacity 250ms ease-in;
    -ms-transition: opacity 250ms ease-in;
    -khtml-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
}

.jobSearchResults .entryWrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 476px;
    height: 100%;
    overflow: hidden;
    padding: 20px 20px 15px 15px;
    position: relative;
}

.entryWrap .icon {
    bottom: 10px;
    position: absolute;
    width: 40%;
    text-indent: 26px;
}

.entryWrap .icon:before {
    background-image: url(/skins/global/gfx/icons/job2_sprite.png);
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    float: left;
    content: '';
}

.entryWrap .icon_building {
    width: 70%;
}

.entryWrap .icon_calendar {
    -moz-transition: margin-right 250ms ease-in;
    -webkit-transition: margin-right 250ms ease-in;
    -ms-transition: margin-right 250ms ease-in;
    -khtml-transition: margin-right 250ms ease-in;
    -o-transition: margin-right 250ms ease-in;
    transition: margin-right 250ms ease-in;
    right: 4%;
    width: 21%;
}

.jobSearchResults .wrapLink:hover .icon_calendar,.jobSearchResults .jobAdShare:hover + .wrapLink .icon_calendar {
    margin-right: 54px;
}

.jobSearchResults .imageWrap {
    width: 180px;
    height: 100%;
    background-color: #fff;
    position: relative;
    float: left;
    border-width: 0 10px;
    border-style: solid;
    border-color: #fff;
}

.jobSearchResults .result li img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.jobSearchResults .entryWrap h2 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
}

.jobSearchResults .result ul li > div div {
    color: #4D4D4D;
    font-size: 11pt !important;
}

.jobSearchResults a {
    font-style: normal;
    text-decoration: none;
}

.jobSearchResults .resultsMessage {
    float: left;
}

.jobSearchResults .result {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    float: left;
    width: 100%;
}

.jobSearchResults .pagination {
    clear: both;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
}

.jobSearchResults .pagination > *,
.jobSearchResults .pagination ul li {
    float: left;
    line-height: 25px;
}
.jobSearchResults .pagination ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    color: #000;
    cursor: default;
    text-align: center;
    width: 25px;
}
.jobSearchResults .pagination button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    margin: 0;
    padding: 0;
    text-shadow: none;
    width: 25px;
}

/*.jobSearchResults .pagination button:hover {
    opacity: 0.75;
}*/

.jobSearchResults .pagination ul li button.selected {
    text-shadow: none;
}

.jobSearchResults .pagination {
    margin: 10px auto;
}

.jobSearchResults .pagination .navBtn {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0 10px;
    width: auto;
}

.jobSearchResults select,
.jobSearchResults div.pillBox,
.jobSearchResults div.pillBox input,
.jobSearchResults div.pillBox span {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
    margin: 0;
    padding: 0 4px;
}

.jobSearchResults div.pillBox,.jobSearchResults div.pillBox + .sort_by {
    width: 130px!important;
}

.jobSearchResults div.pillBox input[type=text] {
    text-align: center;
    width: 100px!important;
}

.jobSearchResults .relative.right {
    position: relative;
    top: -35px;
}

.jobSearchResults .extraMessage.warning {
    background: #fe6;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 6px;
    margin: 0 0 10px;
}